@using Microsoft.AspNet.Identity
@using EDR.Utilities;
@model EDR.Models.ViewModels.ChangePasswordViewModel


@{
    ViewBag.Title = "Change Password";
}

<style>
    input {
        max-width: 100% !important;
        width: 100% !important;
    }
</style>
<div class="container-fluid">
    <div class="center-block col-lg-6 col-md-6 text-center" style="float: none;">
        <h1>Change Password</h1>
        @if (ViewBag.Message != null)
        {
            <h4 class="text-danger">@ViewBag.Message</h4>
        }

        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ResetPasswordCode)
            <div class="panel panel-default">
                <div class="panel-body bg-info">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @if (!User.Identity.GetNewPassword())
                    {
                        <div class="form-group">
                            <div class="col-lg-8 col-md-8 center-block" style="float: none;">
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Type Old Password" })
                                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <div class="col-lg-8 col-md-8 center-block" style="float: none;">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "Type New Password" })
                            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-8 col-md-8 center-block" style="float: none;">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Re-Type New Password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-8 col-md-8 center-block" style="float: none;">
                            <input type="submit" value="Change password" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
