@using EDR.Models.ViewModels
@model LoginViewModel

@{
    ViewBag.Title = "Log in to Eat. Dance. Repeat.";
}

<div class="row">
    <div class="col-md-6 col-lg-6">
        <div style="text-align: center;">
            <h2 style="padding-bottom: 20px;">@ViewBag.Title</h2>
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4 class="linebehind" style="padding: 20px; width: 100%;">Or</h4>
                <h4>Use a local account</h4>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-danger" />
                        @Html.ActionLink("Forgot your password?", "ForgotPassword", null, new { @style = "padding-left: 30px;" })
                    </div>
                </div>
                //Enable this once you have account confirmation enabled for password reset functionality
                <p>
                </p>
            }
        </section>
    </div>
    <div class="col-md-6 col-lg-6">
        <p style="padding: 50px; text-align: center;">
            <a class="btn btn-primary btn-lg" href="@Url.Action("Register")">Create a New Account</a>
        </p>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}