@using EDR.Models.ViewModels
@model LoginViewModel

@{
    ViewBag.Title = "Log in to Eat. Dance. Repeat.";
}
<div class="container">
    <div class="center-block col-md-6 text-center" style="float: none;">
        <h1>Login to Your Account</h1>
        <div class="panel panel-default">
            <div class="panel-body bg-info">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
                </section>
                <h4 class="linebehind">OR</h4>
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Login with your Email</h4>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-lg-8 center-block" style="float: none;">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "width: 100% !important; max-width: 100% !important;", @placeholder = "Your Email Address" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-8 center-block" style="float: none;">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @style = "width: 100% !important; max-width: 100% !important;", @placeholder = "Your Password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-8 center-block" style="float: none;">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                    @Html.ActionLink("Forgot your password?", "ForgotPassword", null, new { @style = "padding-left: 30px;" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-8 center-block" style="float: none;">
                                <input type="submit" value="Log in" class="btn btn-primary" style="max-width: 100% !important; width: 100% !important;" />
                            </div>
                        </div>
                        <div>
                            Don't have an account? <a class="btn btn-link" href="@Url.Action("Register")">Create an Account</a>
                        </div>
                        //Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                        </p>
                    }
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}