@using EDR.Models.ViewModels
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "My Account";
}

<h2 class="page-header">@ViewBag.Title.</h2>


    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/Dancer/@User.Identity.Name">View Your Dancer Profile</a></li>
            @if(User.IsInRole("Owner"))
            {
                <li><a href="/Owner/@User.Identity.Name">View Your Owner Profile</a></li>
            }
            @if (User.IsInRole("Teacher"))
            {
                <li><a href="/Teacher/@User.Identity.Name">View Your Teacher Profile</a></li>
            }
            @if (User.IsInRole("Promoter"))
            {
                <li><a href="/Promoter/@User.Identity.Name">View Your Promoter Profile</a></li>
            }
        </ul>
    </div>
    <div class="col-md-9">
        @*<p class="text-success">@ViewBag.StatusMessage</p>*@
            <div id="password" class="tab-pane active">
                @if (ViewBag.HasLocalPassword)
                {
                    @Html.Partial("_ChangePasswordPartial")
                }
                else
                {
                    @Html.Partial("_SetPasswordPartial")
                }
            </div>
            <div id="externallogin" class="tab-pane">
                <section id="externalLogins">
                    @Html.Action("RemoveAccountList")
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
     </div>





    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
