@using EDR.Models.ViewModels
@using Microsoft.AspNet.Identity;
@using DayPilot.Web.Mvc;

<script src="@Url.Content("~/Scripts/DayPilot/daypilot-all.min.js")" type="text/javascript"></script>
@{
    ViewBag.Title = "My Account";
}

<h2 class="page-header">@ViewBag.Title.</h2>


    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/Dancer/@User.Identity.Name">View Your Dancer Profile</a></li>
            @if(User.IsInRole("Owner"))
            {
                <li><a href="/Owner/@User.Identity.Name">View Your Owner Profile</a></li>
            }
            else
            {
                <li>@Html.ActionLink("Apply to become an Owner", "Apply", "Owner")</li>
            }
            @if (User.IsInRole("Teacher"))
            {
                <li><a href="/Teacher/@User.Identity.Name">View Your Teacher Profile</a></li>
            }
            else
            {
                <li>@Html.ActionLink("Apply to become a Teacher", "Apply", "Teacher")</li>
            }
            @if (User.IsInRole("Promoter"))
            {
                <li><a href="/Promoter/@User.Identity.Name">View Your Promoter Profile</a></li>
            }
            else
            {
                <li>@Html.ActionLink("Apply to become a Promoter", "Apply", "Promoter")</li>
            }
        </ul>
    </div>
    <div class="col-md-9">
        <ul class="nav nav-tabs" role="tablist" id="accountTab">
            <li><a href="#myinfo" role="tab" data-toggle="tab">My Info</a></li>
            <li><a href="#linkedAccounts" role="tab" data-toggle="tab">Linked Accounts</a></li>
            <li><a href="#passwordReset" role="tab" data-toggle="tab">Password Reset</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade" id="myinfo">
                <div class="note">
                    <a href="javascript:dp.commandCallBack('previous');">Previous</a> |
                    <a href="javascript:dp.commandCallBack('today');">Today</a> |
                    <a href="javascript:dp.commandCallBack('next');">Next</a>
                </div>
                @Html.DayPilotMonth("dp", new DayPilotMonthConfig
                {
                    BackendUrl = Url.Content("~/Account/Backend"),
                })
            </div>
            <div class="tab-pane fade" id="linkedAccounts">
                <section id="externalLogins">
                    @Html.Action("RemoveAccountList")
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
            <div class="tab-pane fade" id="passwordReset">
                @*<p class="text-success">@ViewBag.StatusMessage</p>*@
                @if (ViewBag.HasLocalPassword)
                {
                    @Html.Partial("_ChangePasswordPartial")
                }
                else
                {
                    @Html.Partial("_SetPasswordPartial")
                }
            </div>
        </div>
     </div>




    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
