@model EDR.Models.ViewModels.ResetPasswordViewModel

@{
    ViewBag.Title = "Password Reset - Eat. Dance. Repeat.";
}

<div class="container">
    <div class="center-block col-md-6 text-center" style="float: none;">
        <h1>Reset your password.</h1>
        <div class="panel panel-default">
            <div class="panel-body bg-info">
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", @autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Code)
                    //Keep These To Fake out Autocomplete
                    <input type="text" style="display: none;" />
                    <input type="password" style="display: none;" />
                    //Keep These To Fake out Autocomplete
                    <div class="form-horizontal centerform">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-lg-8 center-block">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Your Email Address" } )
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-8 center-block">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Type your Password", @autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-8 center-block">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Re-type your Password", @autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-8 center-block">
                                <input type="submit" class="btn btn-primary" value="Reset" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
