@model EDR.Models.Class
@using EDR.Utilities

@{
    ViewBag.Title = "Class Details";
}

<h1 class="page-header">@Model.Name <small>at @Html.ActionLink(@Model.Place.Name, "Details", "Place", new { id = Model.Place.Id }, null)</small></h1>

<p class="lead">@Model.Description</p>

<p>
    @if (Model.Recurring)
    {
        <strong>Next Class:</strong> @ApplicationUtility.GetNextDate(Model.StartDate, Model.Frequency, Model.Interval, Model.Day).ToLongDateString()<br />
        <strong>Time:</strong> @Model.StartDate.ToString("%h:mm tt")@:~@Model.StartDate.AddMinutes(Model.Duration).ToString("%h:mm tt")<br />
        <strong>Frequency:</strong> @Model.Day @:(@(Model.Interval == null ? "" : (Model.Interval == 2 ? "Bi-" : (Model.Interval == 3 ? "Tri-" : "")))@Model.Frequency)
    }
    else
    {
        @:<strong>Date/Time:</strong> @Model.StartDate.ToLongDateString() - @Model.StartDate.ToShortTimeString() to @Model.StartDate.AddMinutes(Model.Duration).ToShortTimeString()
    }
</p>
<p>
    <a href='@Model.FacebookLink' target="_blank">@Model.FacebookLink</a>
</p>
<strong>Dance Styles</strong>
<ul class="list-inline">
    @foreach (var item in Model.DanceStyles)
    {
        <li>@Html.ActionLink(item.Name, "Details", "DanceStyle", new { id = item.Id }, null)</li>
    }
</ul>
<strong>Teacher(s):</strong>
<ul class="list-inline">
    @foreach (var item in Model.Teachers)
    {
        <li>@Html.ActionLink(item.ApplicationUser.FullName, "View", "Teacher", new { username = item.ApplicationUser.UserName }, null)</li>
    }
</ul>
@if (User.Identity.IsAuthenticated)
{
<p>
    @Html.ActionLink("Add to Your Calendar", "Signup", "Event", new { id = Model.Id }, null)
</p>
}
<strong>Reviews</strong>
<ul>
    @foreach (var r in Model.Reviews)
    {
        <li>@Html.DisplayFor(modelItem => r.ReviewDate) - @Html.DisplayFor(modelItem => r.ReviewText)<br />Rating: @Html.DisplayFor(modelItem => r.Rating)<br />Author: @Html.DisplayFor(modelItem => r.Author.FirstName)</li>
    }
</ul>
@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Add a Review", "CreateReview", new { id = Model.Id }, null)
}
<p>
    @Html.ActionLink("Back to List", "Learn", "Home")
</p>
