@model EDR.Models.ViewModels.RelatedEvents
@using EDR.Models
@using EDR.Enums

<div class="panel panel-default">
    <h4 class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Related @(Model.EventType == EDR.Enums.EventType.Class ? "Classes" : "Socials")</h4>
    <div class="panel-body">
        @if (Model.Events != null)
        {
            foreach (var evt in Model.Events)
            {
                <a class="btn btn-default" href="@Url.Action("View", "Event", new { id = evt.Id, eventType = evt is Class ? EventType.Class : EventType.Social })" title="@evt.Name" style="text-align: left; width: 100%; display: inline-block; margin-top: 2px;">
                    <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <span class="label label-primary">@evt.NextDate.ToString("ddd, M/d")</span>
                        <span class="text-primary">@evt.Name.PadRight(20, ' ').Substring(0, 20)</span>
                        <span class="text-danger">@@@evt.Place.Name</span>
                    </div>
                </a>
                    @*<div class="col-lg-12 col-md-12 row" style="margin-top: 5px; ">
                        <div class="col-lg-4 col-md-4" style="height: 75px;">
                            @if (e.VideoUrl != null)
                            {
                                @Html.Partial("~/Views/Shared/_VideoPlayerPartial.cshtml", new Video() { PhotoUrl = e.PhotoUrl, VideoUrl = e.VideoUrl })
                            }
                            else
                            {
                                if (e.PhotoUrl != null)
                                {
                                    <a target="_blank" href="@Url.Content(e.PhotoUrl)">
                                        <div class="croppedpic" style="display: block; max-height: 100%; max-width: 100%;">
                                            <img src="@Url.Content(e.PhotoUrl)" />
                                        </div>
                                    </a>
                                }
                                else
                                {
                                    <div class="croppedpic" style="display: block; max-height: 100%; max-width: 100%;">
                                        <img src="~/Content/images/class.jpg" />
                                    </div>
                                }
                            }
                        </div>
                        <div class="col-lg-8 col-md-8">
                            <a class="btn btn-info" href="@Url.Action("View", "Event", new { id = e.Id, eventType = Model.EventType })" title="@e.Name" style="text-align: left; width: 100%;">
                                @e.Name.PadRight(20, ' ').Substring(0, 20)<br />
                                @e.Place.City<br />
                                @e.NextDate.ToString("ddd, MMM dd, yyyy")
                            </a>
                        </div>
                    </div>*@
            }
        }
    </div>
</div>
