@model EDR.Models.ViewModels.PlaceViewModel
@using EDR.Models
@using EDR.Utilities
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = Model.Place.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{string ctrName = ViewContext.RouteData.Values["action"].ToString();}

<div class="container" style="padding: 10px;">
    <div class="row">
        <h1 class="page-header">
            @Model.Place.Name <span class="small">(@Model.Place.PlaceType)</span>
            @if (User.Identity != null && Model.Place.Owners.Where(o => o.ApplicationUser.UserName == User.Identity.Name).Count() == 1)
            {
                @*<a style="font-size: medium;" href="@Url.Action("Edit", "Dancer")">Edit Profile</a>*@
                <a class="btn btn-info" title="Edit Place" href="@Url.Action("Edit", "Place")">
                    <i class="glyphicon glyphicon-pencil" style="vertical-align: middle;"></i>
                    Edit
                </a>
            }
        </h1>
    </div>
    <div class="well col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div style="text-align: center;">
                    @if (Model.Place.Filename != null)
                    {
                        <img class=" img-thumbnail" src="@Url.Content(Model.Place.Filename)" />
                    }
                    else
                    {
                        <img class=" img-thumbnail" src="~/Content/images/NoImage.png" />
                    }
                    @if (User.Identity != null && Model.Place.Owners.Where(o => o.ApplicationUser.UserName == User.Identity.Name).Count() == 1)
                    {
                        <p>
                            <a style="font-size: small;" href="@Url.Action("ChangePicture", "Place")">Change Picture</a>
                        </p>
                    }
                </div>
            </div>
            <div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>
                        <a href="https://www.google.com/maps/place/3rd+Street+Dance/@("@" + Model.Place.Latitude),@Model.Place.Longitude,17z" target="_blank">
                            <img src="https://maps.googleapis.com/maps/api/staticmap?center=@Model.Place.Latitude,@Model.Place.Longitude&zoom=10&size=250x100&maptype=roadmap&markers=color:red%7Clabel:A%7C @Model.Place.Latitude, @Model.Place.Longitude">
                        </a>
                    </p>
                </div>
                <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    </div>
                </div>
                <div class="row text-center">
                    @if (Model.Place.FacebookId != null)
                    {
                        <a class="img-thumbnail" href='https://www.facebook.com/@Model.Place.FacebookId' target="_blank" title="Visit On Facebook">
                            <img class="img-rounded" src="@Url.Content("~/Content/images/facebookSmall.png")" style="height: 30px;" />
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li @if (ctrName == "Home") { <text> class="active" </text>           }><a href="@Url.Action("Home", "Place", new { id = Model.Place.Id })"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                    <li @if (ctrName == "Socials") { <text> class="active" </text>          }><a href="@Url.Action("Socials", "Place", new { id = Model.Place.Id })"><i class="glyphicon glyphicon-globe"></i> Socials</a></li>
                    <li @if (ctrName == "Classes") { <text> class="active" </text>           }><a href="@Url.Action("Classes", "Place", new { id = Model.Place.Id })"><i class="glyphicon glyphicon-book"></i> Classes</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "List")
</p>
