@model EDR.Models.ViewModels.PlaceDetailViewModel
@using EDR.Models
@using EDR.Utilities
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = Model.Place.Name;
}
@Html.HiddenFor(model => model.Place.Id)

<h1 class="page-header">
    @Model.Place.Name
    @if (User.Identity != null && Model.Place.Owners.Where(x => x.ApplicationUser.UserName == User.Identity.Name).FirstOrDefault() != null)
    {
        <a style="font-size: medium;" href="@Url.Action("Edit", "Place", new { id = Model.Place.Id })">Edit @Model.Place.Name</a>
    }
    <a style="font-size: medium;" href="@Url.Action("List", "Place")">View all Places</a>
</h1>
<p class="lead">
    <a target="_blank" href='https://www.google.com/maps/place/@Url.Encode(Model.Place.Address + " " + Model.Place.Address2 + " " + Model.Place.City + " " + Model.Place.State + " " + Model.Place.Zip)'>
        @Model.Place.Address,
        @Model.Place.City,
        @Model.Place.State
        @Model.Place.Zip
    </a>
</p>
<p>
    @Html.Label("Facebook:", htmlAttributes: new { @class = "control-label col-md-2" })<a href='@Model.Place.FacebookLink' target="_blank">@Model.Place.FacebookLink</a><br />
</p>
<p>
    @Html.Label("Website:", htmlAttributes: new { @class = "control-label col-md-2" })<a href='@Model.Place.Website' target="_blank">@Model.Place.Website</a><br />
</p>
<p>
    @Html.Label("Owners:", htmlAttributes: new { @class = "control-label col-md-2" })
    @if (Model.Owners != null)
    {
        foreach (var t in Model.Owners)
        {
            @Html.ActionLink(t.ApplicationUser.FullName, "View", "Owner", new { username = t.ApplicationUser.UserName }, null)
        }
    }<br />
</p>
<p>
    @using (Html.BeginForm("Details", "Place", FormMethod.Get))
    {
        @Html.Label("Choose a Dance Style:", htmlAttributes: new { @class = "control-label col-md-2" })@Html.DropDownListFor(x => x.DanceStyleId, Model.DanceStyleList, "All", new { @class = "form-control" })
        @Html.Label("Choose a Teacher:", htmlAttributes: new { @class = "control-label col-md-2" })@Html.DropDownListFor(x => x.TeacherId, Model.TeacherList, "All", new { @class = "form-control" })
        @Html.Label("Choose Skill Level:", htmlAttributes: new { @class = "control-label col-md-2" })@Html.EnumDropDownListFor(x => x.SkillLevel, "All", new { @class = "form-control" })
        <input type="submit" value="Search" class="btn btn-primary" />
    }
</p>
<div class="tabbable">
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="active"><a href="#learn" data-toggle="tab">Learn</a></li>
        <li><a href="#dance" data-toggle="tab">Dance</a></li>
    </ul>
    <div class="tab-content">
        <div id="learn" class="tab-pane active">
            <h4>
                Available Classes
                @if (User.Identity != null)
                {
                    if (Model.Place.Teachers.Any(x => x.ApplicationUser.UserName == User.Identity.Name))
                    {
                        <a style="font-size: small;" href="@Url.Action("Create", "Event", new { role = "Teacher", eventType = "Class", placeId = Model.Place.Id }, null)">Add a Class</a>
                    }
                    else if (Model.Place.Owners.Any(x => x.ApplicationUser.UserName == User.Identity.Name))
                    {
                        <a style="font-size: small;" href="@Url.Action("Create", "Event", new { role = "Owner", eventType = "Class", placeId = Model.Place.Id }, null)">Add a Class</a>
                    }
                }
            </h4>
            @Html.Partial("~/Views/Shared/_EventListPartial.cshtml", Model.Classes)
            <h4>
                Available Workshops
                @if (User.Identity != null)
                {
                    if (Model.Place.Teachers.Any(x => x.ApplicationUser.UserName == User.Identity.Name))
                    {
                        <a style="font-size: small;" href="@Url.Action("Create", "Event", new { role = "Teacher", eventType = "Workshop", placeId = Model.Place.Id }, null)">Add a Workshop</a>
                    }
                    else if (Model.Place.Owners.Any(x => x.ApplicationUser.UserName == User.Identity.Name))
                    {
                        <a style="font-size: small;" href="@Url.Action("Create", "Event", new { role = "Owner", eventType = "Workshop", placeId = Model.Place.Id }, null)">Add a Workshop</a>
                    }
                }
            </h4>
            @Html.Partial("~/Views/Shared/_EventListPartial.cshtml", Model.Workshops)
        </div>
        <div id="dance" class="tab-pane">
            <h4>
                Socials
                @if (User.Identity != null)
                {
                    if (Model.Place.Owners.Any(x => x.ApplicationUser.UserName == User.Identity.Name))
                    {
                        <a style="font-size: small;" href="@Url.Action("Create", "Event", new { role = "Owner", eventType = "Social" }, null)">Add a Social</a>
                    }
                }
            </h4>
            @Html.Partial("~/Views/Shared/_EventListPartial.cshtml", Model.Socials)
            <h4>
                Concerts
                @if (User.Identity != null)
                {
                    if (Model.Place.Owners.Any(x => x.ApplicationUser.UserName == User.Identity.Name))
                    {
                        <a style="font-size: small;" href="@Url.Action("Create", "Event", new { role = "Owner", eventType = "Concert" }, null)">Add a Concert</a>
                    }
                }
            </h4>
            @Html.Partial("~/Views/Shared/_EventListPartial.cshtml", Model.Concerts)
            <h4>
                Conferences
                @if (User.Identity != null)
                {
                    if (Model.Place.Owners.Any(x => x.ApplicationUser.UserName == User.Identity.Name))
                    {
                        <a style="font-size: small;" href="@Url.Action("Create", "Event", new { role = "Owner", eventType = "Conference" }, null)">Add a Conference</a>
                    }
                }
            </h4>
            @Html.Partial("~/Views/Shared/_EventListPartial.cshtml", Model.Conferences)
            <h4>
                Open Houses
                @if (User.Identity != null)
                {
                    if (Model.Place.Owners.Any(x => x.ApplicationUser.UserName == User.Identity.Name))
                    {
                        <a style="font-size: small;" href="@Url.Action("Create", "Event", new { role = "Owner", eventType = "OpenHouse" }, null)">Add a Open House</a>
                    }
                }
            </h4>
            @Html.Partial("~/Views/Shared/_EventListPartial.cshtml", Model.OpenHouses)
            <h4>
                Parties
                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <a style="font-size: small;" href="@Url.Action("Create", "Event", new { role = "Dancer", eventType = "Party" }, null)">Add a Party</a>
                }
            </h4>
            @Html.Partial("~/Views/Shared/_EventListPartial.cshtml", Model.Parties)
        </div>
    </div>
</div>
