@model EDR.Models.ViewModels.PlaceViewModel
@using EDR.Models
@using EDR.Utilities
@using Microsoft.AspNet.Identity
@using MvcCheckBoxList.Model

@{
    ViewBag.Title = Model.Place.Name + " at Eat.Dance.Repeat.";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("All Places", "List", "Place")</li>
    <li class="active">Place Details</li>
</ol>

<div class="container">
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-lg-4 nospace">
            <div id="dimg" style="height: 250px; width: 100%; background-repeat: no-repeat; background-image: url(@Model.Place.Filename)">
                @*<a id="limg" target="_blank" href="https://maps.google.com/?q=@Model.Place.Latitude,@Model.Place.Longitude">
                <img class="fitpicture" id="pimg" />
            </a>*@
            </div>
        </div>
        <div class="col-lg-8">
            <h2>@Model.Place.Name</h2>
            <h4>@Model.Place.PlaceType</h4>
            <p>
                <div id="parentc">
                    <input id="rv" type="hidden" class="ratingval" />
                    <div id="placerating" class="rateYo"></div>
                </div>
            </p>
            <p>
                @if (Model.Place.Website != null)
                {
                    <a class="img-thumbnail" href='@Model.Place.Website' target="_blank" title="Visit Me On the Web"><img src="@Url.Content("~/Content/images/web.png")" /></a>
                }
            </p>
            <p>
                <div id="styles">
                </div>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 nospace">
            <div class="col-lg-12 nospace panel panel-default" style="margin-bottom: 20px !important;">
                <img style="max-width: 100%;" src="https://maps.googleapis.com/maps/api/staticmap?center=@Model.Place.Latitude,@Model.Place.Longitude&zoom=10&size=450x150&maptype=roadmap&markers=color:red%7Clabel:A%7C @Model.Place.Latitude, @Model.Place.Longitude&key=@System.Configuration.ConfigurationManager.AppSettings["GoogleAPIKey"]" title="@Model.Place.City, @Model.Place.State">
                <div class="panel-body">
                    <p class="text-primary">
                        <div id="location">
                            @Model.Place.City, @Model.Place.State
                        </div>
                    </p>
                </div>
            </div>
            <div class="col-lg-12 nospace" style="margin-bottom: 20px !important;">
                <h4>Dancers</h4>
                <div class="row">
                    <div id="dancers"></div>
                </div>
                <hr />
            </div>
            <div class="col-lg-12 nospace" style="margin-bottom: 20px !important;">
                <h4>Teachers</h4>
                <div class="row">
                    <div id="teachers"></div>
                </div>
                <hr />
            </div>
            <div class="col-lg-12 nospace" style="margin-bottom: 20px !important;">
                <h4>Promoters</h4>
                <div class="row">
                    <div id="promoters"></div>
                </div>
                <hr />
            </div>
            <div class="col-lg-12 nospace" style="margin-bottom: 20px !important;">
                <h4>Owners</h4>
                <div class="row">
                    <div id="owners"></div>
                </div>
                <hr />
            </div>
            <div class="col-lg-12 nospace panel panel-default" style="margin-bottom: 20px !important;">
                <h4>Schools</h4>
                <div id="schools">
                </div>
            </div>
            <div class="col-lg-12 nospace panel panel-default" style="margin-bottom: 20px !important;">
                <div class="panel-body">
                    <h4>Performance Teams</h4>
                    <div id="teams">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 nospace">
            <div class="col-lg-12" style="margin-bottom: 20px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Classes/Workshops</h3>
                        <div id="classes">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12" style="margin-bottom: 20px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Socials</h3>
                        <div id="socials">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="map"></div>
@section Scripts
{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryUI")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/Content/jquery.rateyo.css" />
    <script src="~/Scripts/jquery.rateyo.js"></script>
    <script src="~/Scripts/jquery-simple-pagination-plugin.js"></script>
    @*<link href="~/Content/Simple-Pagination.css" rel="stylesheet" />*@
@Scripts.Render("~/bundles/GeoComplete")
<script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places&key=@System.Configuration.ConfigurationManager.AppSettings["GoogleAPIKey"]"></script>

    <script>
        function LoadClasses() {
            $.get('@Url.Action("GetClassesPartial", "Place")', { 'id': '@Model.Place.Id' }, function (data) {
                $("#classes").empty();
                $("#classes").html(data);
                BuildRatingStars();
            });
        }
        function LoadSocials() {
            $.get('@Url.Action("GetSocialsPartial", "Place")', { 'id': '@Model.Place.Id' }, function (data) {
                $("#socials").empty();
                $("#socials").html(data);
                BuildRatingStars();
            });
        }
        function LoadDancers() {
            $.get('@Url.Action("GetDancersPartial", "Place")', { 'id': '@Model.Place.Id' }, function (data) {
                $("#dancers").empty();
                $("#dancers").html(data);
            });
        }
        function LoadTeachers() {
            $.get('@Url.Action("GetTeachersPartial", "Place")', { 'id': '@Model.Place.Id' }, function (data) {
                $("#teachers").empty();
                $("#teachers").html(data);
            });
        }
        function LoadOwners() {
            $.get('@Url.Action("GetOwnersPartial", "Place")', { 'id': '@Model.Place.Id' }, function (data) {
                $("#owners").empty();
                $("#owners").html(data);
            });
        }
        function LoadPromoters() {
            $.get('@Url.Action("GetPromotersPartial", "Place")', { 'id': '@Model.Place.Id' }, function (data) {
                $("#promoters").empty();
                $("#promoters").html(data);
            });
        }
        function LoadSchools() {
            $.get('@Url.Action("GetSchoolsPartial", "Place")', { 'id': '@Model.Place.Id' }, function (data) {
                $("#schools").empty();
                $("#schools").html(data);
            });
        }
        function LoadTeams() {
            $.get('@Url.Action("GetTeamsPartial", "Place")', { 'id': '@Model.Place.Id' }, function (data) {
                $("#teams").empty();
                $("#teams").html(data);
            });
        }
        function BuildPlace() {
            var map;
                map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: -33.8666, lng: 151.1958 },
                    zoom: 15
                });

                var request = {
                    placeId: '@Model.Place.GooglePlaceId'
                };

                service = new google.maps.places.PlacesService(map);
                service.getDetails(request, callback);

                function callback(place, status) {
                    if (status == google.maps.places.PlacesServiceStatus.OK) {
                        //$('#pimg').prop('src', place.photos[0].getUrl({'maxWidth': 600, 'maxHeight': 600 }));
                        //alert(place.photos[0].getUrl({ 'maxWidth': 600, 'maxHeight': 600 }));
                        if (place.photos != null && place.photos.length > 0)
                        {
                            var url = place.photos[0].getUrl({ 'maxWidth': 600, 'maxHeight': 600 });
                            $('#dimg').css('background-image', 'url(' + url + ')');
                        }
                        //alert($('#dimg').css('background-image'));
                        $('#location').text(place.formatted_address);
                        if (place.rating != null)
                        {
                            $('#rv').val(place.rating);
                            $("#placerating").rateYo("rating", place.rating);
                            $("#placerating").rateYo("option", "readOnly", true);
                        }
                        else
                        {
                            $("#placerating").rateYo("rating", "0");
                            $("#placerating").rateYo("option", "readOnly", true);
                        }
                    }
                    else
                    {
                        alert("error");
                    }
                }
        }

$(document).ready(function () {
        LoadClasses();
        LoadSocials();
        LoadDancers();
        LoadTeachers();
        LoadOwners();
        LoadPromoters();
        LoadSchools();
        LoadTeams();
        BuildPlace();
});
function BuildRatingStars() {
        $(".rateYo").rateYo({
        starWidth: "18px",
        ratedFill: "#FFD700",
        normalFill: "#ccc",
        onInit: function (rating, rateYoInstance) {
            var t = $(this);
            $(this).rateYo("option", "rating", t.parent('div').find('.ratingval').prop('value'));
            $(this).rateYo("option", "readOnly", true);
        }
    });
}
    </script>
}