@model EDR.Models.ViewModels.PlaceListViewModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Places</h2>

<div class="tabbable">
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="active"><a href="#studios" data-toggle="tab">Studios (@Model.Places.Where(x => x.PlaceType == EDR.Enums.PlaceType.Studio).Count().ToString())</a></li>
        <li><a href="#restaurants" data-toggle="tab">Restaurants (@Model.Places.Where(x => x.PlaceType == EDR.Enums.PlaceType.Restaurant).Count().ToString())</a></li>
        <li><a href="#hotels" data-toggle="tab">Hotels (@Model.Places.Where(x => x.PlaceType == EDR.Enums.PlaceType.Hotel).Count().ToString())</a></li>
        <li><a href="#nightclubs" data-toggle="tab">Nightclubs (@Model.Places.Where(x => x.PlaceType == EDR.Enums.PlaceType.Nightclub).Count().ToString())</a></li>
        <li><a href="#conferencecenters" data-toggle="tab">Conference Centers (@Model.Places.Where(x => x.PlaceType == EDR.Enums.PlaceType.ConferenceCenter).Count().ToString())</a></li>
        <li><a href="#theaters" data-toggle="tab">Theaters (@Model.Places.Where(x => x.PlaceType == EDR.Enums.PlaceType.Theater).Count().ToString())</a></li>
    </ul>
    <div class="tab-content">
        <div id="studios" class="tab-pane active">
            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Address
                    </th>
                </tr>

                @foreach (var item in Model.Places.Where(x => x.PlaceType == EDR.Enums.PlaceType.Studio))
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Name, "Home", "Place", new { id = item.Id }, null)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                            @Html.DisplayFor(modelItem => item.Address2)<br />
                            @Html.DisplayFor(modelItem => item.City),  
                            @Html.DisplayFor(modelItem => item.State)  
                            @Html.DisplayFor(modelItem => item.Zip)
                        </td>
                    </tr>
                }

            </table>
        </div>
        <div id="theaters" class="tab-pane">
            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Address
                    </th>
                </tr>

                @foreach (var item in Model.Places.Where(x => x.PlaceType == EDR.Enums.PlaceType.Theater))
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Name, "Home", "Place", new { id = item.Id }, null)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                            @Html.DisplayFor(modelItem => item.Address2)<br />
                            @Html.DisplayFor(modelItem => item.City),
                            @Html.DisplayFor(modelItem => item.State)
                            @Html.DisplayFor(modelItem => item.Zip)
                        </td>
                    </tr>
                }

            </table>
        </div>
        <div id="restaurants" class="tab-pane">
            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Address
                    </th>
                </tr>

                @foreach (var item in Model.Places.Where(x => x.PlaceType == EDR.Enums.PlaceType.Restaurant))
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Name, "Home", "Place", new { id = item.Id }, null)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                            @Html.DisplayFor(modelItem => item.Address2)<br />
                            @Html.DisplayFor(modelItem => item.City),
                            @Html.DisplayFor(modelItem => item.State)
                            @Html.DisplayFor(modelItem => item.Zip)
                        </td>
                    </tr>
                }

            </table>
        </div>
        <div id="nightclubs" class="tab-pane">
            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Address
                    </th>
                </tr>

                @foreach (var item in Model.Places.Where(x => x.PlaceType == EDR.Enums.PlaceType.Nightclub))
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Name, "Home", "Place", new { id = item.Id }, null)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                            @Html.DisplayFor(modelItem => item.Address2)<br />
                            @Html.DisplayFor(modelItem => item.City),
                            @Html.DisplayFor(modelItem => item.State)
                            @Html.DisplayFor(modelItem => item.Zip)
                        </td>
                    </tr>
                }

            </table>
        </div>
        <div id="hotels" class="tab-pane">
            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Address
                    </th>
                </tr>

                @foreach (var item in Model.Places.Where(x => x.PlaceType == EDR.Enums.PlaceType.Hotel))
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Name, "Home", "Place", new { id = item.Id }, null)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                            @Html.DisplayFor(modelItem => item.Address2)<br />
                            @Html.DisplayFor(modelItem => item.City),
                            @Html.DisplayFor(modelItem => item.State)
                            @Html.DisplayFor(modelItem => item.Zip)
                        </td>
                    </tr>
                }

            </table>
        </div>
        <div id="conferencecenters" class="tab-pane">
            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Address
                    </th>
                </tr>

                @foreach (var item in Model.Places.Where(x => x.PlaceType == EDR.Enums.PlaceType.ConferenceCenter))
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Name, "Home", "Place", new { id = item.Id }, null)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                            @Html.DisplayFor(modelItem => item.Address2)<br />
                            @Html.DisplayFor(modelItem => item.City),
                            @Html.DisplayFor(modelItem => item.State)
                            @Html.DisplayFor(modelItem => item.Zip)
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

