@model EDR.Models.ViewModels.ManageSchoolViewModel

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>School</h4>
    <hr />
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-default">
            <div class="panel-body ">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.School.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.School.Name)
                    </dd>

            <dt>
                @Html.DisplayNameFor(model => model.School.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.School.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.School.FacebookLink)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.School.FacebookLink)
            </dd>

            @*<dt>
        @Html.DisplayNameFor(model => model.School.Public)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.School.Public)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.School.DateStarted)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.School.DateStarted)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.School.Address)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.School.Address)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.School.Address2)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.School.Address2)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.School.City)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.School.City)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.School.State)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.School.State)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.School.Zip)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.School.Zip)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.School.Country)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.School.Country)
    </dd>*@
                </dl>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6">
        <div class="panel panel-default">
            <div class="panel-body ">
                <h3>Members</h3>
                @using (Html.BeginForm("UpdateMembers", "School", FormMethod.Post))
                {
                    @Html.HiddenFor(model => model.School.Id)
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Admin</th>
                                <th></th>
                            </tr>
                        </thead>
                        @Html.EditorFor(model => model.School.Members)
                    </table>
                    @*<table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Admin</th>
                                <th></th>
                            </tr>
                        </thead>
                        @for (int i = 0; i < Model.School.Members.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Html.HiddenFor(model => model.School.Members.ToList()[i].Id)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.School.Members.ToList()[i].User.FirstName)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.School.Members.ToList()[i].Admin)
                                </td>
                            </tr>
                        }
                    </table>*@
                    <div>
                        <input type="submit" value="Update Members" />
                    </div>
                }
                @*@Html.Partial("~/Views/School/_UpdateMembersPartial.cshtml", Model.School.Members, new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "Members" }})

               @{
                    WebGrid grid = new WebGrid(source: Model.School.Members, canPage: false);                   
                }
                @using (Html.BeginForm("UpdateMembers", "School", FormMethod.Post))
                {
                    @Html.HiddenFor(model => model.School.Id)
                    <div>
                        @grid.GetHtml(
                                    tableStyle: "gridtable",
                                    htmlAttributes: new { id = "checkableGrid" },
                                    columns: grid.Columns
                                    (
                                    grid.Column(format: @<text> <input type="checkbox" value="@item.UserId" @(item.Admin ? "checked='checked'" : "") name="userids" /> </text>, header: "Admin"
                                    ),
                                    grid.Column("User.FullName", "Name")
                                    )
                                )
                    </div>
                    <div>
                        <input type="submit" value="Update Members" />
                    </div>
                }

                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Admin</th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.School.Members)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(member => item.User.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(member => item.Admin)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "View", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </table>*@
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-default">
            <div class="panel-body ">
                <h3>Tickets</h3>
                @Html.ActionLink("Add Ticket", "AddTicket", "School", new { id = Model.School.Id }, null)
                <table class="table">
                    <thead>
                        <tr>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Related Event</th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.School.Tickets)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(member => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(member => item.Price)
                            </td>
                            <td>
                                @if (item.Event != null)
                                {
                                    @item.Event.Name
                                }
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "EditTicket", new { id = item.Id }) |
                                @Html.ActionLink("Details", "ViewTicket", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "DeleteTicket", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-default">
            <div class="panel-body ">
                <h3>Classes</h3>
                @Html.ActionLink("Add a Class", "Create", "Event", new { eventType = EDR.Enums.EventType.Class, schoolId = Model.School.Id, role = EDR.Enums.RoleName.Teacher }, null)
                <table class="table">
                    <thead>
                        <tr>
                            <th>Class</th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.School.Classes)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(member => item.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Manage", "Manage", "Event", new { id = item.Id, eventType = EDR.Enums.EventType.Class }, null)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>




<p>
    @Html.ActionLink("Back to School", "View", new { id = Model.School.Id })
</p>
<p>
    @Html.ActionLink("Back to List", "List")
</p>
