@model EDR.Models.ViewModels.ViewSchoolViewModel

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div class="container-fluid">
    <h4>School</h4>
    @if (Model.Member != null && Model.Member.Admin)
    {
        <p>
            @Html.ActionLink("Manage", "Manage", "School", new { id = Model.School.Id }, null)
        </p>
    }
    @if (Model.Member == null)
    {
        <p>
            @Html.ActionLink("Join", "Join", "School", new { id = Model.School.Id }, null)
        </p>
    }
    else
    {
        <p>
            Member
        </p>
    }
    <hr />
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-default">
            <div class="panel-body ">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.School.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.School.Name)
                    </dd>

            <dt>
                @Html.DisplayNameFor(model => model.School.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.School.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.School.FacebookLink)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.School.FacebookLink)
            </dd>

            @*<dt>
        @Html.DisplayNameFor(model => model.School.Public)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.School.Public)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.School.DateStarted)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.School.DateStarted)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.School.Address)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.School.Address)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.School.Address2)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.School.Address2)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.School.City)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.School.City)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.School.State)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.School.State)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.School.Zip)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.School.Zip)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.School.Country)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.School.Country)
    </dd>*@
                </dl>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6">
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-default">
            <div class="panel-body ">
                <h3>Tickets</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Quantity</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Related Event</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.School.Tickets.OrderBy(t => t.Quantity))
                    {
                        <tr>
                            <td class="text-center">
                                @Html.DisplayFor(member => item.Quantity)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(member => item.Price)
                            </td>
                            <td>
                                @if (item.Event != null)
                                {
                                    @item.Event.Name
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-default">
            <div class="panel-body ">
                <h3>Classes</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Class</th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.School.Classes)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(member => item.Name)
                            </td>
                            <td>
                                @Html.ActionLink("View", "View", "Event", new { id = item.Id, eventType = EDR.Enums.EventType.Class }, null)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-default">
            <div class="panel-body ">
                <h3>Owners</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.School.Owners)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(member => item.ApplicationUser.FullName)
                            </td>
                            <td>
                                @Html.ActionLink("View", "Home", "Owner", new { id = item.Id }, null)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-default">
            <div class="panel-body ">
                <h3>Teachers</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.School.Teachers)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(member => item.ApplicationUser.FullName)
                            </td>
                            <td>
                                @Html.ActionLink("View", "Home", "Teacher", new { id = item.Id }, null)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body ">
                <h3>Performance Teams</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Team</th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.School.Teams)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(member => item.Name)
                            </td>
                            <td>
                                @Html.ActionLink("View", "View", "Team", new { id = item.Id }, null)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.School.Id }) |
    @Html.ActionLink("Back to List", "List")
</p>
