@model EDR.Models.ViewModels.EventViewModel
@using EDR.Models
@using EDR.Utilities

@{
    ViewBag.Title = "Class Details";
    Layout = "~/Views/Shared/Events/_EventLayout.cshtml";
}

@*@using (Html.BeginForm("PostReview", "Event", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>DanceStyle</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Event.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Review.ReviewText, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Review.ReviewText, 10, 40, null)
                @Html.ValidationMessageFor(model => model.Review.ReviewText, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Post Review" class="btn btn-default" />
            </div>
        </div>
    </div>
}*@
    
