@model EDR.Models.ViewModels.ConfirmFacebookEvent
@using EDR.Enums
@using MvcCheckBoxList.Model

@{
    ViewBag.Title = "Confirm New Event";
}

<style>
    .radio-list div
    {
        text-align: left;
        white-space: normal;
        vertical-align: text-top;
        position: relative;
        margin-top: 5px;
    }
    .radio-list input[type="radio"] {
        vertical-align: top;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 5px;
        left: 20px;
        z-index: 10;   
    }

    .radio-list label {
        z-index: 5;
        height: 240px;
        text-align: left;
        display:block;
        padding: 5px 40px;
    }

    .radio-list input[type="radio"]:checked + label {
        background-color:#FFCC99;
    }
</style>
@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
@Html.HiddenFor(x => x.NewEvent.PhotoUrl)
@Html.HiddenFor(x => x.NewPlace.Latitude)
@Html.HiddenFor(x => x.NewPlace.Longitude)
@Html.HiddenFor(x => x.NewPlace.FacebookId)
@Html.HiddenFor(x => x.NewEvent.FacebookLink)
@Html.HiddenFor(x => x.NewEvent.FacebookId)
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h3>Please Confirm Details for the New @Model.EventType</h3>
    <div class="col-lg-3 col-md-3">
        <div class="col-lg-12 col-md-12 croppedpic" style="height: 250px;">
            <a href="@Model.NewEvent.PhotoUrl" target="_blank"><img class="img-thumbnail" src="@(Model.NewEvent.PhotoUrl != null ? Model.NewEvent.PhotoUrl : Url.Content("~/Content/images/MissingImage.jpg"))" /></a>
        </div>
    </div>
    <div class="col-lg-9 col-md-9">
        <div class="col-lg-12 col-md-12">
            @if (Model.EventType == EventType.Class)
            {
                @Html.LabelFor(model => model.ClassType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 col-lg-10">
                    @Html.EnumDropDownListFor(model => model.ClassType, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ClassType, "", new { @class = "text-danger" })
                </div>
            }
            else
            {
                @Html.LabelFor(model => model.SocialType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 col-lg-10">
                    @Html.EnumDropDownListFor(model => model.SocialType, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SocialType, "", new { @class = "text-danger" })
                </div>
            }
        </div>
        <div class="col-lg-12 col-md-12">
            @Html.LabelFor(model => model.NewEvent.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 col-lg-10">
                @Html.EditorFor(model => model.NewEvent.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewEvent.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            @Html.LabelFor(model => model.NewEvent.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 col-lg-10">
                @Html.EditorFor(model => model.NewEvent.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewEvent.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            @Html.LabelFor(model => model.NewEvent.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 col-lg-10">
                @Html.EditorFor(model => model.NewEvent.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewEvent.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            @Html.LabelFor(model => model.Event.Name, "Dance Styles", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxListFor(model => model.PostedStyles.DanceStyleIds,
                                    model => model.AvailableStyles,
                                    style => style.Id,
                                    style => style.Name,
                                    model => model.SelectedStyles,
                                    new HtmlListInfo(HtmlTag.table, 2, new { @class = "checkboxlist" }, TextLayout.Default ))
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            @Html.LabelFor(model => model.NewEvent.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 col-lg-10">
                @Html.EditorFor(model => model.NewEvent.Description, new { htmlAttributes = new { @class = "form-control", @rows = 10 } })
                @Html.ValidationMessageFor(model => model.NewEvent.Description, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 radio-list">
        <h4>Select a Place for this Event</h4>
        @foreach (var pl in Model.Places)
        {
            <div class="col-lg-4 col-md-4">
                @if (pl.Selected)
                {
                    @Html.RadioButtonFor(m => m.PlaceId, pl.Id, new { id = pl.Id, @checked = true })
                }
                else
                {
                    @Html.RadioButtonFor(m => m.PlaceId, pl.Id, new { id = pl.Id })
                }
                <label class="col-lg-12 col-md-12 btn btn-default" for="@pl.Id">
                    @if(pl.Id == 0)
                    {
                        <h4>New Place</h4>
                        @Html.EditorFor(model => model.NewPlace.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Place Name" } })
                        @Html.EditorFor(model => model.NewPlace.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address" } })
                        @Html.EditorFor(model => model.NewPlace.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "City" } })
                        @Html.EnumDropDownListFor(model => model.NewPlace.State, "- Select a State-", new { @class = "form-control" })
                        @Html.EditorFor(model => model.NewPlace.Zip, new { htmlAttributes = new { @class = "form-control", @placeholder = "Zipcode" } })
                    }
                    else
                    {
                        <h4>@pl.Name</h4>
                        @pl.PlaceType<br />
                        @pl.Address<br />
                        @pl.City@:, @pl.State @pl.Zip<br />
                        <img src="https://maps.googleapis.com/maps/api/staticmap?center=@pl.Latitude,@pl.Longitude&zoom=10&size=200x100&maptype=roadmap&markers=color:red%7Clabel:A%7C @pl.Latitude, @pl.Longitude">
                    }
                </label>
            </div>
        }
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: 10px;">
        <input type="submit" value="Finish Creating @Model.EventType" class="btn btn-lg btn-primary" />
        <a class="btn btn-lg btn-warning" href="@Session["ReturnUrl"]">Cancel</a>
    </div>
</div>
}
