@model EDR.Models.ViewModels.EventReviewsViewModel

@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<div id='reviewList'>
    @Html.Partial("~/Views/Shared/Events/_Reviews.cshtml", Model.EventReviews)
</div>
@using (Ajax.BeginForm("Reviews_Insert",
                            "Event",
                            new AjaxOptions()
                            {
                                UpdateTargetId = "reviewList"
                            }
                            ))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(x => x.EventId)

        <div>
            @Html.LabelFor(model => model.NewReview.Like)
            @Html.EditorFor(model => model.NewReview.Like)
        </div>
        <div>
            @Html.LabelFor(model => model.NewReview.ReviewText)
            @Html.EditorFor(model => model.NewReview.ReviewText)
        </div>

        <div class="form-group">
            <div class="col-md-offset-8 col-md-12">
                <input type="submit" value="PostReview" class="btn btn-default" />
            </div>
        </div>
    </div>
}