@model EDR.Models.ViewModels.EventViewModel
@using EDR.Utilities
@using EDR.Models
@using EDR.Enums

@{
    ViewBag.Title = Model.Event.Name;
    Layout = "~/Views/Event/_EventLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function (e) {
        //  locate each partial section
        //  if it has a URL set, load the contents into the area.

        $(".partialContents").each(function (index, item) {
            var url = $(item).data("url");
            if (url && url.length > 0) {
                $(item).load(url);
            }
        });
    });
</script>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Students</h4>
            </div>
            <div class="panel-body">
                @Html.Partial("~/Views/Shared/Events/_EventMembersPartial.cshtml", Model.Event.EventMembers)
            </div>
        </div>
        <div class="updates">
            <h4>
                Updates
                <a class="btn btn-warning pull-right top-right" title="Add New Picture" href="@Url.Action("PostPicture", "Event", new { id = Model.Event.Id })">
                    <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                </a>
                <a class="btn btn-warning pull-right top-right" title="Add New Video" href="@Url.Action("PostVideo", "Event", new { id = Model.Event.Id })" style="margin-left: 5px; margin-right: 5px;">
                    <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
                </a>
            </h4>
            <hr />
            <div class="partialContents" data-url="/Event/@Model.Event.Id/GetUpdates">
                <img src="~/Content/images/indicator.white.gif" />Loading...
            </div>
        </div>
        @*@Html.Partial("~/Views/Shared/Events/_EventUpdatesPartial.cshtml", Model.MediaUpdates)*@
        @*<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div style="max-height: 1000px; overflow-y: auto; overflow-x: hidden;">
                @Html.Partial("~/Views/Shared/_PictureListPartial.cshtml", Model.Event.Pictures.OrderByDescending(p => p.PhotoDate))
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h4>
                Videos
            </h4>
            <hr />
            <div style="max-height: 1000px; overflow-y: auto; overflow-x: hidden;">
                @Html.Partial("~/Views/Shared/_VideoListPartial.cshtml", Model.Event.Videos.OrderByDescending(p => p.PublishDate))
            </div>
        </div>*@
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="well">
            @Model.Event.Description
        </div>
    </div>
</div>
