@model EDR.Models.DanceStyle
@using EDR.Utilities

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="page-header">@Model.Name</h1>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Video
        </dt>

        <dd>
            <iframe width=" 500" height="300" src="//www.youtube.com/embed/@Html.DisplayFor(model => model.YouTubeVideoID)" frameborder="0" allowfullscreen></iframe>
        </dd>
    </dl>
</div>
<a href="@Url.Action("Learn", "Home", new { danceStyle = Model.Id }, null)" class="btn btn-primary">Find a Class or Workshop</a>
<a href="@Url.Action("Social", "Home", new { danceStyle = Model.Id }, null)" class="btn btn-primary">Find a Place to Dance</a>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Explore", "Home")
</p>
