@model EDR.Models.ViewModels.PromoterApplyViewModel

@{
    ViewBag.Title = "Promoter Application";
}

<h2 class="page-header">Promoter Application</h2>
@if (Model.Promoter != null)
{
    <h5>You've already applied to be a Promoter.  Your application is under review.</h5>
    @Html.ActionLink("Back to Dancer Page", "Home", "Dancer", new { username = User.Identity.Name }, new { @class = "btn btn-info" })
}
else
{
    using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Promoter.ContactEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Promoter.ContactEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Promoter.ContactEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Promoter.Facebook, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Promoter.Facebook, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Promoter.Facebook, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Promoter.Website, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Promoter.Website, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Promoter.Website, "", new { @class = "text-danger" })
            </div>
        </div>

        <input type="submit" value="Apply to be a Promoter" class="btn btn-default" />
    }
}
