@model EDR.Models.ViewModels.PromoterViewViewModel
@using EDR.Models
@using EDR.Utilities

@{
    ViewBag.Title = Model.Promoter.ApplicationUser.FullName + " - Promoter";
    ViewBag.Keywords = "Social Dance Promoter " + String.Join(" ", Model.Promoter.Socials.SelectMany(s => s.DanceStyles).Distinct().Select(d => d.Name).ToArray()) + " " + Model.Promoter.ApplicationUser.City + " " + Model.Promoter.ApplicationUser.State;
    ViewBag.Description = "Home page for " + Model.Promoter.ApplicationUser.FullName + ". " + String.Join(", ", Model.Promoter.Socials.SelectMany(s => s.DanceStyles).Distinct().Select(d => d.Name).ToArray()) + " teacher.";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("All Promoters", "List", "Promoter")</li>
    <li class="active">Promoter Profile</li>
</ol>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-default" style="margin-top: 20px; margin-bottom: 20px;">
                <div class="panel-body bg-info buttoncontainer">
                    @if (User.Identity.Name == Model.Promoter.ApplicationUser.UserName)
                    {
                        @Html.ActionLink("Edit", "Manage", "Promoter", null, new { @class = "btn btn-warning actionbutton" })
                    }
                    <div class="row">
                        <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4">
                            <img style="max-width: 100%; max-height: 100%;" src="@Url.Content(Model.Promoter.ApplicationUser.PhotoUrl ?? "~/Content/images/NoProfilePic.gif")" />
                        </div>
                        <div class="col-lg-8 col-xs-8 col-sm-8 col-md-8">
                            <h1 class="nospace">@Model.Promoter.ApplicationUser.FullName</h1>
                            <p>
                                @Model.Promoter.ApplicationUser.Location
                            </p>
                            <div>
                                @if (Model.Promoter.Facebook != null)
                                {
                                    <a class="img-thumbnail" href='@Model.Promoter.Facebook' target="_blank" title="Visit Me On Facebook"><img src="@Url.Content("~/Content/images/facebookSmall.png")" /></a>
                                }
                                @if (Model.Promoter.Website != null)
                                {
                                    <a class="img-thumbnail" href='@Model.Promoter.Website' target="_blank" title="Visit Me On the Web"><img src="@Url.Content("~/Content/images/web.png")" /></a>
                                }
                                @if (Model.Promoter.ContactEmail != null)
                                {
                                    <a class="img-thumbnail" href='mailto:@Model.Promoter.ContactEmail' title="Email Me"><img src="@Url.Content("~/Content/images/email.png")" /></a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="panel panel-default" style="margin-top: 20px; margin-bottom: 20px;">
                <div class="panel-body buttoncontainer">
                    <h3>My Places</h3>
                    @if (Model.Promoter.Places != null && Model.Promoter.Places.Count() > 0)
                    {
                        foreach (var pl in Model.Promoter.Places.OrderBy(s => s.Name))
                        {
                            @Html.DisplayFor(m => pl, "Place")
                            <hr />
                        }
                    }
                    else
                    {
                        @: No Places
                }
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    @if (Model.Promoter.ApplicationUser.SpotifyUri != null)
            {
                        <iframe class="spotifyplayer" src="https://embed.spotify.com/?uri=@Model.Promoter.ApplicationUser.SpotifyUri" width="500" height="280" frameborder="0" allowtransparency="true"></iframe>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <h3 class="text-center">Socials</h3>
            <div class="text-center">
                <div id="classbuttons" class="btn-group" data-toggle="buttons">
                    <label class="btn btn-warning btn-sm active">
                        <input type="radio" name="options" id="listbtn" autocomplete="off" checked class="rbutton"> List
                    </label>
                    <label class="btn btn-warning btn-sm">
                        <input type="radio" name="options" id="calendarbtn" autocomplete="off" class="rbutton"> Calendar
                    </label>
                </div>
            </div>
            <div id="listdiv">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div id="socials">
                    </div>
                </div>
            </div>
            <div id='script-warning'>
                <code>php/get-events.php</code> must be running.
            </div>
            <div id='loading'>loading...</div>
            <div id='calendar'></div>
        </div>
    </div>
</div>
@section Scripts
{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryUI")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/Content/jquery.rateyo.css" />
    <script src="~/Scripts/jquery.rateyo.js"></script>
    <script src="~/Scripts/jquery-simple-pagination-plugin.js"></script>
    @*<link href="~/Content/Simple-Pagination.css" rel="stylesheet" />*@
<link href="~/Content/fullcalendar/fullcalendar.css" rel="stylesheet" />
<link href="~/Content/fullcalendar/fullcalendar.print.css" rel="stylesheet" media="print" />
<script src="~/Scripts/fullcalendar/moment.min.js"></script>
<script src="~/Scripts/fullcalendar/fullcalendar.js"></script>

    <script>
    $(document).ready(function () {
        LoadSocials(); //Loads events partial view
        BuildRatingStars();

        $("#calendar").hide();
        $('#listbtn').parent().on("click", function () {
            $('#listdiv').show();
            $("#calendar").hide();
        });

        $('#calendarbtn').parent().on("click", function () {
            $('#listdiv').hide();
            $("#calendar").show();
            $('#calendar').fullCalendar('render');
        });

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'basicWeek, month'
            },
            defaultDate: new Date(),
            defaultView: 'basicWeek',
            editable: false,
            eventLimit: true, // allow "more" link when too many events
            events: {
                url: '@Url.Action("GetSocialInstances", "Promoter")',
                traditional: true,
                data: {
                    promoterId: '@Model.Promoter.Id',
                },
                error: function () {
                    $('#script-warning').show();
                },
            },
            views: {
                month: { // name of view
                    titleFormat: 'MMM YYYY'
                    // other view-specific options here
                },
                basicWeek: { // name of view
                    titleFormat: 'MMM DD'
                    // other view-specific options here
                }
            },
            loading: function (bool) {
                $('#loading').toggle(bool);
            },
        });
    });

    function LoadSocials() {
        $.get('@Url.Action("GetSocialsPartial", "Promoter")', { 'id': '@Model.Promoter.Id' }, function (data) {
            $("#socials").empty();
            $("#socials").html(data);
        });
    }

    function BuildRatingStars() {
        $(".rateYo").rateYo({
            starWidth: "18px",
            ratedFill: "#FFD700",
            normalFill: "#ccc",
            onInit: function (rating, rateYoInstance) {
                var t = $(this);
                $(this).rateYo("option", "rating", t.parent('div').find('.ratingval').prop('value'));
                $(this).rateYo("option", "readOnly", true);
            }
        });
    }
    </script>
}

@*<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <h4>Recent Activity</h4>
    <div class="partialContents" data-url="/Promoter/@Model.Promoter.ApplicationUser.UserName/GetUpdates">
        <img src="~/Content/images/indicator.white.gif" />Loading...
    </div>

</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <div class="panel panel-success">
        <h4 class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Latest Social Dances...</h4>
        <div class="panel-body">
            @if (Model.NewSocials.Events.Count() > 0)
            {
                @Html.Partial("~/Views/Shared/_EventsPartial.cshtml", Model.NewSocials.Events)
            }
            else
            {
                @: No New Socials
            }
            <a class="btn btn-link pull-right" href="@Url.Action("Dance", "Home")" title="Find More Socials">
                <h4>More...</h4>
            </a>
        </div>
    </div>
    <div class="panel panel-success">
        <h4 class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><img class="img-rounded" style="width: 20px;" src="@Url.Content("~/Content/images/facebookSmall.png")" /> Import Facebook Events</h4>
        <div class="panel-body">
            @if (Model.FacebookEvents.Count() > 0)
            {
                foreach (var evt in Model.FacebookEvents.OrderBy(e => e.StartTime))
                {
                    <div class="row" style="padding: 2px;">
                        <div class="label label-warning col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding-right: 2px; font-size: 12pt;">
                            <span>@evt.StartTime.ToString("ddd, M/d")</span>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            <span class="text-primary">
                                <a href="@Url.Content(evt.EventLink)" title="@evt.Name" style="text-align: left;" target="_blank">
                                    @evt.Name
                                </a>
                            </span>
                        </div>
                        <a class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-sm btn-primary" href="@Url.Action("ConfirmFacebookEvent", "Event", new { id = evt.Id, eventType = EDR.Enums.EventType.Social })" title="@evt.Name">
                            Import
                        </a>
                    </div>
                }
            }
            else
            {
                @: No Facebook Events to Import
            }
        </div>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading">
            New Dancers
        </div>
        <div class="panel-body">
            @Html.Partial("~/Views/Shared/Events/_UserListPartial.cshtml", Model.NewDancers)
        </div>
    </div>
</div>*@