@model EDR.Models.ViewModels.PromoterListViewModel

@{
    ViewBag.Title = "All Social Dance Promoters";
    ViewBag.Keywords = "Promoters " + String.Join(" ", Model.DanceStyles);
    ViewBag.Description = "All social dance promoters for " + String.Join(" ", Model.DanceStyles) + ".";
}

<ol class="breadcrumb">
    <li class="active">All Promoters</li>
</ol>
<h1 class="text-center">Promoters</h1>

@using (Html.BeginForm("List", "Promoter", FormMethod.Post, new { @class = "formmain" }))
{
    @Html.HiddenFor(m => m.SearchAddress.Latitude, new { Name = "lat", @class = "latfield" })
    @Html.HiddenFor(m => m.SearchAddress.Longitude, new { Name = "lng", @class = "lngfield" })
    @Html.HiddenFor(m => m.NELat, new { @class = "nelatfield" })
    @Html.HiddenFor(m => m.NELng, new { @class = "nelngfield" })
    @Html.HiddenFor(m => m.SWLat, new { @class = "swlatfield" })
    @Html.HiddenFor(m => m.SWLng, new { @class = "swlngfield" })
    @Html.HiddenFor(m => m.CenterLat, new { @class = "clatfield" })
    @Html.HiddenFor(m => m.CenterLng, new { @class = "clngfield" })
    @Html.HiddenFor(m => m.Zoom, new { @class = "czoomfield" })
    <div class="container-fluid bg-info text-center" style="padding: 0px !important;">
        <div class="form-inline">
            <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Location, new { placeholder = "Location", @class = "form-control locationsearch" })
                </div>
                <div class="form-group">
                    @Html.HiddenFor(m => m.DanceStyleId, new { @class = "stylesearchid" })
                    @Html.TextBoxFor(m => m.Style, new { placeholder = "Dance Style", @class = "form-control stylesearch" })
                </div>
                <div class="form-group">
                    @Html.HiddenFor(m => m.PromoterId, new { @class = "promotersearchid" })
                    @Html.TextBoxFor(m => m.PromoterName, new { placeholder = "Promoter Name", @class = "form-control promotersearch" })
                </div>
                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-warning" />
                </div>
            </div>
            <div class="map_canvas"></div>
        </div>
    </div>
}

<div id="listdiv" style="overflow: auto; overflow-x: hidden; margin-top: 5px;">
    @Html.DisplayFor(m => m.Promoters, "Promoters")
</div>

@section Scripts
{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/foolproof")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/GeoComplete")
    <script src="../../Scripts/searchhelper.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places&key=@System.Configuration.ConfigurationManager.AppSettings["GoogleAPIKey"]"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="../../Scripts/jquery.geocomplete.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $(window).resize(function() {
                var bodyheight = $(this).height() - 550;
                //alert($(this).height());
                //alert(bodyheight);
                $("#listdiv").height(bodyheight);
            }).resize();
        });

        //  Map Marker Containers
        var markers = [];
        var infowindows = [];
        $(function () {
            //  Map Marker Containers
            //  Build up the Markers
            var map = $("#Location").geocomplete("map");
            @foreach(var s in Model.Promoters.OrderBy(m => m.ApplicationUser.FullName))
    {
        <text>
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng('@s.ApplicationUser.Latitude', @s.ApplicationUser.Longitude),
                map: map,
                title: '@s.ApplicationUser.FullName',
                icon: "../../Content/images/MapMarker.png"
            });

            attachMessage(map, marker, '@s.Id', '@s.ApplicationUser.FullName', '@(s.ApplicationUser.City + ", " + s.ApplicationUser.State + " " + s.ApplicationUser.ZipCode)', '<a href="@Url.Action("Home", "Promoter", new { username = s.ApplicationUser.UserName })">' + '@s.ApplicationUser.FullName' + '</a>');
            markers.push(marker);
            </text>
    }

            function attachMessage(map, marker, num, placeName, address2, link) {
                var message = marker.title;
                var infowindow = new google.maps.InfoWindow({
                    disableAutoPan: false,
                    maxWidth: 200,
                    content: '<div id="content" class="text-center" style="width: 200px;">' +
                    '<div id="siteNotice">' +
                    '</div>' +
                    '<div class="large" style="display: block;white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: bold;">' +
                    link +
                    '</div>' +
                    '<div id="bodyContent">' +
                    '<p>' +
                    address2 +
                    '</p>' +
                    '</div>' +
                    '</div>'
                });
                infowindows.push(infowindow);

                //  infowindow.open(map, marker);

                google.maps.event.addListener(marker, 'click', function () {
                    clearWindows();
                    infowindow.open(map, marker);
                });
            }
        });

        function clearWindows() {
            for (var i = 0; i < infowindows.length; i++) {
                infowindows[i].close();
            }
        };

        function openEvent(id, lati, long) {
            var latLng = new google.maps.LatLng(lati, long); //Makes a latlng
            var map = $("#Location").geocomplete("map");
            map.panTo(latLng); //Make map global
            markers[id].setMap(map);
            clearWindows();
            infowindows[id].open(map, markers[id]);
            return false;
        };
    </script>
}

