@model EDR.Models.ViewModels.PromoterViewViewModel

@{
    ViewBag.Title = "Promoter - " + Model.Promoter.ApplicationUser.FullName;
}

@if (Model.Promoter.ApplicationUser.FacebookUsername != null)
{
    <img src="http://graph.facebook.com/@Model.Promoter.ApplicationUser.FacebookUsername/picture?type=normal" />
}
<h1 class="page-header">@Model.Promoter.ApplicationUser.FullName</h1>

<div>
    <dl class="dl-horizontal">
        <dt>
            Contact
        </dt>

        <dd>
            @Model.Promoter.ContactEmail
        </dd>

        <dt>
            Website
        </dt>

        <dd>
            @Model.Promoter.Website
        </dd>

        <dt>
            Facebook
        </dt>

        <dd>
            @Model.Promoter.Facebook
        </dd>

        <dt>
            Location
        </dt>

        <dd>
            Location
        </dd>


        <dt>
            Events
        </dt>

        <dd>
            <ul class="list-inline">
                @foreach (var item in Model.Promoter.Events)
                {
                    <li>@Html.ActionLink(item.Name, "Details", "Event", new { id = item.Id }, null)</li>
                }
            </ul>
        </dd>
    </dl>
@if (User.Identity != null && User.Identity.Name == Model.Promoter.ApplicationUser.UserName)
{
    <p>
        <a href="@Url.Action("Create", "Event", new { role = "Promoter", eventType = "Social" }, null)">Add a Social</a>
        <a href="@Url.Action("Create", "Event", new { role = "Promoter", eventType = "Concert" }, null)">Add a Concert</a>
        <a href="@Url.Action("Create", "Event", new { role = "Promoter", eventType = "Conference" }, null)">Add a Conference</a>
    </p>
}
    @if (User.Identity != null && User.Identity.Name == Model.Promoter.ApplicationUser.UserName)
    {
        <a class="btn btn-primary" href="@Url.Action("Edit", "Promoter")">Edit Profile</a>
    }
</div>
<p>
    @Html.ActionLink("Back to List", "List")
</p>