@model EDR.Models.ViewModels.TeamManageViewModel

<ol class="breadcrumb">
    <li>@Html.ActionLink("All Teams", "Index", "Team")</li>
    <li>@Html.ActionLink("Team Page", "View", "Team", new { id = Model.Team.Id }, null)</li>
    <li class="active">Manage Team</li>
</ol>

@{
    ViewBag.Title = "Manage " + Model.Team.Name;
}

<style>
.ui-autocomplete {
    z-index: 5000;
}
</style>

<div class="buttoncontainer">
    <h1>Manage: <span class="text-info">@Model.Team.Name</span></h1>
    <hr />
    <a style="display: block !important;" class="btn btn-danger actionbutton" title="Delete Event" href="@Url.Action("Delete", "Team", new { id = Model.Team.Id })" onclick="return confirm('Are you sure you want to DELETE this Team?')">
        <i class="glyphicon glyphicon-remove"></i>
        Delete Team
    </a>

</div>

<div class="container-fluid">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body ">
                <h3>Team Details</h3>
                <div id="viewdiv">
                    <div class="text-right" style="padding-bottom: 10px;">
                        <input id="btnEdit" type="button" class="btn btn-primary" value="Edit" />
                    </div>
                    <div class="text-center">
                        <div class="buttoncontainer" style="display: inline-block;">
                            <img id="profilepic" src="@Url.Content(EDR.Utilities.ApplicationUtility.CheckImageLink(Model.Team.PhotoUrl))"  />
                            <button id="btnChangePicture" type="button" class="btn btn-info actionbutton" data-toggle="modal" data-target="#modalPic">
                                Change
                            </button>
                        </div>
                    </div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.LabelFor(model => model.Team.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Team.Name)
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.Label("School", htmlAttributes: new { @class = "control-label col-md-2" })
                        </dt>
                        <dd>
                            @if (Model.Team.School != null)
                            {
                                @Html.ActionLink(Model.Team.School.Name, "View", "School", new { id = Model.Team.School.Id, school = EDR.Utilities.ApplicationUtility.ToUrlSlug(Model.Team.School.Name), location = EDR.Utilities.ApplicationUtility.ToUrlSlug(Model.Team.School.City) }, null)
                            }
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.LabelFor(model => model.Team.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Team.Description)
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.LabelFor(model => model.Team.FacebookLink, htmlAttributes: new { @class = "control-label col-md-2" })
                        </dt>
                        <dd>
                            <div class="oneline">
                                @Html.DisplayFor(model => model.Team.FacebookLink)
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.LabelFor(model => model.Team.Public, htmlAttributes: new { @class = "control-label col-md-2" })
                        </dt>
                        <dd class="checkbox">
                            @(Model.Team.Public ? "Yes" : "No")
                            @*@Html.DisplayFor(model => model.Team.Public)*@
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.LabelFor(model => model.Team.DateStarted, htmlAttributes: new { @class = "control-label col-md-2" })
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Team.DateStarted)
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.LabelFor(model => model.Team.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Team.Address)
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.LabelFor(model => model.Team.Address2, htmlAttributes: new { @class = "control-label col-md-2" })
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Team.Address2)
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.LabelFor(model => model.Team.City, htmlAttributes: new { @class = "control-label col-md-2" })
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Team.City)
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.LabelFor(model => model.Team.State, htmlAttributes: new { @class = "control-label col-md-2" })
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Team.State)
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.LabelFor(model => model.Team.Zip, htmlAttributes: new { @class = "control-label col-md-2" })
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Team.Zip)
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.LabelFor(model => model.Team.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Team.Country)
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.LabelFor(model => model.Team.SkillLevel, htmlAttributes: new { @class = "control-label col-md-2" })
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Team.SkillLevel)
                        </dd>
                    </dl>
                </div>
                <div id="editdiv" style="display: none;">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @using (Html.BeginForm("Manage", "Team", FormMethod.Post, new { @id = "saveform", @class = "main" }))
            {
                        @Html.HiddenFor(x => x.Team.Id)
                        @Html.HiddenFor(model => model.Team.Latitude)
                        @Html.HiddenFor(model => model.Team.Longitude)
                        @Html.HiddenFor(x => x.Team.SchoolId)
                        <div class="text-right" style="padding-bottom: 10px;">
                            <input type="submit" id="btnsave" value="Save" class="btn btn-success" />
                            <input id="btncanceledit" type="button" class="btn btn-primary" value="Cancel" />
                        </div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.Team.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.EditorFor(model => model.Team.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Team.Name, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.Team.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.EditorFor(model => model.Team.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Team.Description, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.Team.FacebookLink, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.EditorFor(model => model.Team.FacebookLink, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Team.FacebookLink, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.Team.Public, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd class="checkbox">
                                @Html.CheckBoxFor(m => m.Team.Public, new { @class = "recurring", @data_toggle = "toggle", @data_on = "Yes", @data_off = "No" })
                                @*@Html.EditorFor(model => model.Team.Public)*@
                                @Html.ValidationMessageFor(model => model.Team.Public, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.Team.DateStarted, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.EditorFor(model => model.Team.DateStarted, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Team.DateStarted, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.Team.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.EditorFor(model => model.Team.Address, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Team.Address, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.Team.Address2, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.EditorFor(model => model.Team.Address2, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Team.Address2, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.Team.City, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.EditorFor(model => model.Team.City, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Team.City, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.Team.State, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.EditorFor(model => model.Team.State, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Team.State, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.Team.Zip, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.EditorFor(model => model.Team.Zip, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Team.Zip, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.Team.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.EditorFor(model => model.Team.Country, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Team.Country, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.Team.SkillLevel, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.EditorFor(model => model.Team.SkillLevel, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Team.SkillLevel, "", new { @class = "text-danger" })
                            </dd>
                        </dl>

                        <div class="form-group">
                            <div class="col-md-10">
                            </div>
                        </div>
            }
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body buttoncontainer">
                <h3>Teachers</h3>
                <div>
                    @using (Html.BeginForm("AddTeacher", "Team", FormMethod.Post))
                    {
                        <input type="hidden" id="id" name="id" value="@Model.Team.Id" />
                        <input type="hidden" class="teachersearchid" id="teacherid" name="teacherid" />
                        <input type="text" class="teachersearch form-control" placeholder="Type in a Teacher Name" style="display: inline-block;" />
                        <button type="submit" class="btn btn-primary" style="display: inline-block;">Add Teacher</button>
                    }
                </div>
                <div id="teachers">
                    <table style="width: 100%;">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                            </th>
                        </tr>
                        @foreach (var t in Model.Team.Teachers)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => t.ApplicationUser.FullName)
                                </td>
                                <td class="text-right">
                                    @if (t.ApplicationUser.UserName != User.Identity.Name)
                                    {
                                        <a class="btn btn-link text-danger" title="Remove" href="@Url.Action("RemoveTeacher", new { id = Model.Team.Id, teacherid = t.Id })" onclick="return confirm('Are you sure you want to remove this Teacher?')">
                                            <i class="text-danger glyphicon glyphicon-remove-circle"></i>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body ">
                <h3>Dance Styles</h3>
                @using (Ajax.BeginForm("AddStyle",
                                    "Team",
                                    new AjaxOptions()
                                    {
                                        UpdateTargetId = "stylesdiv",
                                        OnSuccess = "done(this)"
                                    },
                                    new { @id = "addstyleform" }
                                    ))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Team.Id)
                    @Html.HiddenFor(m => m.NewStyleId)
                    @Html.TextBox("stylesearch", "", new { placeholder = "Search for a Dance Style", @class = "form-control col-md-4" })
                    <input class="btn" type="submit" value="Add Style" />
                }
                <div id="stylesdiv">
                    @Html.Partial("~/Views/Team/Partial/_DanceStylesPartial.cshtml", new EDR.Models.ViewModels.TeamDanceStylesPartialViewModel() { DanceStyles = Model.Team.DanceStyles, TeamId = Model.Team.Id })
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body ">
                <h3>Members</h3>
                @using (Html.BeginForm("AddMember", "Team", FormMethod.Post))
                {
                    @Html.HiddenFor(model => model.Team.Id)
                    @Html.HiddenFor(m => m.NewMemberId)
                    <input type="text" id="newmember" placeholder="Search for a User" required class="form-control" style="display: inline-block;" />
                    <input type="submit" value="Add Member" class="btn btn-primary btn-sm" style="display: inline-block;"  />
                }
                <div id="membersdiv">
                    @using (Html.BeginForm("UpdateMembers", "Team", FormMethod.Post))
                    {
                        @Html.HiddenFor(model => model.Team.Id)
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Admin</th>
                                    <th></th>
                                </tr>
                            </thead>
                            @Html.EditorFor(model => model.Team.Members)
                        </table>
                        <div>
                            <input type="submit" value="Update Members" class="btn btn-warning" />
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body buttoncontainer">
                <button id="btnAddAudition" type="button" class="actionbutton btn btn-warning" data-toggle="modal" data-target="#modalAudition">Add Audition</button>
                <h3>Auditions</h3>
                <div id="auditionsdiv" class="">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Day
                                </th>
                                <th>
                                    Time
                                </th>
                                <th>
                                    Location
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        @foreach (var r in Model.Team.Auditions)
                        {
                            <tr>
                                <td>
                                    @r.StartDate.ToShortDateString()
                                </td>
                                <td>
                                    @(((DateTime)r.StartTime).ToShortTimeString()) to<br />
                                    @(((DateTime)r.EndTime).ToShortTimeString())
                                </td>
                                <td>
                                    @r.Place.Name<br />
                                    @r.Place.Address<br />
                                    @r.Place.City, @r.Place.State @r.Place.Zip
                                </td>
                                <td>
                                    <a class="btn btn btn-danger" title="Delete" href="@Url.Action("DeleteAudition", "Team", new { id = r.Id })" onclick="return confirm('Are you sure you want to DELETE this Audition?')">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body buttoncontainer">
                <input id="btnAddRehearsal" type="button" class="btn btn-warning actionbutton" value="Add Rehearsal" />
                <h3>Rehearsal Schedule</h3>
                <div id="rehearsalsdiv">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Day
                                </th>
                                <th>
                                    Time
                                </th>
                                <th>
                                    Location
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        @foreach (var r in Model.Team.Rehearsals)
                        {
                            <tr>
                                <td>
                                    <p>
                                        @r.Day
                                    </p>
                                    <button id="btnRehearsalDates" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalRehearsalDates" value="@r.Id">Rehearsal Dates</button>
                                </td>
                                <td>
                                    @(((DateTime)r.StartTime).ToShortTimeString()) to<br />
                                    @(((DateTime)r.EndTime).ToShortTimeString())
                                </td>
                                <td>
                                    @r.Place.Name<br />
                                    @r.Place.Address<br />
                                    @r.Place.City, @r.Place.State @r.Place.Zip
                                </td>
                                <td>
                                    <a class="btn btn btn-danger" title="Delete" href="@Url.Action("DeleteRehearsal", "Team", new { id = r.Id })" onclick="return confirm('Are you sure you want to DELETE this Rehearsal?')">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <div id="addrehearsaldiv" style="display: none;">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @using (Html.BeginForm("AddRehearsal", "Team", FormMethod.Post, new { @id = "addrehearsalform", @class = "main" }))
                    {
                        @Html.HiddenFor(x => x.NewRehearsal.TeamId, new { @Value = Model.Team.Id })
                        @Html.HiddenFor(x => x.NewRehearsal.Name, new { @Value = "Rehearsal" })
                        @Html.HiddenFor(x => x.NewRehearsal.Today)
                        <div class="text-right" style="padding-bottom: 10px;">
                            <input type="submit" id="btnsaverehearsal" value="Save" class="btn btn-primary" />
                            <input id="btncancelrehearsal" type="button" class="btn btn-primary" value="Cancel" />
                        </div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.NewRehearsal.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.HiddenFor(m => m.NewRehearsal.StartDate)
                                @Html.TextBox("StartDateField", "{0:yyyy-MM-dd}", htmlAttributes: new { @type = "date", @class = "form-control rehearsal_event_form startdate", @placeholder = "Start Date" })
                                @Html.ValidationMessageFor(model => model.NewRehearsal.Today, "", new { @class = "text-danger" })
                                @Html.HiddenFor(x => x.NewRehearsal.EndDate, new { @class = "enddate rehearsal_event_form" })
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.NewRehearsal.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd id="tpdd">
                                <p><input id="start" type="text" class="start timepicker form-control rehearsal_event_form" /></p>
                                @Html.HiddenFor(m => m.NewRehearsal.StartTime, new { @class = "timeelement begintime rehearsal_event_form" })
                                @Html.ValidationMessageFor(model => model.NewRehearsal.StartTime, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.NewRehearsal.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd id="tpdd">
                                <p><input id="end" type="text" class="end timepicker form-control rehearsal_event_form" /></p>
                                @Html.HiddenFor(m => m.NewRehearsal.EndTime, new { @class = "timeelement endtime rehearsal_event_form" })
                                @Html.ValidationMessageFor(model => model.NewRehearsal.EndTime, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.NewRehearsal.PlaceId, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.HiddenFor(m => m.NewRehearsal.PlaceId)
                                <input type="text" id="rehearsalplace" placeholder="Type in a Place" required class="form-control" />
                                @Html.ValidationMessageFor(model => model.NewRehearsal.PlaceId, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                    }
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body buttoncontainer">
                <input id="btnAddPerformance" type="button" class="btn btn-warning actionbutton" value="Add Performance" />
                <h3>Performances</h3>
                <div id="performancesdiv">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Start Time
                                </th>
                                <th>
                                    Event/Location
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        @foreach (var r in Model.Team.Performances)
                        {
                            <tr>
                                <td>
                                    @r.StartDate.ToShortDateString()
                                </td>
                                <td>
                                    @(((DateTime)r.StartTime).ToShortTimeString())
                                </td>
                                <td>
                                    @if (r.Event != null)
                                    {
                                        @r.Event.Name<br />
                                    }
                                    @r.Place.Name<br />
                                    @r.Place.Address<br />
                                    @r.Place.City, @r.Place.State @r.Place.Zip
                                </td>
                                <td>
                                    <a class="btn btn btn-danger" title="Delete" href="@Url.Action("DeletePerformance", "Team", new { id = r.Id })" onclick="return confirm('Are you sure you want to DELETE this Performance?')">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <div id="addperformancediv" style="display: none;">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @using (Html.BeginForm("AddPerformance", "Team", FormMethod.Post, new { @id = "addperformanceform", @class = "main" }))
                    {
                        @Html.HiddenFor(x => x.NewPerformance.TeamId, new { @Value = Model.Team.Id })
                        @Html.HiddenFor(x => x.NewPerformance.Name, new { @Value = "Performance" })
                        <div class="text-right" style="padding-bottom: 10px;">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <input id="btncancelperformance" type="button" class="btn btn-primary" value="Cancel" />
                        </div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.NewPerformance.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.TextBoxFor(m => m.NewPerformance.StartDate, "{0:yyyy-MM-dd}", htmlAttributes: new { @type = "date", @class = "form-control startdate performance_event_form" })
                                @Html.ValidationMessageFor(model => model.NewPerformance.StartDate, "", new { @class = "text-danger" })
                                @Html.HiddenFor(x => x.NewPerformance.EndDate, new { @class = "enddate performance_event_form" })
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.NewPerformance.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd id="tpdd">
                                <p><input id="start" type="text" class="start timepicker form-control performance_event_form" /></p>
                                @Html.HiddenFor(m => m.NewPerformance.StartTime, new { @class = "timeelement begintime performance_event_form" })
                                @Html.ValidationMessageFor(model => model.NewPerformance.StartTime, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.NewPerformance.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd id="tpdd">
                                <p><input id="end" type="text" class="end timepicker form-control performance_event_form" /></p>
                                @Html.HiddenFor(m => m.NewPerformance.EndTime, new { @class = "timeelement endtime performance_event_form" })
                                @Html.ValidationMessageFor(model => model.NewPerformance.EndTime, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.NewPerformance.PlaceId, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.HiddenFor(m => m.NewPerformance.PlaceId)
                                <input type="text" id="performanceplace" placeholder="Search for a Place" required class="form-control" />
                                @Html.ValidationMessageFor(model => model.NewPerformance.PlaceId, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.NewPerformance.EventId, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.HiddenFor(m => m.NewPerformance.EventId)
                                <input type="text" id="performanceevent" placeholder="Search for an Event" required class="form-control" />
                                @Html.ValidationMessageFor(model => model.NewPerformance.EventId, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                    }
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body ">
                <h3>Videos</h3>
                <hr />
                <h3 class="text-info">Playlists</h3>
                <div style="margin-bottom: 10px;">
                    @using (Ajax.BeginForm("AddYouTubePlaylist",
                    "Team",
                    new AjaxOptions()
                    {
                        UpdateTargetId = "playlistsdiv",
                        OnSuccess = "done(this)"
                    },
                    new { @id = "addytplaylistform" }
                    ))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Team.Id)
                        @Html.TextBoxFor(m => m.NewYoutubePlayList, new { placeholder = "Enter a YouTube Playlist url", @class = "form-control col-md-4" })
                        @Html.ValidationMessageFor(model => model.NewYoutubePlayList, "", new { @class = "text-danger" })
                        <input class="btn" type="submit" value="Add Playlist" />
                    }
                </div>
                <div class="row" id="playlistsdiv">
                    @Html.Partial("~/Views/Shared/Team/_ManagePlaylistsPartial.cshtml", Model.Team.Playlists)
                </div>
                <h3 class="text-info">Single Videos</h3>
                <div style="margin-bottom: 10px;">
                    @using (Ajax.BeginForm("AddYouTubeVideo",
                        "Team",
                        new AjaxOptions()
                        {
                            UpdateTargetId = "videosdiv",
                            OnSuccess = "done(this)"
                        },
                        new { @id = "addytvideoform" }
                        ))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Team.Id)
                        @Html.TextBoxFor(m => m.NewYouTubeVideo, new { placeholder = "Enter a YouTube Video url", @class = "form-control col-md-4" })
                        @Html.ValidationMessageFor(model => model.NewYouTubeVideo, "", new { @class = "text-danger" })
                        <input class="btn" type="submit" value="Add Video" />
                    }
                </div>
                <div class="row" id="videosdiv">
                    @Html.Partial("~/Views/Shared/Team/_ManageVideosPartial.cshtml", Model.Team.Videos)
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Add Audition -->
<div class="modal fade" id="modalAudition" tabindex="-1" role="dialog" aria-labelledby="myAudition">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Audtion</h4>
            </div>
            <div class="modal-body">
                <div id="newaudition" class="text-center">
                    <input id="btnnewaudition" type="button" class="newbtn btn btn-primary" value="Create a New Audition" />
                    <h4 class="linebehind">OR</h4>
                    <input id="btnimportaudition" type="button" class="facebookbtn btn btn-primary" value="Import Audtion from Facebook" />
                </div>
                <div id="importaudition" class="pickfacebook text-center" style="display: none;">
                    <div class="row">
                        <h4>Pick a Facebook Event</h4>
                        @using (Html.BeginForm("ImportAudition", "Team", FormMethod.Post, new { @id = "importauditionform", @class = "main" }))
                        {
                            @Html.HiddenFor(m => m.Team.Id)
                            <div class="center-block col-md-6 text-center" style="float: none; padding: 10px;">
                                <select class="form-control" id="NewFacebookEventId" name="NewFacebookEventId"></select>
                            </div>
                            <div class="center-block col-md-6 text-center" style="float: none;">
                                <input type="submit" id="submit" value="Import Audition" class="btn btn-primary col-lg-12" />
                            </div>
                        }
                    </div>
                </div>
                <div id="addaudition" style="display: none;">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @using (Html.BeginForm("AddAudition", "Team", FormMethod.Post, new { @id = "addauditionform", @class = "main" }))
                    {
                        @Html.HiddenFor(x => x.NewAudition.TeamId, new { @Value = Model.Team.Id })
                        @Html.HiddenFor(x => x.NewAudition.Name, new { @Value = "Audition" })
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.NewAudition.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.TextBoxFor(m => m.NewAudition.StartDate, "{0:yyyy-MM-dd}", htmlAttributes: new { @type = "date", @class = "form-control audition_event_form startdate", @placeholder = "End Date" })
                                @Html.ValidationMessageFor(model => model.NewAudition.StartDate, "", new { @class = "text-danger" })
                                @Html.HiddenFor(x => x.NewAudition.EndDate, new { @class = "enddate audition_event_form" })
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.NewAudition.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd id="tpdd">
                                <p><input id="start" type="text" class="start timepicker form-control audition_event_form" /></p>
                                @Html.HiddenFor(m => m.NewAudition.StartTime, new { @class = "timeelement begintime audition_event_form" })
                                @Html.ValidationMessageFor(model => model.NewAudition.StartTime, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.NewAudition.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd id="tpdd">
                                <p><input id="end" type="text" class="end timepicker form-control audition_event_form" /></p>
                                @Html.HiddenFor(m => m.NewAudition.EndTime, new { @class = "timeelement endtime audition_event_form" })
                                @Html.ValidationMessageFor(model => model.NewAudition.EndTime, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.NewAudition.PlaceId, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd class="ui-front">
                                @Html.HiddenFor(m => m.NewAudition.PlaceId)
                                <input type="text" id="auditionplace" placeholder="Type in a Place" required class="form-control" />
                                @Html.ValidationMessageFor(model => model.NewAudition.PlaceId, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                        <div class="text-right" style="padding-bottom: 10px;">
                            <input type="submit" id="btnsaveaudition" value="Save" class="btn btn-primary" />
                            <input id="btncancelaudition" type="button" class="btn btn-primary" value="Cancel" data-dismiss="modal" />
                        </div>
                    }
                </div>
            </div>
        <div class="modal-footer">
        </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal Add Audition -->

<!-- Modal Picture Upload -->
<div class="modal fade" id="modalPic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="picheader">Upload a New Picture</h3>
            </div>
            <div class="modal-body">
                <div id="divPick" class="text-center">
                    <p>
                        <button id="btnNewPicture" type="button" class="btn btn-primary">
                            Upload New Picture
                        </button>
                    </p>
                    <p>
                        <button id="btnPickFacebook" type="button" class="btn btn-warning">
                            Choose a Facebook Picture
                        </button>
                    </p>
                </div>
                <div id="divOptions" style="display: none;">
                    <div class="row text-center" style="padding: 5px;">
                        <div id="divUploadPic" style="display: none;">
                            <label for="imgInp" class="btn btn-primary btn-lg">
                                Choose File
                            </label>
                            <input id="imgInp" type="file" accept="image/*" />
                        </div>
                        <div id="divFacebookPic" style="display: none;">
                            <div id="facebookpics">
                            </div>
                        </div>
                    </div>
                    <div class="row" id="croppic">
                        <div>
                            <img class="img-responsive" id="image" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="btnupload" class="btn btn-danger" data-dismiss="modal" style="display: none;">Upload</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Picture Upload -->

<!-- Modal Rehearsal Dates -->
<div class="modal fade" id="modalRehearsalDates" tabindex="-1" role="dialog" aria-labelledby="myRehearsalDates">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Rehearsal Dates</h4>
            </div>
            <div class="modal-body">
                <div style="padding: 5px;">
                    @using (Html.BeginForm("AddRehearsalDates", "Team", FormMethod.Post))
                    {
                        <input type="hidden" id="rehearsalId" name="rehearsalId" />
                        <input class="text-right" id="eventCount" name="eventCount" value="1" placeholder="# of Dates to add" style="width: 75px;" />
                        <button id="btnaddrehearsaldates" type="submit" class="btn btn-primary" value="Add Instances">Add Dates</button>
                    }
                </div>
                <div id="rehearsaldatesdiv">
                    <img src="~/Content/images/loadinggears.gif" />
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal Add Audition -->

<style>
#fbEvents option {
    width: 50px;
}
</style>

@section Scripts
{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/foolproof")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/TimePicker")
    @Styles.Render("~/Content/TimePickercss")
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    @Scripts.Render("~/bundles/GeoComplete")
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places&key=@System.Configuration.ConfigurationManager.AppSettings["GoogleAPIKey"]"></script>
<link href="../../Content/cropper.css" rel="stylesheet">
<script src="../../Scripts/cropper.js"></script>
<script src="../../Scripts/bootstrap-toggle.js"></script>
<link href="../../Content/bootstrap-toggle.css" rel="stylesheet">
<script src="~/Scripts/searchhelper.js"></script>
<script src="~/Scripts/jquery.mousewheel.js"></script>

    <script type="text/javascript">
    $.validator.setDefaults({
        ignore: ""
    })

    $('#eventCount').spinner({
        min: 1,
        max: 10
    });

    $('.start').timepicker({
        'timeFormat': 'h:i A',
        'step': function (i) {
            return 15;
        }
    });
    $('.end').timepicker({
        'timeFormat': 'h:i A',
        'step': function (i) {
            return 15;
        }
    });

    function done() {
    }

    $('#modalAudition').on('shown.bs.modal', function () {
        $('#newaudition').show();
        $('#importaudition').hide();
        $('#addaudition').hide();
    })

    $('#btnnewaudition').click(function () {
        $('#newaudition').hide();
        $('#importaudition').hide();
        $('#addaudition').show();
    });
    $('#btnimportaudition').click(function () {
        $('#newaudition').hide();
        $('#importaudition').show();
        $('#addaudition').hide();
    });

    $('.startdate').change(function () {
        var date = new Date($(this).val());
        $('#NewRehearsal_StartDate').val((date.getUTCMonth() + 1).toString() + "/" + date.getUTCDate().toString() + "/" + date.getUTCFullYear().toString());
        SetDates(this);
    });

    $('#modalRehearsalDates').on('show.bs.modal', function (e) {
        var rehearsalid = $(e.relatedTarget).prop('value');
        LoadRehearsalDates(rehearsalid);
        $('#rehearsalId').val(rehearsalid);
    })

    function LoadRehearsalDates(id) {
        $.get('@Url.Action("GetRehearsalDatesPartial", "Team")', { 'id': id }, function (data) {
            $("#rehearsaldatesdiv").empty();
            $("#rehearsaldatesdiv").html(data);
        });
    }
    LoadFacebookEvents();

    function LoadFacebookEvents() {
        $.get('@Url.Action("GetFacebookEvents", "Dancer")', {
        }, function (data) {
            $.each(data, function (index, item) {
                var date = new Date(parseInt(item.StartTime.substr(6)));
                var str = date.toLocaleDateString() + " - " + item.Name;
                if (str.length > 40) str = str.substring(0, 37) + "...";
                $('#NewFacebookEventId').append(
                $('<option></option>').val(item.Id).html(str)
                );
            });
        });
    };

    function SetDates(object) {
        var classes = $(object).prop('class').split(' ');
        var clsname = "";
        $.each(classes, function (i, val) {
            if (classes[i].indexOf("_event_form") >= 0) {
                clsname = classes[i];
            }
        });
        var startfield = $('.' + clsname + '.startdate');
        var endfield = $('.' + clsname + '.enddate');
        var stime = $('.' + clsname + '.begintime');
        var etime = $('.' + clsname + '.endtime');

        var st = new Date(startfield.val());
        st.setDate(st.getDate() + 1);
        endfield.val((st.getUTCMonth() + 1).toString() + "/" + st.getUTCDate().toString() + "/" + st.getUTCFullYear().toString());

        var start = new Date(startfield.val());
        var end = new Date(endfield.val());
        var startdt = new Date((start.getUTCMonth() + 1).toString() + "/" + start.getUTCDate().toString() + "/" + start.getUTCFullYear().toString() + " " + $('.' + clsname + '.timepicker.start').val());
        var enddt = new Date((end.getUTCMonth() + 1).toString() + "/" + end.getUTCDate().toString() + "/" + end.getUTCFullYear().toString() + " " + $('.' + clsname + '.timepicker.end').val());
        $('.' + clsname + '.timeelement.begintime').prop('value', startdt.toLocaleDateString() + " " + startdt.toLocaleTimeString());
        $('.' + clsname + '.timeelement.endtime').prop('value', enddt.toLocaleDateString() + " " + enddt.toLocaleTimeString());

        //var start = new Date($(object).parent().parent().parent().parent().find('.startdate').val());
        //var end = new Date($(object).parent().parent().parent().parent().find('.enddate').val());
        //var startdt = new Date((start.getUTCMonth() + 1).toString() + "/" + start.getUTCDate().toString() + "/" + start.getUTCFullYear().toString() + " " + $('.timepicker.start').val());
        //var enddt = new Date((end.getUTCMonth() + 1).toString() + "/" + end.getUTCDate().toString() + "/" + end.getUTCFullYear().toString() + " " + $('.timepicker.end').val());
        //$('.timeelement.begintime').prop('value', startdt.toLocaleDateString() + " " + startdt.toLocaleTimeString());
        //$('.timeelement.endtime').prop('value', enddt.toLocaleDateString() + " " + enddt.toLocaleTimeString());
        //var val = $('#createform.main').valid();
    }


    $('.timepicker').change(function () {
        SetDates(this);
    });

    $('#stylesearch').autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("Search", "DanceStyle")',
                data: { searchString: request.term },
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.Name,
                            value: item.Id
                        }
                    }));
                }
            })
        },
        select: function (event, ui) {
            $('#stylesearch').val(ui.item.label);
            $('#NewStyleId').val(ui.item.value);
            return false;
        },
        minLength: 1
    });

    $(function () {
        $('#saveform.main').valid();

        $('#btnEdit').click(function () {
            $('#viewdiv').hide();
            $('#editdiv').show();
            try {
                var valid = $('#saveform.main').valid();
            }
            catch (err) {
                document.getElementById("demo").innerHTML = err.message;
            }
        });
        $('#btncanceledit').click(function () {
            $('#viewdiv').show();
            $('#editdiv').hide();
        });

        $('#saveform.main').submit(function () {
            var valid = $('#saveform.main').valid();
        });

        $('#btnAddRehearsal').click(function () {
            $('#rehearsalsdiv').hide();
            $('#addrehearsaldiv').show();
            //try {
            //    var valid = $('#addrehearsalform.main').valid();
            //}
            //catch (err) {
            //    document.getElementById("demo").innerHTML = err.message;
            //}
        });
        $('#btncancelrehearsal').click(function () {
            $('#rehearsalsdiv').show();
            $('#addrehearsaldiv').hide();
        });

        $('#addrehearsalform.main').submit(function () {
            var valid = $('#addrehearsalform.main').valid();
            //  alert(valid);
        });

        $('#saverehearsal.main').submit(function () {
            var valid = $('#saverehearsal.main').valid();
        });

        $('.time').change(function () {
            var timepicker = $(this).parent('.timepicker');
            var timeelement = $('.timeelement', timepicker);
            SetDates(timepicker);
        });

        function SetDates(element) {
            var hour = $('.hour option:selected', element).val();
            var min = $('.minute option:selected', element).val();
            var ampm = $('.ampm option:selected', element).val();

            $('.timeelement', element).prop("value", "1/1/2000 " + hour + ":" + min + " " + ampm);
        }

        $('#addrehearsalform.main').submit(function () {
            $('#addrehearsalform.main').valid();
        });

        //$('#btnAddAudition').click(function () {
        //    $('#auditionsdiv').hide();
        //    $('#addauditiondiv').show();
        //});
        //$('#btncancelaudition').click(function () {
        //    $('#auditionsdiv').show();
        //    $('#addauditiondiv').hide();
        //});
        $('#addauditionform.main').submit(function () {
            $('#addauditionform.main').valid();
        });

        $('#btnAddPerformance').click(function () {
            $('#performancesdiv').hide();
            $('#addperformancediv').show();
        });
        $('#btncancelperformance').click(function () {
            $('#performancesdiv').show();
            $('#addperformancediv').hide();
        });
        $('#addperformanceform.main').submit(function () {
            $('#addperformanceform.main').valid();
        });
    });

    </script>

    <script type="text/javascript">
    $(function () {
        $("#Team_Address").geocomplete({
            details: "form",
            types: ["geocode", "establishment"],
        })
        .bind("geocode:result", function (event, result) {
            $('#Team_Latitude').prop("value", result.geometry.location.lat());
            $('#Team_Longitude').prop("value", result.geometry.location.lng());
            var street_num;
            var street_name;
            $.each(result.address_components, function (i, address_component) {
                //alert(address_component.types[0]);
                //alert(address_component.long_name);
                if (address_component.types[0] == "street_number") {
                    street_num = address_component.long_name;
                }
                else if (address_component.types[0] == "route") {
                    street_name = address_component.long_name;
                }
                else if (address_component.types[0] == "locality") {
                    $('#Team_City').prop("value", address_component.long_name);
                }
                else if (address_component.types[0] == "administrative_area_level_1") {
                    $('#Team_State').prop("value", address_component.long_name);
                }
                else if (address_component.types[0] == "postal_code") {
                    $('#Team_Zip').prop("value", address_component.long_name);
                }
                else if (address_component.types[0] == "country") {
                    $('#Team_Country').prop("value", address_component.long_name);
                }
            });
            //alert(street_num + " " + street_name);
            $('#Team_Address').prop("value", street_num + " " + street_name);
            //  console.log(result);
        });
    });

    $('#rehearsalplace').autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("Search", "Place")',
                data: { searchString: request.term },
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.Name,
                            value: item.Id
                        }
                    }));
                }
            })
        },
        select: function (event, ui) {
            $('#rehearsalplace').val(ui.item.label);
            $('#NewRehearsal_PlaceId').val(ui.item.value);
            return false;
        },
        minLength: 1
    });

    $('#auditionplace').autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("Search", "Place")',
                data: { searchString: request.term },
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.Name,
                            value: item.Id
                        }
                    }));
                }
            })
        },
        select: function (event, ui) {
            $('#auditionplace').val(ui.item.label);
            $('#NewAudition_PlaceId').val(ui.item.value);
            return false;
        },
        minLength: 1
    });

    $('#performanceplace').autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("Search", "Place")',
                data: { searchString: request.term },
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.Name,
                            value: item.Id
                        }
                    }));
                }
            })
        },
        select: function (event, ui) {
            $('#performanceplace').val(ui.item.label);
            $('#NewPerformance_PlaceId').val(ui.item.value);
            return false;
        },
        minLength: 1
    });

    $('#performanceevent').autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("Search", "Event")',
                data: { searchString: request.term },
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.Name,
                            value: item.Id
                        }
                    }));
                }
            })
        },
        select: function (event, ui) {
            $('#performanceevent').val(ui.item.label);
            $('#NewPerformance_EventId').val(ui.item.value);
            return false;
        },
        minLength: 1
    });
    $('#newmember').autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("Search", "Dancer")',
                data: { searchString: request.term },
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.Name,
                            value: item.Id
                        }
                    }));
                }
            })
        },
        select: function (event, ui) {
            $('#newmember').val(ui.item.label);
            $('#NewMemberId').val(ui.item.value);
            return false;
        },
        minLength: 1
    });
    </script>

    <script>
        LoadFacebookPhotos();
        function LoadFacebookPhotos() {
            $.get('@Url.Action("GetFacebookPicturesPartial", "Dancer")', {}, function (data) {
                $("#facebookpics").empty();
                $("#facebookpics").html(data);
            });
        }
        function loadImage(input) {
            if (input.files && input.files[0]) {
                if (input.files[0].size < 1000000)
                {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#image').cropper({
                            aspectRatio: 10 / 10,
                            zoomable: false,
                        });
                        $("#image").cropper('replace', e.target.result);
                        $("#btnupload").show();
                    }

                    reader.readAsDataURL(input.files[0]);
                }
                else
                {
                    alert("Pick a smaller file");
                }
            }
        }

        $("#imgInp").change(function () {
            loadImage(this);
            $("#croppic").show();
        });

        $(function () {
            $('#btnupload').click(function () {
                try {
                    var imageData = $("#image").cropper("getCroppedCanvas").toDataURL('png', 1);
                    $.ajax({
                        url: "@Url.Action("UploadImageAsync", "Team")",
                        type: 'POST',
                        data: { 'imageData': imageData, 'id' : '@Model.Team.Id' },
                        dataType: 'json',
                        timeout: 300000,
                        success: function (result) {
                            var status;
                            var filePath;
                            $.each(result, function (key, value) {
                                if (key == "UploadStatus")
                                {
                                    status = value;
                                }
                                else{
                                    filePath = value;
                                }
                            });
                            if (status == "Success")
                            {
                                $('#profilepic').attr('src', filePath);
                                $("#image").cropper('destroy');
                                $('#image').attr('src', "");
                                $("#btnupload").hide();
                            }
                            else
                            {
                                alert("Upload Failed");
                            }
                        }
                    });
                }
                catch (err) {
                    alert(err.message);
                }
            });

            $('#btnChangePicture').click(function () {
                $('#divPick').show();
                $('#divOptions').hide();
            });

            $('#btnNewPicture').click(function () {
                $('#divPick').hide();
                $('#divOptions').show();
                $('#divUploadPic').show();
                $('#divFacebookPic').hide();
                $('#croppic').hide();
                $('#image').attr('src', "");
            });

            $('#btnPickFacebook').click(function () {
                $('#divPick').hide();
                $('#divOptions').show();
                $('#divUploadPic').hide();
                $('#divFacebookPic').show();
                $('#croppic').hide();
                $('#image').attr('src', "");
            });

            $('#facebookpics').on("click", ".pickfbpic", function () {
                var src = $(this).prop('value');
                $('#image').attr('src', src);
                $('#croppic').show();
                $('#divFacebookPic').hide();
                $('#image').cropper({
                    aspectRatio: 10 / 10,
                    zoomable: false,
                });
                $("#image").cropper('replace', src);
                $("#btnupload").show();
            });
        });
    </script>
}
