@model EDR.Models.ViewModels.TeamManageViewModel

@{
    ViewBag.Title = "Details";
}

@section Scripts
{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/foolproof")
    @Scripts.Render("~/bundles/jqueryUI")

<script type="text/javascript">
    $.validator.setDefaults({
        ignore: ""
    })

    $(function () {
        $('#saveform.main').valid();

        $('#btnEdit').click(function () {
            $('#viewdiv').hide();
            $('#editdiv').show();
            try
            {
                var valid = $('#saveform.main').valid();
            }
            catch(err)
            {
                document.getElementById("demo").innerHTML = err.message;
            }
        });
        $('#btncanceledit').click(function () {
            $('#viewdiv').show();
            $('#editdiv').hide();
        });

        $('#saveform.main').submit(function () {
            var valid = $('#saveform.main').valid();
        });

        $('#btnAddRehearsal').click(function () {
            $('#rehearsalsdiv').hide();
            $('#addrehearsaldiv').show();
            //try {
            //    var valid = $('#addrehearsalform.main').valid();
            //}
            //catch (err) {
            //    document.getElementById("demo").innerHTML = err.message;
            //}
        });
        $('#btncancelrehearsal').click(function () {
            $('#rehearsalsdiv').show();
            $('#addrehearsaldiv').hide();
        });

        $('#addrehearsalform.main').submit(function () {
            var valid = $('#addrehearsalform.main').valid();
        });

        $('#saverehearsal.main').submit(function () {
            var valid = $('#saverehearsal.main').valid();
        });

        $('.time').change(function () {
            var timepicker = $(this).parent('.timepicker');
            var timeelement = $('.timeelement', timepicker);
            SetDates(timepicker);
        });

        function SetDates(element) {
            var hour = $('.hour option:selected', element).val();
            var min = $('.minute option:selected', element).val();
            var ampm = $('.ampm option:selected', element).val();

            $('.timeelement', element).prop("value", "1/1/2000 " + hour + ":" + min + " " + ampm);
        }

        $('#addrehearsalform.main').submit(function () {
            $('#addrehearsalform.main').valid();
        });

        $('#btnAddAudition').click(function () {
            $('#auditionsdiv').hide();
            $('#addauditiondiv').show();
        });
        $('#btncancelaudition').click(function () {
            $('#auditionsdiv').show();
            $('#addauditiondiv').hide();
        });
        $('#addauditionform.main').submit(function () {
            $('#addauditionform.main').valid();
        });

        $('#btnAddPerformance').click(function () {
            $('#performancesdiv').hide();
            $('#addperformancediv').show();
        });
        $('#btncancelperformance').click(function () {
            $('#performancesdiv').show();
            $('#addperformancediv').hide();
        });
        $('#addperformanceform.main').submit(function () {
            $('#addperformanceform.main').valid();
        });
    });

</script>

<script type="text/javascript">
    $('#rehearsalplace').autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("Search", "Place")',
                data: { searchString: request.term },
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.Name,
                            value: item.Id
                        }
                    }));
                }
            })
        },
        select: function (event, ui) {
            $('#rehearsalplace').val(ui.item.label);
            $('#NewRehearsal_PlaceId').val(ui.item.value);
            return false;
        },
        minLength: 1
    });

    $('#auditionplace').autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("Search", "Place")',
                data: { searchString: request.term },
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.Name,
                            value: item.Id
                        }
                    }));
                }
            })
        },
        select: function (event, ui) {
            $('#auditionplace').val(ui.item.label);
            $('#NewAudition_PlaceId').val(ui.item.value);
            return false;
        },
        minLength: 1
    });

    $('#performanceplace').autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("Search", "Place")',
                data: { searchString: request.term },
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.Name,
                            value: item.Id
                        }
                    }));
                }
            })
        },
        select: function (event, ui) {
            $('#performanceplace').val(ui.item.label);
            $('#NewPerformance_PlaceId').val(ui.item.value);
            return false;
        },
        minLength: 1
    });

    $('#performanceevent').autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("Search", "Event")',
                data: { searchString: request.term },
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.Name,
                            value: item.Id
                        }
                    }));
                }
            })
        },
        select: function (event, ui) {
            $('#performanceevent').val(ui.item.label);
            $('#NewPerformance_EventId').val(ui.item.value);
            return false;
        },
        minLength: 1
    });
</script>
}

<h2>Details</h2>
<hr />

<div class="container-fluid">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body ">
                <h3>Team Details</h3>
                <div id="viewdiv">
                    <div class="text-right" style="padding-bottom: 10px;">
                        <input id="btnEdit" type="button" class="btn btn-primary" value="Edit" />
                    </div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Team.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Team.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Team.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Team.Description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Team.FacebookLink)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Team.FacebookLink)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Team.Public)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Team.Public)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Team.DateStarted)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Team.DateStarted)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Team.Address)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Team.Address)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Team.Address2)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Team.Address2)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Team.City)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Team.City)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Team.State)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Team.State)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Team.Zip)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Team.Zip)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Team.Country)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Team.Country)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Team.Latitude)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Team.Latitude)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Team.Longitude)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Team.Longitude)
                        </dd>

                    </dl>

                </div>
                <div id="editdiv" style="display: none;">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @using (Html.BeginForm("Save", "Team", FormMethod.Post, new { @id = "saveform", @class = "main" }))
            {
                        @Html.HiddenFor(x => x.Team.Id)
                        <div class="text-right" style="padding-bottom: 10px;">
                            <input type="submit" id="btnsave" value="Save" class="btn btn-primary" />
                            <input id="btncanceledit" type="button" class="btn btn-primary" value="Cancel" />
                        </div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.Team.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.EditorFor(model => model.Team.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Team.Name, "", new { @class = "text-danger" })
                            </dd>
                            <dt>
                                @Html.LabelFor(model => model.Team.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.EditorFor(model => model.Team.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Team.Description, "", new { @class = "text-danger" })
                            </dd>
                            <dt>
                                @Html.LabelFor(model => model.Team.FacebookLink, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.EditorFor(model => model.Team.FacebookLink, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Team.FacebookLink, "", new { @class = "text-danger" })
                            </dd>
                            <dt>
                                @Html.LabelFor(model => model.Team.Public, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd class="checkbox">
                                @Html.EditorFor(model => model.Team.Public)
                                @Html.ValidationMessageFor(model => model.Team.Public, "", new { @class = "text-danger" })
                            </dd>
                            <dt>
                                @Html.LabelFor(model => model.Team.DateStarted, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.EditorFor(model => model.Team.DateStarted, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Team.DateStarted, "", new { @class = "text-danger" })
                            </dd>
                            <dt>
                                @Html.LabelFor(model => model.Team.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.EditorFor(model => model.Team.Address, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Team.Address, "", new { @class = "text-danger" })
                            </dd>
                            <dt>
                                @Html.LabelFor(model => model.Team.Address2, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.EditorFor(model => model.Team.Address2, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Team.Address2, "", new { @class = "text-danger" })
                            </dd>
                            <dt>
                                @Html.LabelFor(model => model.Team.City, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.EditorFor(model => model.Team.City, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Team.City, "", new { @class = "text-danger" })
                            </dd>
                            <dt>
                                @Html.LabelFor(model => model.Team.State, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.EnumDropDownListFor(model => model.Team.State, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Team.State, "", new { @class = "text-danger" })
                            </dd>
                            <dt>
                                @Html.LabelFor(model => model.Team.Zip, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.EditorFor(model => model.Team.Zip, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Team.Zip, "", new { @class = "text-danger" })
                            </dd>
                            <dt>
                                @Html.LabelFor(model => model.Team.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.EditorFor(model => model.Team.Country, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Team.Country, "", new { @class = "text-danger" })
                            </dd>
                        </dl>

                        <div class="form-group">
                            <div class="col-md-10">
                            </div>
                        </div>
            }
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body ">
                <h3>Rehearsal Schedule</h3>
                <div id="rehearsalsdiv">
                    <input id="btnAddRehearsal" type="button" class="btn btn-link" value="Add Rehearsal" />
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Day
                                </th>
                                <th>
                                    Time
                                </th>
                                <th>
                                    Location
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        @foreach (var r in Model.Team.Rehearsals)
                        {
                            <tr>
                                <td>
                                    @r.Day
                                </td>
                                <td>
                                    @r.Time.ToShortTimeString()
                                </td>
                                <td>
                                    @r.Place.Name<br />
                                    @r.Place.Address<br />
                                    @r.Place.City, @r.Place.State @r.Place.Zip
                                </td>
                                <td>
                                    <a class="btn btn btn-danger" title="Delete" href="@Url.Action("DeleteRehearsal", "Team", new { id = r.Id })" onclick="return confirm('Are you sure you want to DELETE this Rehearsal?')">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <div id="addrehearsaldiv" style="display: none;">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @using (Html.BeginForm("AddRehearsal", "Team", FormMethod.Post, new { @id = "addrehearsalform", @class = "main" }))
                    {
                        @Html.HiddenFor(x => x.NewRehearsal.TeamId, new { @Value = Model.Team.Id })
                        <div class="text-right" style="padding-bottom: 10px;">
                            <input type="submit" id="btnsaverehearsal" value="Save" class="btn btn-primary" />
                            <input id="btncancelrehearsal" type="button" class="btn btn-primary" value="Cancel" />
                        </div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.NewRehearsal.Day, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.EnumDropDownListFor(m => m.NewRehearsal.Day, null, new { @class = "form-control"})
                                @Html.ValidationMessageFor(model => model.NewRehearsal.Day, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.NewRehearsal.Time, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd class="timepicker" id="tpdd">
                                @Html.DropDownList("RehearsalHour", new SelectList(new List<SelectListItem>
                                                {
                                                    new SelectListItem { Text = "01", Value = "1" },
                                                    new SelectListItem { Text = "02", Value = "2" },
                                                    new SelectListItem { Text = "03", Value = "3" },
                                                    new SelectListItem { Text = "04", Value = "4" },
                                                    new SelectListItem { Text = "05", Value = "5" },
                                                    new SelectListItem { Text = "06", Value = "6" },
                                                    new SelectListItem { Text = "07", Value = "7" },
                                                    new SelectListItem { Text = "08", Value = "8" },
                                                    new SelectListItem { Text = "09", Value = "9" },
                                                    new SelectListItem { Text = "10", Value = "10" },
                                                    new SelectListItem { Text = "11", Value = "11" },
                                                    new SelectListItem { Text = "12", Value = "12" }
                                                    }, "Value", "Text", null), new { @class = "form-control time hour", style = "width: 70px; display: inline;" })
                                @Html.DropDownList("RehearsalMinute", new SelectList(new List<string> { "00", "15", "30", "45" }), new { @class = "form-control time minute", style = "width: 70px; display: inline;" })
                                @Html.DropDownList("RehearsalAMPM", new SelectList(new List<string>() { "AM", "PM" }), new { @class = "form-control time ampm", style = "width: 70px; display: inline;" })
                                @Html.HiddenFor(m => m.NewRehearsal.Time, new { @class = "timeelement" })
                                @Html.ValidationMessageFor(model => model.NewRehearsal.Time, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.NewRehearsal.PlaceId, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.HiddenFor(m => m.NewRehearsal.PlaceId)
                                <input type="text" id="rehearsalplace" placeholder="Type in a Place" required class="form-control" />
                                @Html.ValidationMessageFor(model => model.NewRehearsal.PlaceId, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                    }
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body ">
                <h3>Auditions</h3>
                <div id="auditionsdiv">
                    <input id="btnAddAudition" type="button" class="btn btn-link" value="Add Audition" />
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Start Time
                                </th>
                                <th>
                                    End Time
                                </th>
                                <th>
                                    Location
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        @foreach (var r in Model.Team.Auditions)
                        {
                            <tr>
                                <td>
                                    @r.StartDate.ToShortDateString()
                                </td>
                                <td>
                                    @(((DateTime)r.StartTime).ToShortTimeString())
                                </td>
                                <td>
                                    @(((DateTime)r.EndTime).ToShortTimeString())
                                </td>
                                <td>
                                    @r.Place.Name<br />
                                    @r.Place.Address<br />
                                    @r.Place.City, @r.Place.State @r.Place.Zip
                                </td>
                                <td>
                                    <a class="btn btn btn-danger" title="Delete" href="@Url.Action("DeleteAudition", "Team", new { id = r.Id })" onclick="return confirm('Are you sure you want to DELETE this Audition?')">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <div id="addauditiondiv" style="display: none;">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @using (Html.BeginForm("AddAudition", "Team", FormMethod.Post, new { @id = "addauditionform", @class = "main" }))
                    {
                        @Html.HiddenFor(x => x.NewAudition.TeamId, new { @Value = Model.Team.Id })
                        <div class="text-right" style="padding-bottom: 10px;">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <input id="btncancelaudition" type="button" class="btn btn-primary" value="Cancel" />
                        </div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.NewAudition.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.TextBoxFor(m => m.NewAudition.StartDate, "{0:yyyy-MM-dd}", htmlAttributes: new { @type = "date", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.NewAudition.StartDate, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.NewAudition.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd class="timepicker" id="tpdd">
                                @Html.DropDownList("AuditionHour", new SelectList(new List<SelectListItem>
                                                {
                                                    new SelectListItem { Text = "01", Value = "1" },
                                                    new SelectListItem { Text = "02", Value = "2" },
                                                    new SelectListItem { Text = "03", Value = "3" },
                                                    new SelectListItem { Text = "04", Value = "4" },
                                                    new SelectListItem { Text = "05", Value = "5" },
                                                    new SelectListItem { Text = "06", Value = "6" },
                                                    new SelectListItem { Text = "07", Value = "7" },
                                                    new SelectListItem { Text = "08", Value = "8" },
                                                    new SelectListItem { Text = "09", Value = "9" },
                                                    new SelectListItem { Text = "10", Value = "10" },
                                                    new SelectListItem { Text = "11", Value = "11" },
                                                    new SelectListItem { Text = "12", Value = "12" }
                                                    }, "Value", "Text", null), new { @class = "form-control time hour", style = "width: 70px; display: inline;" })
                                @Html.DropDownList("AuditionMinute", new SelectList(new List<string> { "00", "15", "30", "45" }), new { @class = "form-control time minute", style = "width: 70px; display: inline;" })
                                @Html.DropDownList("AuditionAMPM", new SelectList(new List<string>() { "AM", "PM" }), new { @class = "form-control time ampm", style = "width: 70px; display: inline;" })
                                @Html.HiddenFor(m => m.NewAudition.StartTime, new { @class = "timeelement", @Value = "1/1/2000 1:00 AM" })
                                @Html.ValidationMessageFor(model => model.NewAudition.StartTime, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.NewAudition.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd class="timepicker" id="tpdd">
                                @Html.DropDownList("AuditionEndHour", new SelectList(new List<SelectListItem>
                                                {
                                                    new SelectListItem { Text = "01", Value = "1" },
                                                    new SelectListItem { Text = "02", Value = "2" },
                                                    new SelectListItem { Text = "03", Value = "3" },
                                                    new SelectListItem { Text = "04", Value = "4" },
                                                    new SelectListItem { Text = "05", Value = "5" },
                                                    new SelectListItem { Text = "06", Value = "6" },
                                                    new SelectListItem { Text = "07", Value = "7" },
                                                    new SelectListItem { Text = "08", Value = "8" },
                                                    new SelectListItem { Text = "09", Value = "9" },
                                                    new SelectListItem { Text = "10", Value = "10" },
                                                    new SelectListItem { Text = "11", Value = "11" },
                                                    new SelectListItem { Text = "12", Value = "12" }
                                                    }, "Value", "Text", null), new { @class = "form-control time hour", style = "width: 70px; display: inline;" })
                                @Html.DropDownList("AuditionEndMinute", new SelectList(new List<string> { "00", "15", "30", "45" }), new { @class = "form-control time minute", style = "width: 70px; display: inline;" })
                                @Html.DropDownList("AuditionEndAMPM", new SelectList(new List<string>() { "AM", "PM" }), new { @class = "form-control time ampm", style = "width: 70px; display: inline;" })
                                @Html.HiddenFor(m => m.NewAudition.EndTime, new { @class = "timeelement", @Value = "1/1/2000 1:00 AM" })
                                @Html.ValidationMessageFor(model => model.NewAudition.EndTime, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.NewAudition.PlaceId, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.HiddenFor(m => m.NewAudition.PlaceId)
                                <input type="text" id="auditionplace" placeholder="Type in a Place" required class="form-control" />
                                @Html.ValidationMessageFor(model => model.NewAudition.PlaceId, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                    }
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body ">
                <h3>Performances</h3>
                <div id="performancesdiv">
                    <input id="btnAddPerformance" type="button" class="btn btn-link" value="Add Performance" />
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Start Time
                                </th>
                                <th>
                                    Event/Location
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        @foreach (var r in Model.Team.Performances)
                        {
                            <tr>
                                <td>
                                    @r.StartDate.ToShortDateString()
                                </td>
                                <td>
                                    @(((DateTime)r.StartTime).ToShortTimeString())
                                </td>
                                <td>
                                    @if (r.Event != null)
                                    {
                                        @r.Event.Name<br />
                                    }
                                    @r.Place.Name<br />
                                    @r.Place.Address<br />
                                    @r.Place.City, @r.Place.State @r.Place.Zip
                                </td>
                                <td>
                                    <a class="btn btn btn-danger" title="Delete" href="@Url.Action("DeletePerformance", "Team", new { id = r.Id })" onclick="return confirm('Are you sure you want to DELETE this Performance?')">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <div id="addperformancediv" style="display: none;">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @using (Html.BeginForm("AddPerformance", "Team", FormMethod.Post, new { @id = "addperformanceform", @class = "main" }))
                    {
                        @Html.HiddenFor(x => x.NewPerformance.TeamId, new { @Value = Model.Team.Id })
                        <div class="text-right" style="padding-bottom: 10px;">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <input id="btncancelperformance" type="button" class="btn btn-primary" value="Cancel" />
                        </div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.NewPerformance.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.TextBoxFor(m => m.NewPerformance.StartDate, "{0:yyyy-MM-dd}", htmlAttributes: new { @type = "date", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.NewPerformance.StartDate, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.NewPerformance.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd class="timepicker" id="tpdd">
                                @Html.DropDownList("PerformanceHour", new SelectList(new List<SelectListItem>
                                                {
                                                    new SelectListItem { Text = "01", Value = "1" },
                                                    new SelectListItem { Text = "02", Value = "2" },
                                                    new SelectListItem { Text = "03", Value = "3" },
                                                    new SelectListItem { Text = "04", Value = "4" },
                                                    new SelectListItem { Text = "05", Value = "5" },
                                                    new SelectListItem { Text = "06", Value = "6" },
                                                    new SelectListItem { Text = "07", Value = "7" },
                                                    new SelectListItem { Text = "08", Value = "8" },
                                                    new SelectListItem { Text = "09", Value = "9" },
                                                    new SelectListItem { Text = "10", Value = "10" },
                                                    new SelectListItem { Text = "11", Value = "11" },
                                                    new SelectListItem { Text = "12", Value = "12" }
                                                    }, "Value", "Text", null), new { @class = "form-control time hour", style = "width: 70px; display: inline;" })
                                @Html.DropDownList("PerformanceMinute", new SelectList(new List<string> { "00", "15", "30", "45" }), new { @class = "form-control time minute", style = "width: 70px; display: inline;" })
                                @Html.DropDownList("PerformanceAMPM", new SelectList(new List<string>() { "AM", "PM" }), new { @class = "form-control time ampm", style = "width: 70px; display: inline;" })
                                @Html.HiddenFor(m => m.NewPerformance.StartTime, new { @class = "timeelement", @Value = "1/1/2000 1:00 AM" })
                                @Html.ValidationMessageFor(model => model.NewPerformance.StartTime, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.NewPerformance.PlaceId, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.HiddenFor(m => m.NewPerformance.PlaceId)
                                <input type="text" id="performanceplace" placeholder="Search for a Place" required class="form-control" />
                                @Html.ValidationMessageFor(model => model.NewPerformance.PlaceId, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                OR
                            </dt>
                            <dd>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.LabelFor(model => model.NewPerformance.EventId, htmlAttributes: new { @class = "control-label col-md-2" })
                            </dt>
                            <dd>
                                @Html.HiddenFor(m => m.NewPerformance.EventId)
                                <input type="text" id="performanceevent" placeholder="Search for an Event" required class="form-control" />
                                @Html.ValidationMessageFor(model => model.NewPerformance.EventId, "", new { @class = "text-danger" })
                            </dd>
                        </dl>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
