@model EDR.Models.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Eat, Dance, Repeat";
}

@section jumbotron
{
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    Are you
                    <select id="UrlList" onchange="doNavigate()">
                        <option value=""></option>
                        <option value="@Url.Action("View", "Visitor")">a New Visitor?</option>
                        <option value="@Url.Action("View", "Dancer", new { username = User.Identity.Name })">a Dancer?</option>
                        <option value="@Url.Action("View", "Teacher", new { username = User.Identity.Name })">a Teacher?</option>
                        <option value="@Url.Action("View", "Promoter", new { username = User.Identity.Name })">a Promoter?</option>
                        <option value="@Url.Action("View", "Owner", new { username = User.Identity.Name })">a Studio Owner?</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
}

<script>
    function doNavigate() {
        window.location.href = document.getElementById("UrlList").value;
    }
</script>