@model EDR.Models.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Eat, Dance, Repeat";
}

@section jumbotron
{
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <form id="bootstrapSelectForm" method="post" class="form-horizontal">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Are You 
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation">@Html.ActionLink("a New Visitor?", "View", "Visitor", null, null)</li>
                            <li role="presentation">@Html.ActionLink("a Dancer?", "View", "Dancer", new { username = User.Identity.Name }, null)</li>
                            <li role="presentation">@Html.ActionLink("a Teacher?", "View", "Teacher", new { username = User.Identity.Name }, null)</li>
                            <li role="presentation">@Html.ActionLink("a Promoter?", "View", "Promoter", new { username = User.Identity.Name }, null)</li>
                            <li role="presentation">@Html.ActionLink("a Studio Owner?", "View", "Owner", new { username = User.Identity.Name }, null)</li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

<script>
    function doNavigate() {
        window.location.href = document.getElementById("UrlList").value;
    }
</script>