@model EDR.Models.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Eat, Dance, Repeat";
}
@section jumbotron
{
    <div class="jumbotron" style="background: url(/Content/images/dancebanner.jpg) no-repeat; background-size: cover; position: relative;">
        <div style="max-height:100%;background:#fff;position:absolute;top:0;left:0;width:100%;height:100%;opacity:0.7;filter:alpha(opacity=50);z-index:1;"></div>
        <div class="container" style="z-index:2; position:relative;">
            <div class="row text-center">
                <div>
                    <img src="~/Content/images/eatdancerepeat.png" style="width: 75%;" />
                </div>
                @*<h1 style="font-family: 'Lucida Console', monospace">Eat. Dance. Repeat.</h1>*@
                <h3>Your source for everything social dance related</h3>
                <form id="bootstrapSelectForm" method="post" class="form-horizontal">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Are You
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation">@Html.ActionLink("a New Visitor?", "View", "Visitor", null, null)</li>
                            <li role="presentation">@Html.ActionLink("a Dancer?", "Home", "Dancer", new { username = User.Identity.IsAuthenticated ? User.Identity.Name : "NotLoggedIn" }, null)</li>
                            <li role="presentation">@Html.ActionLink("a Teacher?", "Home", "Teacher", new { username = User.Identity.IsAuthenticated ? User.Identity.Name : "NotLoggedIn" }, null)</li>
                            <li role="presentation">@Html.ActionLink("a Promoter?", "Home", "Promoter", new { username = User.Identity.IsAuthenticated ? User.Identity.Name : "NotLoggedIn" }, null)</li>
                            <li role="presentation">@Html.ActionLink("a Studio/Club/Restaurant Owner?", "Home", "Owner", new { username = User.Identity.IsAuthenticated ? User.Identity.Name : "NotLoggedIn" }, null)</li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
</div>
}

<script>
    function doNavigate() {
        window.location.href = document.getElementById("UrlList").value;
    }
</script>