@model EDR.Models.ViewModels.HomeLearnViewModel

@{
    ViewBag.Title = "Learn to Dance";
}

<h1 class="page-header">Learn to Dance</h1>

<h4>Classes</h4>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Place</th>
            <th>Date</th>
            <th>Teachers</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Classes)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Details", "Class", new { id = item.Id }, null)
                </td>
                <td>
                    @Html.ActionLink(item.Place.Name, "Details", "Place", new { id = item.Place.Id }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    <ul class="list-inline">
                        @if (item.Teachers != null)
                        {
                            foreach (var t in item.Teachers)
                            {
                                <li>@Html.ActionLink(t.FullName, "Details", "Teacher", new { id = t.Id }, null)</li>
                            }
                        }
                    </ul>
                </td>
                <td>
                    @(item.Price.HasValue ? item.Price.ToString() : "Free")
                </td>
            </tr>
        }
    </tbody>
</table>

@*<h4>Available Classes</h4>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Place</th>
            <th>Start</th>
            <th>End</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Classes)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Details", "Class", new { id = item.Id }, null)
                </td>
                <td>
                    @Html.ActionLink(item.Place.Name, "Details", "Place", new { id = item.Place.Id }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @(item.Price.HasValue ? item.Price.ToString() : "Free")
                </td>
            </tr>
        }
    </tbody>
</table>*@

