@model IEnumerable<EDR.Models.Class>

<div class="container">
    @{
        int rowNo = 0;
    }
    @foreach (var item in Model.OrderBy(c => c.NextDate))
    {
        <text>
            <div class="col-lg-6" style="padding: 5px !important;">
                <div class="box-default col-lg-12 nospace" style="padding: 5px !important;">
                    <div class="col-lg-3 bg-success helper">
                        <span></span><img src='@Url.Content(item.PhotoUrl ?? "~/Content/images/NoImage.png")' />
                    </div>
                    <div class="col-lg-6 text-left">
                        <div id="parentc">
                            <input id="rv" type="hidden" value="@(item.Reviews.Count() != 0 ? item.Reviews.Average(r => r.Rating) : 0)" class="ratingval" />
                            <div id="cont" class="rateYo"></div>
                        </div>
                        <div class="item-title text-primary">
                            <a href="@Url.Action("View", "Event", new { id = item.Id, eventType = EDR.Enums.EventType.Class })" onmouseover="openEvent(@rowNo, @item.Place.Latitude, @item.Place.Longitude); return false;">
                                @(rowNo + 1). @item.Name
                            </a>
                        </div>
                        <div class="small" style="margin-top: 5px;">
                            @Html.DisplayFor(modelItem => item.Place.Address)<br />
                            @Html.DisplayFor(modelItem => item.Place.City), @Html.DisplayFor(modelItem => item.Place.StateName) @Html.DisplayFor(modelItem => item.Place.Zip)
                        </div>
                    </div>
                    <div class="col-lg-3 bg-success text-right small" style="padding: 5px;">
                        <strong>@item.NextDate.DayOfWeek</strong><br />
                        <strong>@item.NextDate.ToString("MMMM dd, yyyy")</strong><br />
                        @Convert.ToDateTime(item.StartTime).ToShortTimeString()<br />
                    </div>
                    <div class="text-right col-lg-3" style="padding: 0px !important; margin-top: 2px; white-space: normal;">
                        @foreach (var s in item.DanceStyles)
                        {
                            <span class="label label-default pull-right" style="margin: 1px;">@s.Name</span><text> </text>
                        }
                    </div>
                </div>
            </div>
        </text>
        rowNo++;
    }
</div>
