@model EDR.Models.ApplicationUser

<a title="@Model.FirstName" href="@Url.Action("Home", "Dancer", new { username = Model.UserName })" style="display: block;">
    <img class="img-circle" style="max-height: 100%; max-width: 100%; display: block; padding: 5px;" src="@Url.Content(EDR.Utilities.ApplicationUtility.CheckImageLink(Model.PhotoUrl))" title="@Model.FirstName" alt="@Model.FirstName" />
</a>
