@model IEnumerable<EDR.Models.Owner>

<div class="container">
    @{
        int rowNo = 0;
    }
    @foreach (var item in Model.OrderBy(m => m.ApplicationUser.FullName))
    {
        <text>
            <div class="col-lg-4" style="padding: 5px !important;">
                <div class="row box-default" style="padding: 5px;">
                    <div class="col-lg-3 bg-success helper">
                        <span></span><img src='@Url.Content(item.ApplicationUser.PhotoUrl ?? "~/Content/images/NoImage.png")' />
                    </div>
                    <div class="col-lg-6 text-left">
                        <div class="item-title text-primary">
                            <a href="@Url.Action("Home", "Owner", new { id = item.ApplicationUser.UserName })">
                                @(rowNo + 1). @item.ApplicationUser.FullName
                            </a>
                        </div>
                        <div class="small" style="margin-top: 5px;">
                            @Html.DisplayFor(modelItem => item.ApplicationUser.Address)<br />
                            @Html.DisplayFor(modelItem => item.ApplicationUser.City), @Html.DisplayFor(modelItem => item.ApplicationUser.State) @Html.DisplayFor(modelItem => item.ApplicationUser.ZipCode)
                        </div>
                        <a href="#" class="small" onclick="openEvent(@rowNo, @item.ApplicationUser.Latitude, @item.ApplicationUser.Longitude); return false;">View on Map</a>
                    </div>
                </div>
            </div>
        </text>
        rowNo++;
    }
</div>



