@model EDR.Models.School

<div class="row" style="padding-bottom: 10px;">
    <div class="col-lg-12">
        <div class="col-lg-3" style="background-color: #eee;">
            <img style="max-height: 100%; max-width: 100%;" src="@Url.Content(Model.PhotoUrl ?? "~/Content/images/NoProfilePic.gif")" title="@Model.Name" />
        </div>
        <div class="col-lg-9">
            <div class="col-lg-12 nospace">
                @Html.ActionLink(Model.Name, "View", "School", new { id = Model.Id }, new { @class = "lead text-warning" })
            </div>
            <div class="col-lg-12 nospace">
                <span class="col-lg-3 nospace"><b>Location:</b></span>
                @Model.City, @Model.State
            </div>
        </div>
    </div>
</div>
