@model IEnumerable<EDR.Models.Teacher>

    @{
        int rowNo = 0;
    }
    @foreach (var item in Model.OrderBy(m => m.ApplicationUser.FullName))
    {
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 nospace" style="padding: 5px !important;">
            <div class="box-default col-lg-12 col-xs-12 col-md-12 col-sm-12 nospace" style="padding: 5px !important;">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nospace bg-success helper text-center">
                    <span style="line-height: 100%; vertical-align: middle;"></span><img style="max-width: 100%; max-height: 100%;" src="@Url.Content(EDR.Utilities.ApplicationUtility.CheckImageLink(item.ApplicationUser.PhotoUrl))" />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
                    <div id="parentc">
                        <input id="rv" type="hidden" value="@(item.Reviews.Count() != 0 ? item.Reviews.Average(r => r.Rating) : 0)" class="ratingval" />
                        <div id="cont" class="rateYo"></div>
                    </div>
                    <div class="item-title text-primary">
                        <a href="@Url.Action("Home", "Teacher", new { username = item.ApplicationUser.UserName })" onmouseover="openEvent(@rowNo, @item.ApplicationUser.Latitude, @item.ApplicationUser.Longitude); return false;">
                            @item.ApplicationUser.FullName
                        </a>
                    </div>
                    <div class="small" style="margin-top: 5px;">
                        @Html.DisplayFor(modelItem => item.ApplicationUser.City), @Html.DisplayFor(modelItem => item.ApplicationUser.State)
                    </div>
                </div>
                <div class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding: 0px !important; margin-top: 2px; white-space: normal;">
                    @foreach (var s in item.DanceStyles)
                    {
                        <span class="label label-default pull-right" style="margin: 1px;">@s.Name</span><text> </text>
                    }
                </div>
            </div>
        </div>
        @*<div class="col-lg-6 col-md-6" style="padding: 5px !important;">
            <div class="row">
                <div class="box-default" style="padding: 5px; height: 100%;">
                    <div class="col-lg-3 col-md-3 bg-success helper">
                        <span></span><img src="@Url.Content(EDR.Utilities.ApplicationUtility.CheckImageLink(item.ApplicationUser.PhotoUrl))" />
                    </div>
                    <div class="col-lg-6 col-md-6 text-left">
                        <div id="parentc">
                            <input id="rv" type="hidden" value="@(item.Reviews.Count() != 0 ? item.Reviews.Average(r => r.Rating) : 0)" class="ratingval" />
                            <div id="cont" class="rateYo"></div>
                        </div>
                        <div class="item-title text-primary">
                            <a href="@Url.Action("Home", "Teacher", new { id = item.ApplicationUser.UserName })" onmouseover="openEvent(@rowNo, @item.ApplicationUser.Latitude, @item.ApplicationUser.Longitude); return false;">
                                @(rowNo + 1). @item.ApplicationUser.FullName
                            </a>
                        </div>
                        <div class="small" style="margin-top: 5px;">
                            @Html.DisplayFor(modelItem => item.ApplicationUser.City), @Html.DisplayFor(modelItem => item.ApplicationUser.State)
                        </div>
                    </div>
                    <div class="text-right col-lg-3 col-md-3" style="padding: 0px !important; margin-top: 2px; white-space: normal;">
                        @foreach (var s in item.DanceStyles)
                        {
                            <span class="label label-default pull-right" style="margin: 1px;">@s.Name</span><text> </text>
                        }
                    </div>
                </div>
            </div>
        </div>*@
        rowNo++;
    }


