@model EDR.Models.ViewModels.TeacherViewViewModel

@{
    ViewBag.Title = "Teacher Page for " + Model.Teacher.ApplicationUser.FullName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{string ctrName = ViewContext.RouteData.Values["action"].ToString();}

<div class="container" style="padding: 10px;">
    <div class="row">
        <h1 class="page-header">
            @Model.Teacher.ApplicationUser.FullName
            @if (User.Identity != null && User.Identity.Name == Model.Teacher.ApplicationUser.UserName)
            {
                <a class="btn btn-info" title="Edit Profile" href="@Url.Action("Edit", "Teacher", new { username = Model.Teacher.ApplicationUser.UserName })">
                    <i class="glyphicon glyphicon-pencil" style="vertical-align: middle;"></i>
                    Edit
                </a>
            }
            <span class="pull-right">
                <small>Teacher</small>
                @if (Model.Roles.Count() > 0)
                {
                    <span class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                            Switch to...
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Home", "Dancer", new { username = Model.Teacher.ApplicationUser.UserName })">Dancer Page</a></li>
                            @if (Model.Roles.Contains(EDR.Enums.RoleName.Promoter))
                            {
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Home", "Promoter", new { username = Model.Teacher.ApplicationUser.UserName })">Promoter Page</a></li>
                            }
                            @if (Model.Roles.Contains(EDR.Enums.RoleName.Owner))
                            {
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Home", "Owner", new { username = Model.Teacher.ApplicationUser.UserName })">Studio Owner Page</a></li>
                            }
                        </ul>
                    </span>
                }
            </span>
        </h1>
    </div>
    <div class="well col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                @Html.Partial("~/Views/Shared/_ProfilePicturePartial.cshtml", new EDR.Models.ViewModels.ProfilePicture() { User = Model.Teacher.ApplicationUser, ReturnUrl = Url.Action("Home", "Teacher", new { username = Model.Teacher.ApplicationUser.UserName }) })
            </div>
            <div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>
                        <img style="width: 100%;" src="https://maps.googleapis.com/maps/api/staticmap?center=@Model.Address.Latitude,@Model.Address.Longitude&zoom=4&size=250x100&maptype=roadmap&markers=color:red%7Clabel:A%7C @Model.Address.Latitude, @Model.Address.Longitude">
                    </p>
                </div>
                @if (User.Identity != null && User.Identity.Name == Model.Teacher.ApplicationUser.UserName)
                {
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a class="pull-right label btn-info" title="Edit Profile" href="@Url.Action("Edit", "Teacher", new { username = Model.Teacher.ApplicationUser.UserName })">
                            <i class="glyphicon glyphicon-pencil" style="vertical-align: middle;"></i>
                            <span class="sr-only">Edit Profile</span>
                        </a>
                    </div>
                }
                <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Exp:</label>
                    @Model.Teacher.Experience Year(s)
                </div>
                <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Styles:</label>
                    <div>
                        @if (Model.Teacher.DanceStyles.Count > 0)
                        {
                            @Html.Partial("~/Views/Shared/_DanceStyleLabelPartial.cshtml", Model.Teacher.DanceStyles)
                        }
                        else
                        {
                            @: <span class="text-warning">NO DANCE STYLES SELECTED</span>
                        }
                    </div>
                </div>
                <div class="text-center">
                    @if (Model.Teacher.FacebookLink != null)
                    {
                        <a class="img-thumbnail" href='@Model.Teacher.FacebookLink' target="_blank" title="Visit Me On Facebook"><img src="@Url.Content("~/Content/images/facebookSmall.png")" /></a>
                    }
                    @if (Model.Teacher.Website != null)
                    {
                        <a class="img-thumbnail" href='@Model.Teacher.Website' target="_blank" title="Visit Me On the Web"><img src="@Url.Content("~/Content/images/web.png")" /></a>
                    }
                    @if (Model.Teacher.ContactEmail != null)
                    {
                        <a class="img-thumbnail" href='mailto:@Model.Teacher.ContactEmail' title="Email Me"><img src="@Url.Content("~/Content/images/email.png")" /></a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li @if (ctrName == "Home") { <text> class="active" </text>     }><a href="@Url.Action("Home", "Teacher", new { username = Model.Teacher.ApplicationUser.UserName })"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                    <li @if (ctrName == "MyTeach") { <text> class="active" </text>    }><a href="@Url.Action("MyTeach", "Teacher", new { username = Model.Teacher.ApplicationUser.UserName })"><i class="glyphicon glyphicon-briefcase"></i> My Classes/Workshops</a></li>
                    <li @if (ctrName == "Resume") { <text> class="active" </text>     }><a href="@Url.Action("Resume", "Teacher", new { username = Model.Teacher.ApplicationUser.UserName })"><i class="glyphicon glyphicon-file"></i> My Resume</a></li>
                    <li><a href="#myperformance" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-map-marker"></i> Where I Perform</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "List")
</p>
