@model EDR.Models.Teacher
@using EDR.Utilities

@{
    ViewBag.Title = "Details";
}

<h1 class="page-header">@Model.FullName</h1>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Resume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resume)
        </dd>

        <dt>
            Facebook
        </dt>

        <dd>
            <a href='@Html.DisplayFor(model => model.FacebookLink)' target="_blank">@Html.DisplayFor(model => model.FacebookLink)</a>
        </dd>

        <dt>
            Website
        </dt>

        <dd>
            <a href='@Html.DisplayFor(model => model.Website)' target="_blank">@Html.DisplayFor(model => model.Website)</a>
        </dd>

        <dt>
            Dance Styles
        </dt>

        <dd>
            <ul class="list-inline">
                @foreach (var item in Model.DanceStyles)
                {
                    <li>@Html.ActionLink(item.Name, "Details", "DanceStyle", new { id = item.Id }, null)</li>
                }
            </ul>
        </dd>
    </dl>
</div>
<p>
    <a href="@Url.Action("Learn", "Home", new { teacher = Model.Id }, null)" class="btn btn-primary">Find Where @Model.FullName is Teaching</a>
</p>
<p>
    <a href="@Request.UrlReferrer.ToString()">Back</a>
</p>
