@model EDR.Models.ViewModels.TeacherViewViewModel
@using EDR.Models
@using EDR.Utilities
@using EDR.Enums

@{
    ViewBag.Title = Model.Teacher.ApplicationUser.FullName + " - Teacher";
}

<style>
    .profilecontainer {
        position: relative;
    }

    .profilecontainer:hover .button {
        display: block;
    }

    .button {
        z-index: 10;
        display: none;
        position: absolute;
        right: 5px;
        top: 5px;
    }
</style>

<ol class="breadcrumb">
    <li>@Html.ActionLink("All Teachers", "List", "Teacher")</li>
    <li class="active">Teacher Profile</li>
</ol>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="col-lg-12 profilecontainer" style="background-color: #ddd; padding: 20px; border: 1px solid #aaa;">
                @if (User.Identity.Name == Model.Teacher.ApplicationUser.UserName)
            {
                    @Html.ActionLink("Edit", "Manage", "Teacher", null, new { @class = "btn btn-warning button" })
                }
                <div class="col-lg-4 nospace">
                    <div id="img_container">
                        <img id="profilepic" style="max-width: 100%; max-height: 100%;" src="@Url.Content(Model.Teacher.ApplicationUser.PhotoUrl ?? "~/Content/images/NoProfilePic.gif")" />
                    </div>
                </div>
                <div class="col-lg-8">
                    <h2>@Model.Teacher.ApplicationUser.FullName</h2>
                    <p>
                        @Model.Teacher.ApplicationUser.Location
                    </p>
                    <div>
                        @if (Model.Teacher.FacebookLink != null)
                        {
                            <a class="img-thumbnail" href='@Model.Teacher.FacebookLink' target="_blank" title="Visit Me On Facebook"><img src="@Url.Content("~/Content/images/facebookSmall.png")" /></a>
                        }
                        @if (Model.Teacher.Website != null)
                        {
                            <a class="img-thumbnail" href='@Model.Teacher.Website' target="_blank" title="Visit Me On the Web"><img src="@Url.Content("~/Content/images/web.png")" /></a>
                        }
                        @if (Model.Teacher.ContactEmail != null)
                        {
                            <a class="img-thumbnail" href='mailto:@Model.Teacher.ContactEmail' title="Email Me"><img src="@Url.Content("~/Content/images/email.png")" /></a>
                        }
                    </div>
                </div>
                <div class="col-lg-12" style="background-color: #fff; margin-top: 20px; padding-top: 20px;">
                    <div class="col-lg-12 nospace">
                        @Html.Label("About Me:", new { @class = "form-label col-lg-12" })
                    </div>
                    <div class="col-lg-12" style="padding-bottom: 20px;">
                        @Html.DisplayFor(m => m.Teacher.Resume)
                    </div>
                    <p style="margin-top: 20px;">
                        @Html.Label("Experience:", new { @class = "form-label col-md-4" })
                        2 years
                    </p>
                    <p>
                        @Html.Label("Dance Styles:", new { @class = "form-label col-md-4" })
                        @Html.DisplayFor(m => Model.Teacher.ApplicationUser.DanceStyles, "DanceStyleLabels")
                    </p>
                </div>
            </div>
            <div class="col-lg-12 profilecontainer" style="border: 1px solid #aaa; margin-top: 20px;">
                <h3>My Schools</h3>
                @if (Model.Teacher.ApplicationUser.UserName == User.Identity.Name)
                {
                    @Html.ActionLink("Add School", "Create", "School", null, new { @class = "btn btn-warning button" })
                }
                @if (Model.Teacher.Schools != null && Model.Teacher.Schools.Count() > 0)
                {
                    foreach (var sch in Model.Teacher.Schools.OrderBy(s => s.Name))
                    {
                        @Html.DisplayFor(m => sch, "School")
                        <hr />
                    }
                }
                else
                {
                    @: No Schools
                }
            </div>
            <div class="col-lg-12" style="border: 1px solid #aaa; margin-top: 20px; padding-bottom: 20px;">
                <h3>Students</h3>
                <div id="students">
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="col-lg-12 nospace">
                @if (Model.Teacher.ApplicationUser.SpotifyUri != null)
                {
                    <iframe src="https://embed.spotify.com/?uri=@Model.Teacher.ApplicationUser.SpotifyUri" width="500" height="280" frameborder="0" allowtransparency="true"></iframe>
                }
            </div>
            <div class="col-lg-12" style="border: 1px solid #aaa; margin-top: 20px;">
                <h3>Classes/Workshops</h3>
                <div id="classes">
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryUI")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/Content/jquery.rateyo.css" />
    <script src="~/Scripts/jquery.rateyo.js"></script>
    <script src="~/Scripts/jquery-simple-pagination-plugin.js"></script>
    @*<link href="~/Content/Simple-Pagination.css" rel="stylesheet" />*@

    <script>
    $(document).ready(function () {
        LoadClasses(); //Loads events partial view
        LoadStudents(); //Loads events partial view
    });

    function LoadClasses() {
        $.get('@Url.Action("GetClassesPartial", "Dancer")', { 'id': '@Model.Teacher.ApplicationUser.Id' }, function (data) {
            $("#classes").empty();
            $("#classes").html(data);
            BuildRatingStars();
        });
    }

    function BuildRatingStars() {
        $(".rateYo").rateYo({
            starWidth: "18px",
            ratedFill: "#FFD700",
            normalFill: "#ccc",
            onInit: function (rating, rateYoInstance) {
                var t = $(this);
                $(this).rateYo("option", "rating", t.parent('div').find('.ratingval').prop('value'));
                $(this).rateYo("option", "readOnly", true);
            }
        });
    }
    function LoadStudents() {
        $.get('@Url.Action("GetStudentsPartial", "Teacher")', { 'id': '@Model.Teacher.ApplicationUser.Id' }, function (data) {
            $("#students").empty();
            $("#students").html(data);
        });
    }
    </script>
}
