@model EDR.Models.ViewModels.TeacherViewViewModel
@using EDR.Models
@using EDR.Utilities
@using EDR.Enums

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Teacher/_TeacherLayout.cshtml";
}

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <h4>Recent Updates</h4>
    @if (Model.MediaUpdates.Count() > 0)
    {
        foreach (var media in Model.MediaUpdates)
        {
            @Html.Partial("~/Views/Shared/_MediaPartial.cshtml", media)
        }
    }
    else
    {
        @: No Updates
    }
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="panel panel-success">
        <div class="panel-heading">
            My Latest Classes/Workshops...
        </div>
        <div class="panel-body">
            @if (Model.NewClasses.Events.Count() > 0)
            {
                foreach (var cls in Model.NewClasses.Events.OfType<Class>().OrderBy(c => c.NextDate))
                {
                    <div class="row" style="margin-top: 5px;">
                        <a class="btn btn-info col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1" href="@Url.Action("View", "Event", new { id = cls.Id, eventType = EventType.Class })" title="@cls.Name" style="text-align: left;">
                            <div class="col-lg-2 col-md-2 croppedpic" style="height: 40px;">
                                @if (cls.PhotoUrl != null)
                                {
                                    <img style="width:50px; padding: 2px;" src="@cls.PhotoUrl" />
                                }
                                else
                                {
                                    <img style="width:40px; padding: 2px;" src="@Url.Content("~/Content/images/dance.png")" />
                                }
                            </div>
                            <div class="col-lg-10 col-md-10">
                                @cls.Name.PadRight(20, ' ').Substring(0, 20) <i class="glyphicon glyphicon-chevron-right"></i> @cls.Place.City<br />
                                @cls.NextDate.ToString("ddd, MMM dd, yyyy")
                            </div>
                        </a>
                    </div>
                }
            }
            else
            {
                @: No New Classes/Workshops
            }
            <a class="btn btn-link pull-right" href="@Url.Action("MyTeach", "Teacher", new { username = User.Identity.Name })" title="Find More Classes/Workshops">
                <h4>More...</h4>
            </a>
        </div>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading">
            New Students
        </div>
        <div class="panel-body">
            @Html.Partial("~/Views/Shared/Events/_UserListPartial.cshtml", Model.NewStudents)
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            My Music
        </div>
        <div class="panel-body text-center">
            @if (Model.Teacher.ApplicationUser.SpotifyUri != null)
            {
                <iframe src="https://embed.spotify.com/?uri=@Model.Teacher.ApplicationUser.SpotifyUri" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
            }
            else
            {
                @: No Playlist Specified
            }
        </div>
    </div>
</div>
