@model EDR.Models.ViewModels.TeacherViewViewModel
@using EDR.Models
@using EDR.Utilities
@using EDR.Enums

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Teacher/_TeacherLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function (e) {
        //  locate each partial section
        //  if it has a URL set, load the contents into the area.

        $(".partialContents").each(function (index, item) {
            var url = $(item).data("url");
            if (url && url.length > 0) {
                $(item).load(url);
            }
        });
    });
</script>

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <h4>Recent Activity</h4>
    <div class="partialContents" data-url="/Teacher/@Model.Teacher.ApplicationUser.UserName/GetUpdates">
        <img src="~/Content/images/indicator.white.gif" />Loading...
    </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="panel panel-success">
        <h4 class="col-lg-12 col-md-12 col-sm-12 col-xs-12">My Latest Classes/Workshops...</h4>
        <div class="panel-body">
            @if (Model.NewClasses.Events.Count() > 0)
            {
                @Html.Partial("~/Views/Shared/_EventsPartial.cshtml", Model.NewClasses.Events)
            }
            else
            {
                @: No New Classes/Workshops
            }
            <a class="btn btn-link pull-right" href="@Url.Action("MyTeach", "Teacher", new { username = User.Identity.Name })" title="Find More Classes/Workshops">
                <h4>More...</h4>
            </a>
        </div>
    </div>
    <div class="panel panel-success">
        <h4 class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><img class="img-rounded" style="width: 20px;" src="@Url.Content("~/Content/images/facebookSmall.png")" /> Import Facebook Events</h4>
        <div class="panel-body">
            @if (Model.FacebookEvents != null && Model.FacebookEvents.Count() > 0)
            {
                foreach (var evt in Model.FacebookEvents.OrderBy(e => e.StartTime))
                {
                    <div class="row" style="padding: 2px;">
                        <div class="label label-warning col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding-right: 2px; font-size: 12pt;">
                            <span>@evt.StartTime.ToString("ddd, M/d")</span>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            <span class="text-primary">
                                <a href="@Url.Content(evt.EventLink)" title="@evt.Name" style="text-align: left;" target="_blank">
                                    @evt.Name
                                </a>
                            </span>
                        </div>
                        <a class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-sm btn-primary" href="@Url.Action("ConfirmFacebookEvent", "Event", new { id = evt.Id, eventType = EDR.Enums.EventType.Class })" title="@evt.Name">
                            Import
                        </a>
                    </div>
                }
            }
            else
            {
                @: No Facebook Events to Import
            }
            @*<a class="btn btn-primary" href="@Url.Action("ImportClassFromFacebook", "Event")">
                <h4>More Events...</h4>
            </a>*@
        </div>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading">
            New Students
        </div>
        <div class="panel-body">
            @Html.Partial("~/Views/Shared/Events/_UserListPartial.cshtml", Model.NewStudents)
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            My Music
        </div>
        <div class="panel-body text-center">
            @if (Model.Teacher.ApplicationUser.SpotifyUri != null)
            {
                <iframe src="https://embed.spotify.com/?uri=@Model.Teacher.ApplicationUser.SpotifyUri" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
            }
            else
            {
                @: No Playlist Specified
            }
        </div>
    </div>
</div>
