@model EDR.Models.Teacher

@{
    ViewBag.Title = "Manage";
}

<h2>Manage</h2>
@Html.ActionLink("View Profile", "Home", new { id = User.Identity.Name })

<div class="container-fluid">
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-default">
            <div class="panel-body ">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ApplicationUser.FullName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ApplicationUser.FullName)
                    </dd>
                </dl>
            </div>
        </div>
        <div class="panel panel-info">
            <h4 class="col-lg-6 col-md-6 col-sm-6 col-xs-6">My Schools</h4>
            @Html.ActionLink("Add School", "Create", "School", new { role = EDR.Enums.RoleName.Teacher }, new { @class = "btn btn-text" })
            <div class="panel-body">
                <div class="row">
                </div>
                @if (Model.Schools != null && Model.Schools.Count() > 0)
                {
                    foreach (var sch in Model.Schools.OrderBy(s => s.Name))
                    {
                        <div class="row" style="padding: 2px;">
                            @Html.ActionLink(sch.Name, "View", "School", new { id = sch.Id }, new { @class = "btn btn-link" })
                        </div>
                    }
                }
                else
                {
                    @: No Schools
                }
                @*<a class="btn btn-primary" href="@Url.Action("ImportClassFromFacebook", "Event")">
                    <h4>More Events...</h4>
                </a>*@
            </div>
        </div>
        <div class="panel panel-info">
            <h4 class="col-lg-6 col-md-6 col-sm-6 col-xs-6">My Teams</h4>
            <div class="panel-body">
                <div class="row">
                </div>
                @if (Model.Teams != null && Model.Teams.Count() > 0)
                {
                    foreach (var t in Model.Teams.OrderBy(s => s.Name))
                    {
                        <div class="row" style="padding: 2px;">
                            @Html.ActionLink(t.Name, "View", "Team", new { id = t.Id }, new { @class = "btn btn-link" })
                        </div>
                    }
                }
                else
                {
                    @: No Teams
                }
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-default">
            <div class="panel-body ">
                <h3>Classes</h3>
                @Html.ActionLink("Create Class", "Create", "Event", new { eventType = EDR.Enums.EventType.Class }, null)
                <table class="table">
                    <thead>
                        <tr>
                            <th>Class</th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.Classes)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(member => item.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Manage", "Manage", "Event", new { id = item.Id, eventType = EDR.Enums.EventType.Class }, null)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
