@model EDR.Models.ViewModels.TeacherViewViewModel
@using EDR.Utilities

@{
    ViewBag.Title = "Teacher - " + Model.Teacher.ApplicationUser.FirstName;
}

<h1 class="page-header">
@if (Model.Teacher.ApplicationUser.FacebookUsername != null)
{
    <img class="img-thumbnail" src="http://graph.facebook.com/@Model.Teacher.ApplicationUser.FacebookUsername/picture?type=normal" />
}
@Model.Teacher.ApplicationUser.FullName (Teacher)
@if (User.Identity != null && User.Identity.Name == Model.Teacher.ApplicationUser.UserName)
{
    <a style="font-size: medium;" href="@Url.Action("Edit", "Teacher")">Edit Teacher Profile</a>
}
</h1>

<div class="well">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Teacher.Resume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.Resume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher.FacebookLink)
        </dt>
        <dd>
            <a href='@Model.Teacher.FacebookLink' target="_blank">@Model.Teacher.FacebookLink</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher.Website)
        </dt>
        <dd>
            <a href='@Model.Teacher.Website' target="_blank">@Model.Teacher.Website</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher.ContactEmail)
        </dt>
        <dd>
            <a href='mailto:@Model.Teacher.ContactEmail' target="_blank">@Model.Teacher.ContactEmail</a>
        </dd>

        <dt>
            Dance Styles
        </dt>

        <dd>
            <ul class="list-inline">
                @foreach (var item in Model.Teacher.DanceStyles)
                {
                    <li>@Html.ActionLink(item.Name, "Details", "DanceStyle", new { id = item.Id }, null)</li>
                }
            </ul>
        </dd>
    </dl>
    <div class="tabbable">
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="active"><a href="#classes" data-toggle="tab">Classes (@Model.Teacher.Classes.Count())</a></li>
            <li><a href="#workshops" data-toggle="tab">Workshops (@Model.Teacher.Workshops.Count())</a></li>
        </ul>
        <div class="tab-content">
            <div id="classes" class="tab-pane active">
                <h4>
                </h4>
                @Html.Partial("~/Views/Shared/_EventListPartial.cshtml", Model.Teacher.Classes)
                @if (User.Identity != null && User.Identity.Name == Model.Teacher.ApplicationUser.UserName)
                {
                    <a class="btn btn-link" href="@Url.Action("Create", "Event", new { role = "Teacher", eventType = "Class" }, null)">Add a Class</a>
                }
            </div>
            <div id="workshops" class="tab-pane">
                @Html.Partial("~/Views/Shared/_EventListPartial.cshtml", Model.Teacher.Workshops)
                @if (User.Identity != null && User.Identity.Name == Model.Teacher.ApplicationUser.UserName)
                {
                    <a class="btn btn-link" href="@Url.Action("Create", "Event", new { role = "Teacher", eventType = "Workshop" }, null)">Add a Workshop</a>
                }
            </div>
        </div>
    </div>
</div>
@Html.ActionLink("View all Teachers", "List")
