@model EDR.Models.ViewModels.DancerViewViewModel

@{
    ViewBag.Title = "Dancer Page for " + Model.Dancer.FullName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{string ctrName = ViewContext.RouteData.Values["action"].ToString();}

<div class="container" style="padding: 10px;">
    <div class="row">
        <h1 class="page-header">
            @Model.Dancer.FirstName
            @if (User.Identity != null && User.Identity.Name == Model.Dancer.UserName)
            {
                @*<a style="font-size: medium;" href="@Url.Action("Edit", "Dancer")">Edit Profile</a>*@
                <a class="btn btn-info" title="Edit Profile" href="@Url.Action("Edit", "Dancer")">
                    <i class="glyphicon glyphicon-pencil" style="vertical-align: middle;"></i>
                    Edit
                </a>
                <a class="btn btn-info" title="Add Social Media Account(Facebook, Twitter, Instagram, YouTube, etc.)" href="@Url.Action("SocialMedia", "Dancer")">
                    @*<img class="img-thumbnail img-rounded" style="width: 20px; padding: 0px; margin: 0px;" src="@Url.Content("~/Content/images/share.png")" />*@
                    <i class="glyphicon glyphicon-link" style="vertical-align: middle;"></i>
                    Add Accounts
                </a>
            }
        </h1>
    </div>
    <div class="well col-lg-2 col-md-3 col-sm-4 col-xs-12">
        <div class="row">
            <div style="text-align: center;">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    @if (Model.Dancer.UserPictures.Where(x => x.ProfilePicture).FirstOrDefault() != null)
                    {
                        <img class="img-thumbnail" src="@Url.Content(Model.Dancer.UserPictures.Where(x => x.ProfilePicture).FirstOrDefault().ThumbnailFilename)" />
                    }
                    else
                    {
                        <img class=" img-thumbnail" src="~/Content/images/NoPic.png" />
                    }
                </div>
                @if (User.Identity != null && User.Identity.Name == Model.Dancer.UserName)
                {
                    <p>
                        <a style="font-size: small;" href="@Url.Action("ChangePicture", "Dancer")">Change Picture</a>
                    </p>
                }
            </div>
            <div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>
                        <a target="_blank" href="https://maps.google.com/?q=@Model.Address.Latitude,@Model.Address.Longitude">
                            <img class="img-thumbnail" src="https://maps.googleapis.com/maps/api/staticmap?center=@Model.Address.Latitude,@Model.Address.Longitude&zoom=6&size=200x100&maptype=roadmap&markers=color:red%7Clabel:A%7C @Model.Address.Latitude, @Model.Address.Longitude">
                        </a>
                    </p>
                </div>
                <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Exp:</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        @Model.Dancer.Experience Year(s)
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-3">Styles:</label>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="display: inline-block;">
                        @if(Model.Dancer.DanceStyles.Count > 0)
                        {
                            <ul class="list-inline col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                @foreach (var item in Model.Dancer.DanceStyles.OrderBy(s => s.Name))
                                {
                                    <li>@Html.ActionLink(item.Name, "Details", "DanceStyle", new { id = item.Id }, new { @class = "label label-info" })</li>
                                }
                            </ul>
                        }
                        else
                        {
                            @: <span class="text-warning">NO DANCE STYLES SELECTED</span>
                        }
                    </div>
                </div>
                <div class="row text-center">
                    @if (Model.Dancer.FacebookUsername != null)
                    {
                        <a class="img-thumbnail" href='https://www.facebook.com/@Model.Dancer.FacebookUsername' target="_blank" title="Visit Me On Facebook">
                            <img class="img-rounded" src="@Url.Content("~/Content/images/facebookSmall.png")" style="height: 30px;" />
                        </a>
                    }
                    @if (Model.Dancer.InstagramUsername != null)
                    {
                        <a class="img-thumbnail" href='https://www.instagram.com/@Model.Dancer.InstagramUsername' target="_blank" title="Link to your Instagram">
                            <img class="img-rounded" style="height: 30px;" src="@Url.Content("~/Content/images/instagram.png")" />
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li @if (ctrName == "Home") { <text> class="active" </text>          }><a href="@Url.Action("Home", "Dancer", new { username = Model.Dancer.UserName })">Home</a></li>
                    <li @if (ctrName == "MyDance") { <text> class="active" </text>         }><a href="@Url.Action("MyDance", "Dancer", new { username = Model.Dancer.UserName })">Where I Dance</a></li>
                    <li @if (ctrName == "MyLearn") { <text> class="active" </text>          }><a href="@Url.Action("MyLearn", "Dancer", new { username = Model.Dancer.UserName })">Where I Learn</a></li>
                    <li @if (ctrName == "MyFriends") { <text> class="active" </text>           }><a href="@Url.Action("MyFriends", "Dancer", new { username = Model.Dancer.UserName })">My Friends</a></li>
                    <li><a href="#myperformance" role="tab" data-toggle="tab">Where I Perform</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "List")
</p>
