@model EDR.Models.ViewModels.DancerViewViewModel

@{
    ViewBag.Title = "Dancer Page for " + Model.Dancer.FullName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{string ctrName = ViewContext.RouteData.Values["action"].ToString();}

<div class="container" style="padding: 10px;">
    <div class="row">
        <h1 class="page-header">
            @Model.Dancer.FirstName
            @if (User.Identity != null && User.Identity.Name == Model.Dancer.UserName)
            {
                @*<a style="font-size: medium;" href="@Url.Action("Edit", "Dancer")">Edit Profile</a>*@
                <a class="btn btn-info" title="Edit Profile" href="@Url.Action("Edit", "Dancer")">
                    <i class="glyphicon glyphicon-pencil" style="vertical-align: middle;"></i>
                    Edit
                </a>
                <a class="btn btn-info" title="Add Social Media Account(Facebook, Twitter, Instagram, YouTube, etc.)" href="@Url.Action("SocialMedia", "Dancer")">
                    @*<img class="img-thumbnail img-rounded" style="width: 20px; padding: 0px; margin: 0px;" src="@Url.Content("~/Content/images/share.png")" />*@
                    <i class="glyphicon glyphicon-link" style="vertical-align: middle;"></i>
                    Add Accounts
                </a>
            }
            @*<span class="pull-right">
                @if (Model.Roles.Count() > 0)
                {
                    <span class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                            Switch to...
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            @if (Model.Roles.Contains(EDR.Enums.RoleName.Promoter))
                            {
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Home", "Promoter", new { username = Model.Dancer.UserName })">Promoter Page</a></li>
                            }
                            @if (Model.Roles.Contains(EDR.Enums.RoleName.Owner))
                            {
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Home", "Owner", new { username = Model.Dancer.UserName })">Studio Owner Page</a></li>
                            }
                            @if (Model.Roles.Contains(EDR.Enums.RoleName.Teacher))
                            {
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Home", "Teacher", new { username = Model.Dancer.UserName })">Teacher Page</a></li>
                            }
                        </ul>
                    </span>
                }
            </span>*@
        </h1>
    </div>
    <div class="well col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                @Html.Partial("~/Views/Shared/_ProfilePicturePartial.cshtml", new EDR.Models.ViewModels.ProfilePicture() { User = Model.Dancer })
            </div>
            <div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>
                        <img src="https://maps.googleapis.com/maps/api/staticmap?center=@Model.Dancer.Latitude,@Model.Dancer.Longitude&zoom=4&size=250x100&maptype=roadmap&markers=color:red%7Clabel:A%7C @Model.Dancer.Latitude, @Model.Dancer.Longitude">
                    </p>
                </div>
                <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Exp:</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        @Model.Dancer.Experience Year(s)
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-3">Styles:</label>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="display: inline-block;">
                        @if (Model.Dancer.DanceStyles.Count > 0)
                        {
                            @Html.Partial("~/Views/Shared/_DanceStyleLabelPartial.cshtml", Model.Dancer.DanceStyles)
                        }
                        else
                        {
                            @: <span class="text-warning">NO DANCE STYLES SELECTED</span>
                        }
                    </div>
                </div>
                <div class="row text-center">
                    @if (Model.Dancer.FacebookUsername != null)
                    {
                        <a class="img-thumbnail" href='https://www.facebook.com/@Model.Dancer.FacebookUsername' target="_blank" title="Visit Me On Facebook">
                            <img class="img-rounded" src="@Url.Content("~/Content/images/facebookSmall.png")" style="height: 30px;" />
                        </a>
                    }
                    @if (Model.Dancer.InstagramUsername != null)
                    {
                        <a class="img-thumbnail" href='https://www.instagram.com/@Model.Dancer.InstagramUsername' target="_blank" title="Link to your Instagram">
                            <img class="img-rounded" style="height: 30px;" src="@Url.Content("~/Content/images/instagram.png")" />
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li @if (ctrName == "Home") { <text> class="active" </text>          }><a href="@Url.Action("Home", "Dancer", new { username = Model.Dancer.UserName })"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                    <li @if (ctrName == "MyDance") { <text> class="active" </text>         }><a href="@Url.Action("MyDance", "Dancer", new { username = Model.Dancer.UserName })"><i class="glyphicon glyphicon-globe"></i> Where I Dance</a></li>
                    <li @if (ctrName == "MyLearn") { <text> class="active" </text>          }><a href="@Url.Action("MyLearn", "Dancer", new { username = Model.Dancer.UserName })"><i class="glyphicon glyphicon-book"></i> Where I Learn</a></li>
                    <li @if (ctrName == "MyFriends") { <text> class="active" </text>           }><a href="@Url.Action("MyFriends", "Dancer", new { username = Model.Dancer.UserName })"><i class="glyphicon glyphicon-user"></i> My Friends</a></li>
                    @*<li><a href="#myperformance" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-map-marker"></i> Where I Perform</a></li>*@
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "List")
</p>
