@model EDR.Models.ViewModels.DancerViewViewModel
@using EDR.Models
@using EDR.Utilities

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Dancer/_DancerLayout.cshtml";
}

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <div class="panel panel-warning">
        <div class="panel-heading">
            My Music
        </div>
        <div class="panel-body text-center">
            @if (Model.Dancer.SpotifyUri != null)
            { 
                <iframe src="https://embed.spotify.com/?uri=@Model.Dancer.SpotifyUri" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
                <p>
                    <a class="btn-link" href=@Url.Action("ChangeSpotifyPlaylist", "Dancer", new { username = Model.Dancer.UserName }) title="Add Your Playlist">
                        Change Your Playlist
                    </a>
                </p>
            }
            else
            {
                if (Model.Dancer.SpotifyId != null)
                {
                    <a class="btn btn-primary" href=@Url.Action("ChangeSpotifyPlaylist", "Dancer", new { username = Model.Dancer.UserName }) title="Add Your Playlist">
                        Add Your Playlist
                        <img class="img-rounded" style="height: 30px;" src="@Url.Content("~/Content/images/spotify.png")" />
                    </a>
                }
                else
                {
                    <a class="btn btn-primary" href=@Url.Action("SocialMedia", "Dancer", new { username = Model.Dancer.UserName }) title="Link Your Spotify Account">
                        Link Your Spotify Account
                        <img class="img-rounded" style="height: 30px;" src="@Url.Content("~/Content/images/spotify.png")" />
                    </a>
                }
            }
        </div>
    </div>
    <div class="panel panel-danger">
        <div class="panel-heading">
            New Videos/Pictures
        </div>
        <div class="panel-body">
            @if (Model.MediaUpdates.Count() > 0)
            {
                foreach (var media in Model.MediaUpdates)
                {
                    @Html.Partial("~/Views/Shared/_MediaPartial.cshtml", media)
                }
            }
            else
            {
                @: No Updates
            }
        </div>
    </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <div class="panel panel-success">
        <div class="panel-heading">
            New Classes/Workshops in your area...
        </div>
        <div class="panel-body" style="height: 300px; overflow: auto;">
            @if (Model.SuggestedClasses.Count() > 0)
            {
                foreach (var cls in Model.SuggestedClasses.OrderBy(c => c.NextDate))
                {
                    <a class="btn btn-default" style="width: 100%; text-align: left; white-space: normal;" href="@Url.Action("View", "Event", new { id = cls.Id, eventType = "Class" })">
                        <div style="width: 100%;">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 thumbnail text-center">
                                <span class="text-primary">@cls.NextDate.ToString("ddd").ToUpper()</span><br /><span class="text-success">@cls.NextDate.ToString("MMM").ToUpper() @cls.NextDate.Day.ToString()</span><br /><span class="text-success">@cls.NextDate.Year.ToString()</span>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                <strong>@cls.Name (Level @cls.SkillLevel)<br />@@@cls.Place.Name</strong> in <span class="text-warning">@cls.Place.City</span><br />
                                @cls.StartDate.ToString("%h:mm tt")~@cls.StartDate.AddMinutes(cls.Duration).ToString("%h:mm tt")
                                @if (cls.Recurring)
                                {
                                    ApplicationUtility.FrequencyTranslate(cls.Frequency, cls.Interval == null ? 0 : (int)cls.Interval);
                                }
                                @if (cls.Teachers != null && cls.Teachers.Count > 0)
                                {
                                    var teachers = "";
                                    foreach (Teacher t in cls.Teachers)
                                    {
                                        teachers += (teachers == "" ? "" : ", ") + t.ApplicationUser.FullName;
                                    }
                                    <br /><span class="text-primary">with @teachers</span>
                                }
                                @if (cls.DanceStyles != null && cls.DanceStyles.Count > 0)
                                {
                                    var styles = "";
                                    foreach (DanceStyle s in cls.DanceStyles)
                                    {
                                        styles += (styles == "" ? "" : ", ") + s.Name;
                                    }
                                    <br /><span class="text-warning" style="white-space: normal;">@styles</span>
                                }
                            </div>
                        </div>
                    </a>
                }
            }
            else
            {
                @: No New Classes/Workshops
            }
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            New Social Events in your area...
        </div>
        <div class="panel-body" style="height: 300px; overflow: auto;">
            @if (Model.SuggestedSocials.Count() > 0)
            {
                foreach (var social in Model.SuggestedSocials.OrderBy(c => c.NextDate))
                {
                    <a class="btn btn-default" style="width: 100%; text-align: left; white-space: normal;" href="@Url.Action("View", "Event", new { id = social.Id, eventType = "Social" })">
                        <div style="width: 100%;">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 thumbnail text-center">
                                <span class="text-primary">@social.NextDate.ToString("ddd").ToUpper()</span><br /><span class="text-success">@social.NextDate.ToString("MMM").ToUpper() @social.NextDate.Day.ToString()</span><br /><span class="text-success">@social.NextDate.Year.ToString()</span>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                <strong>@social.Name<br />@@@social.Place.Name</strong> in <span class="text-warning">@social.Place.City</span><br />
                                @social.StartDate.ToString("%h:mm tt")~@social.StartDate.AddMinutes(social.Duration).ToString("%h:mm tt")
                                @if (social.Recurring)
                                {
                                    ApplicationUtility.FrequencyTranslate(social.Frequency, social.Interval == null ? 0 : (int)social.Interval);
                                }
                                @if (social.DanceStyles != null && social.DanceStyles.Count > 0)
                                {
                                    var styles = "";
                                    foreach (DanceStyle s in social.DanceStyles)
                                    {
                                        styles += (styles == "" ? "" : ", ") + s.Name;
                                    }
                                    <br /><span class="text-warning" style="white-space: normal;">@styles</span>
                                }
                            </div>
                        </div>
                    </a>
                }
            }
            else
            {
                @: No New Socials
            }
        </div>
    </div>
</div>
