@model EDR.Models.ViewModels.DancerViewViewModel
@using EDR.Models
@using EDR.Utilities
@using EDR.Enums

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Dancer/_DancerLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function (e) {
        //  locate each partial section
        //  if it has a URL set, load the contents into the area.

        $(".partialContents").each(function (index, item) {
            var url = $(item).data("url");
            if (url && url.length > 0) {
                $(item).load(url);
            }
        });
    });
</script>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <h4>Recent Activity</h4>
    <div class="partialContents" data-url="/@Model.Dancer.UserName/GetUpdates">
        <img src="~/Content/images/indicator.white.gif" />Loading...
    </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <div class="panel panel-warning">
        <div class="panel-heading">
            Your Music
        </div>
        <div class="panel-body text-center">
            @if (Model.Dancer.SpotifyUri != null)
            {
                <iframe src="https://embed.spotify.com/?uri=@Model.Dancer.SpotifyUri" width="250" height="380" frameborder="0" allowtransparency="true"></iframe>
                <p>
                    <a class="btn-link" href=@Url.Action("ChangeSpotifyPlaylist", "Dancer", new { username = Model.Dancer.UserName }) title="Add Your Playlist">
                        Change Your Playlist
                    </a>
                </p>
            }
            else
            {
                if (Model.Dancer.SpotifyId != null)
                {
                    <a class="btn btn-primary" href=@Url.Action("ChangeSpotifyPlaylist", "Dancer", new { username = Model.Dancer.UserName }) title="Add Your Playlist">
                        Add Your Playlist
                        <img class="img-rounded" style="height: 30px;" src="@Url.Content("~/Content/images/spotify.png")" />
                    </a>
                }
                else
                {
                    <a class="btn btn-primary" href=@Url.Action("SocialMedia", "Dancer", new { username = Model.Dancer.UserName }) title="Link Your Spotify Account">
                        Link Your Spotify Account
                        <img class="img-rounded" style="height: 30px;" src="@Url.Content("~/Content/images/spotify.png")" />
                    </a>
                }
            }
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            Suggested Classes/Workshops for you
        </div>
        <div class="panel-body">
            @if (Model.SuggestedClasses.Count() > 0)
            {
                foreach (var cls in Model.SuggestedClasses.OrderBy(c => c.NextDate))
                {
                    <div class="row" style="margin-top: 5px;">
                        <a class="btn btn-info col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1" href="@Url.Action("View", "Event", new { id = cls.Id, eventType = EventType.Class })" title="@cls.Name" style="text-align: left;">
                            <div class="col-lg-2 col-md-2 croppedpic" style="height: 50px;">
                                @if (cls.PhotoUrl != null)
                                {
                                    <img class="img-circle" style="width:50px; padding: 2px;" src="@cls.PhotoUrl" />
                                }
                                else
                                {
                                    <img class="img-circle" style="width:40px; padding: 2px;" src="@Url.Content("~/Content/images/dance.png")" />
                                }
                            </div>
                            <div class="col-lg-10 col-md-10">
                                @cls.Name.PadRight(20, ' ').Substring(0, 20) <i class="glyphicon glyphicon-chevron-right"></i> @cls.Place.City<br />
                                @cls.NextDate.ToString("ddd, MMM dd, yyyy")
                            </div>
                        </a>
                    </div>
                }
            }
            else
            {
                @: No New Classes/Workshops
            }
            <a class="btn btn-link pull-right" href="@Url.Action("Learn", "Home")" title="Find More Classes/Workshops">
                <h4>More...</h4>
            </a>
        </div>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading">
            Socials in your area...
        </div>
        <div class="panel-body">
            @if (Model.SuggestedSocials.Count() > 0)
            {
                foreach (var social in Model.SuggestedSocials.OrderBy(c => c.NextDate))
                {
                    <div class="row" style="margin-top: 5px;">
                        <a class="btn btn-warning col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1" href="@Url.Action("View", "Event", new { id = social.Id, eventType = EventType.Class })" title="@social.Name" style="text-align: left;">
                            <div class="col-lg-2 col-md-2 croppedpic" style="height: 50px;">
                                @if (social.PhotoUrl != null)
                                {
                                    <img class="img-circle" style="width:50px; padding: 2px;" src="@social.PhotoUrl" />
                                }
                                else
                                {
                                    <img class="img-circle" style="width:40px; padding: 2px;" src="@Url.Content("~/Content/images/social.jpg")" />
                                }
                            </div>
                            <div class="col-lg-10 col-md-10">
                                @social.Name.PadRight(20, ' ').Substring(0, 20) <i class="glyphicon glyphicon-chevron-right"></i> @social.Place.City<br />
                                @social.NextDate.ToString("ddd, MMM dd, yyyy")
                            </div>
                        </a>
                    </div>
                }
            }
            else
            {
                @: No New Socials
            }
            <a class="btn btn-link pull-right" href="@Url.Action("Dance", "Home")" title="Find More Socials">
                <h4>More...</h4>
            </a>
        </div>
    </div>
</div>
