@model EDR.Models.ViewModels.DancerViewViewModel
@using EDR.Models
@using EDR.Utilities
@using EDR.Enums

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Dancer/_DancerLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function (e) {
        //  locate each partial section
        //  if it has a URL set, load the contents into the area.

        $(".partialContents").each(function (index, item) {
            var url = $(item).data("url");
            if (url && url.length > 0) {
                $(item).load(url);
            }
        });
    });
</script>

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <h4>Recent Activity</h4>
    @*<div class="partialContents" data-url="/@Model.Dancer.UserName/GetUpdates">
        <img src="~/Content/images/indicator.white.gif" />Loading...
    </div>*@
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="row" style="margin-bottom: 5px;">
        @*<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <a class="btn btn-primary" href="@Url.Action("ImportFacebookEvent", "Event")" style="width: 100%;"><img class="img-rounded" style="width: 30px;" src="@Url.Content("~/Content/images/facebookSmall.png")" /> Import Event</a>
        </div>*@
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            @if (Model.Dancer.SpotifyId != null)
            {
                <a class="btn btn-primary" href=@Url.Action("ChangeSpotifyPlaylist", "Dancer", new { username = Model.Dancer.UserName }) title="Add Your Playlist" style="width: 100%;">
                    <img class="img-rounded" style="height: 30px;" src="@Url.Content("~/Content/images/spotify.png")" />
                    Add Playlist
                </a>
            }
            else
            {
                <a class="btn btn-primary" href=@Url.Action("SocialMedia", "Dancer", new { username = Model.Dancer.UserName }) title="Link Your Spotify Account" style="width: 100%;">
                    <img class="img-rounded" style="height: 30px;" src="@Url.Content("~/Content/images/spotify.png")" />
                    Link Spotify
                </a>
            }
        </div>
    </div>
    @if (Model.Dancer.SpotifyUri != null)
    {
        <div class="panel panel-warning">
            <div class="panel-heading">
                Your Music
            </div>
            <div class="panel-body text-center">
                <iframe src="https://embed.spotify.com/?uri=@Model.Dancer.SpotifyUri" width="250" height="380" frameborder="0" allowtransparency="true"></iframe>
                <p>
                    <a class="btn-link" href=@Url.Action("ChangeSpotifyPlaylist", "Dancer", new { username = Model.Dancer.UserName }) title="Add Your Playlist">
                        Change Your Playlist
                    </a>
                </p>
            </div>
        </div>
    }
    @*<div class="partialContents" data-url="/@Model.Dancer.UserName/GetFacebookEvents">
        <img src="~/Content/images/indicator.white.gif" />Loading...
    </div>*@
    <div class="panel panel-info">
        <div class="panel-heading">
            Suggested Classes/Workshops for you
        </div>
        <div class="panel-body">
            @if (Model.SuggestedClasses.Count() > 0)
            {
                @Html.Partial("~/Views/Shared/_EventsPartial.cshtml", Model.SuggestedClasses)
            }
            else
            {
                @: No New Classes/Workshops
            }
            <a class="btn btn-link pull-right" href="@Url.Action("Learn", "Home")" title="Find More Classes/Workshops">
                <h4>More...</h4>
            </a>
        </div>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading">
            Socials in your area...
        </div>
        <div class="panel-body">
            @if (Model.SuggestedSocials.Count() > 0)
            {
                @Html.Partial("~/Views/Shared/_EventsPartial.cshtml", Model.SuggestedSocials)
            }
            else
            {
                @: No New Socials
            }
            <a class="btn btn-link pull-right" href="@Url.Action("Social", "Home")" title="Find More Socials">
                <h4>More...</h4>
            </a>
        </div>
    </div>
</div>
