@model EDR.Models.ViewModels.DancerViewViewModel
@using EDR.Models
@using EDR.Utilities
@using EDR.Enums

@{
    ViewBag.Title = "Home";
}

<style>
    .dancercontainer{
        position: relative;
    }
    .dancercontainer:hover .editbutton
    {
        display: block;
    }
    .editbutton {
        z-index: 10;
        display: none;
        position: absolute;
        right: 5px;
        top: 5px;
    }
</style>

<ol class="breadcrumb">
    <li>@Html.ActionLink("All Dancers", "List", "Dancer")</li>
    <li class="active">Dancer Profile</li>
</ol>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-default" style="margin-top: 20px; margin-bottom: 20px;">
                <div class="panel-body bg-info buttoncontainer">
                    @if (User.Identity.Name == Model.Dancer.UserName)
                    {
                        @Html.ActionLink("Edit", "Manage", "Dancer", null, new { @class = "btn btn-warning actionbutton" })
                    }
                    <div class="row">
                        <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4">
                            <img style="max-width: 100%; max-height: 100%;" src="@Url.Content(Model.Dancer.PhotoUrl ?? "~/Content/images/NoProfilePic.gif")" />
                        </div>
                        <div class="col-lg-8 col-xs-8 col-sm-8 col-md-8">
                            <h2 class="nospace">@Model.Dancer.FirstName</h2>
                            <p>
                                @Model.Dancer.Location
                            </p>
                            <div>
                                @if (Model.Dancer.FacebookUsername != null)
            {
                                    <a class="img-thumbnail" href='https://www.facebook.com/@Model.Dancer.FacebookUsername' target="_blank" title="Visit Me On Facebook">
                                        <img class="img-rounded" src="@Url.Content("~/Content/images/facebookSmall.png")" style="height: 30px;" />
                                    </a>
                                }
                                @if (Model.Dancer.InstagramUsername != null)
            {
                                    <a class="img-thumbnail" href='https://www.instagram.com/@Model.Dancer.InstagramUsername' target="_blank" title="Link to your Instagram">
                                        <img class="img-rounded" style="height: 30px;" src="@Url.Content("~/Content/images/instagram.png")" />
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 nospace" style="background-color: #fff; margin-top: 10px !important;">
                        <p style="margin-top: 10px;">
                            @Html.Label("Experience:", new { @class = "form-label col-md-4" })
                            @Model.Dancer.Experience year(s)
                        </p>
                        <p>
                            @Html.Label("Dance Styles:", new { @class = "form-label col-md-4" })
                            @Html.DisplayFor(m => Model.Dancer.DanceStyles, "DanceStyleLabels")
                        </p>
                    </div>
                </div>
            </div>
            @if (Model.Dancer.SpotifyUri != null)
            {
                <iframe class="spotifyplayer" src="https://embed.spotify.com/?uri=@Model.Dancer.SpotifyUri" width="500" height="320" frameborder="0" allowtransparency="true"></iframe>
                @*<p>
                <a class="btn-link" href=@Url.Action("ChangeSpotifyPlaylist", "Dancer", new { username = Model.Dancer.UserName }) title="Add Your Playlist">
                    Change Your Playlist
                </a>
            </p>*@
            }
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px; margin-bottom: 20px;">
                    <h3>Teachers</h3>
                    @foreach (var t in Model.Teachers)
                    {
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding: 5px !important;">
                            @Html.DisplayFor(m => t, "Teacher")
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px; margin-bottom: 20px;">
                    <h3>Friends</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="text-left">
                <div id="eventbuttons" class="btn-group text-uppercase" data-toggle="buttons" role="group" aria-label="...">
                    <label class="btn btn-warning btn-sm active">
                        <input type="radio" name="options" id="listbtn" autocomplete="off" checked class="rbutton">
                        <i class="glyphicon glyphicon-th-list"></i>
                        List
                    </label>
                    <label class="btn btn-warning btn-sm">
                        <input type="radio" name="options" id="calendarbtn" autocomplete="off" class="rbutton">
                        <i class="glyphicon glyphicon-calendar"></i>
                        Calendar
                    </label>
                </div>
            </div>
            <div id="listdiv">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row" style="margin-top: 20px;">
                        <div id="classbuttons" class="btn-group text-uppercase btn-group-justified" data-toggle="buttons" role="group" aria-label="...">
                            <label class="btn btn-success btn-sm active">
                                <input type="radio" name="options" id="classesbtn" autocomplete="off" checked class="rbutton">Classes
                            </label>
                            <label class="btn btn-info btn-sm">
                                <input type="radio" name="options" id="socialsbtn" autocomplete="off" class="rbutton">Socials
                            </label>
                        </div>
                    </div>
                    <div id="classesdiv">
                        <div id="classes">
                        </div>
                    </div>
                    <div id="socialsdiv" style="display: none;">
                        <div id="socials">
                        </div>
                    </div>
                </div>
            </div>
            <div id='script-warning'>
                <code>php/get-events.php</code> must be running.
            </div>
            <div id='loading'>loading...</div>
            <div id='calendar'></div>

        </div>
    </div>
</div>
@section Scripts
{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryUI")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/Content/jquery.rateyo.css" />
    <script src="~/Scripts/jquery.rateyo.js"></script>
    <script src="~/Scripts/jquery-simple-pagination-plugin.js"></script>
    @*<link href="~/Content/Simple-Pagination.css" rel="stylesheet" />*@
<link href="~/Content/fullcalendar/fullcalendar.css" rel="stylesheet" />
<link href="~/Content/fullcalendar/fullcalendar.print.css" rel="stylesheet" media="print" />
<script src="~/Scripts/fullcalendar/moment.min.js"></script>
<script src="~/Scripts/fullcalendar/fullcalendar.js"></script>

<script>
    $(document).ready(function () {
        LoadClasses(); //Loads events partial view
        LoadSocials(); //Loads events partial view

        $('#classesbtn').parent().on("click", function () {
            $('#classesdiv').show();
            $("#socialsdiv").hide();
        });

        $('#socialsbtn').parent().on("click", function () {
            $('#classesdiv').hide();
            $("#socialsdiv").show();
        });

        $("#calendar").hide();
        $('#listbtn').parent().on("click", function () {
            $('#listdiv').show();
            $("#calendar").hide();
        });

        $('#calendarbtn').parent().on("click", function () {
            $('#listdiv').hide();
            $("#calendar").show();
            $('#calendar').fullCalendar('render');
        });

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'basicWeek, month'
            },
            defaultDate: new Date(),
            defaultView: 'basicWeek',
            editable: false,
            eventLimit: true, // allow "more" link when too many events
            events: {
                url: '@Url.Action("GetEvents", "Dancer")',
                traditional: true,
                data: {
                    id: '@Model.Dancer.Id',
                },
                error: function () {
                    $('#script-warning').show();
                },
            },
            views: {
                month: { // name of view
                    titleFormat: 'MMM YYYY'
                    // other view-specific options here
                },
                basicWeek: { // name of view
                    titleFormat: 'MMM DD'
                    // other view-specific options here
                }
            },
            loading: function (bool) {
                $('#loading').toggle(bool);
            },
            //eventAfterAllRender: function (view) {
            //    $("#calendar").css({ "visibility": "hidden" });
            //    $("#calendar").hide();
            //}
        });
    });

    function LoadClasses() {
        $.get('@Url.Action("GetClassesPartial", "Dancer")', { 'id': '@Model.Dancer.Id' }, function (data) {
            $("#classes").empty();
            $("#classes").html(data);
            BuildRatingStars();
        });
    }

    function LoadSocials() {
        $.get('@Url.Action("GetSocialsPartial", "Dancer")', { 'id': '@Model.Dancer.Id' }, function (data) {
            $("#socials").empty();
            $("#socials").html(data);
            BuildRatingStars();
        });
    }

    function BuildRatingStars() {
        $(".rateYo").rateYo({
            starWidth: "18px",
            ratedFill: "#FFD700",
            normalFill: "#ccc",
            onInit: function (rating, rateYoInstance) {
                var t = $(this);
                $(this).rateYo("option", "rating", t.parent('div').find('.ratingval').prop('value'));
                $(this).rateYo("option", "readOnly", true);
            }
        });
    }
</script>
}

@*<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h4>Recent Activity</h4>
        <div class="partialContents" data-url="/@Model.Dancer.UserName/GetUpdates">
                <img src="~/Content/images/indicator.white.gif" />Loading...
            </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="row" style="margin-bottom: 5px;">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <a class="btn btn-primary" href="@Url.Action("ImportFacebookEvent", "Event")" style="width: 100%;"><img class="img-rounded" style="width: 30px;" src="@Url.Content("~/Content/images/facebookSmall.png")" /> Import Event</a>
                </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                @if (Model.Dancer.SpotifyId != null)
                {
                    <a class="btn btn-primary" href=@Url.Action("ChangeSpotifyPlaylist", "Dancer", new { username = Model.Dancer.UserName }) title="Add Your Playlist" style="width: 100%;">
                        <img class="img-rounded" style="height: 30px;" src="@Url.Content("~/Content/images/spotify.png")" />
                        Add Playlist
                    </a>
                }
                else
                {
                    <a class="btn btn-primary" href=@Url.Action("SocialMedia", "Dancer", new { username = Model.Dancer.UserName }) title="Link Your Spotify Account" style="width: 100%;">
                        <img class="img-rounded" style="height: 30px;" src="@Url.Content("~/Content/images/spotify.png")" />
                        Link Spotify
                    </a>
                }
            </div>
        </div>
        <div class="partialContents" data-url="/@Model.Dancer.UserName/GetFacebookEvents">
                <img src="~/Content/images/indicator.white.gif" />Loading...
            </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                Suggested Classes/Workshops for you
            </div>
            <div class="panel-body">
                @if (Model.SuggestedClasses.Count() > 0)
                {
                    @Html.Partial("~/Views/Shared/_EventsPartial.cshtml", Model.SuggestedClasses)
                }
                else
                {
                    @: No New Classes/Workshops
                }
                <a class="btn btn-link pull-right" href="@Url.Action("Learn", "Home")" title="Find More Classes/Workshops">
                    <h4>More...</h4>
                </a>
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">
                Socials in your area...
            </div>
            <div class="panel-body">
                @if (Model.SuggestedSocials.Count() > 0)
                {
                    @Html.Partial("~/Views/Shared/_EventsPartial.cshtml", Model.SuggestedSocials)
                }
                else
                {
                    @: No New Socials
                }
                <a class="btn btn-link pull-right" href="@Url.Action("Social", "Home")" title="Find More Socials">
                    <h4>More...</h4>
                </a>
            </div>
        </div>
    </div>*@
