@model EDR.Models.ViewModels.DancerViewViewModel

@{
    ViewBag.Title = "Dancer - " + Model.Dancer.FirstName;
}

<h1 class="page-header">
    @if (Model.Dancer.FacebookUsername != null)
    {
        <img class="img-thumbnail" src="http://graph.facebook.com/@Model.Dancer.FacebookUsername/picture?type=normal" />
    }
    @Model.Dancer.FirstName
    @if (User.Identity != null && User.Identity.Name == Model.Dancer.UserName)
    {
        <a style="font-size: medium;" href="@Url.Action("Edit", "Dancer")">Edit Profile</a>
    }
</h1>

<div class="row">
    <div class="tabbable">
        <div class="col-xs-8 col-sm-4 col-md-2">
            <ul class="nav nav-pills nav-stacked" role="tablist">
                <li class="active"><a href="#myinfo" data-toggle="tab">My Info</a></li>
                <li><a href="#friends" data-toggle="tab">Friends</a></li>
                <li><a href="#dancestyles" data-toggle="tab">Dance Styles</a></li>
                <li><a href="#events" data-toggle="tab">Events</a></li>
                <li><a href="#videos" data-toggle="tab">YouTube Videos</a></li>
            </ul>
        </div>
        <div class="tab-content col-xs-32 col-sm-16 col-md-8">
            <div id="myinfo" class="tab-pane active">
                <div class="well">
                    <dl class="dl-horizontal">
                        <dt>
                            Experience
                        </dt>
                        <dd>
                            @Model.Dancer.Experience Year(s)
                        </dd>
                        <dt>
                            Location
                        </dt>
                        <dd>
                            Location
                        </dd>
                        <dt>
                            YouTube Username
                        </dt>
                        <dd>
                            @Model.Dancer.YouTubeUsername
                        </dd>
                    </dl>
                </div>
            </div>
            <div id="friends" class="tab-pane">
                <div class="well">
                    @if (Model.FriendList != null && Model.FriendList.Count() > 0)
                    {
                        foreach (var myFriend in @Model.FriendList)
                        {
                    <a href="@myFriend.Link" target="_blank">
                        <div class="photoTile">
                            @if (myFriend.ImageURL != null)
                                    {
                                    <img src="@myFriend.ImageURL" />
                                    }
                            <label>@myFriend.Name</label>
                        </div>
                    </a>
                        }
                    }
                    else
                    {
                    @:No friends found.
                    }
                </div>
            </div>
            <div id="dancestyles" class="tab-pane">
                <div class="well">
                    <ul class="list-inline">
                        @foreach (var item in Model.Dancer.DanceStyles)
                        {
                            <li>@Html.ActionLink(item.Name, "Details", "DanceStyle", new { id = item.Id }, null)</li>
                        }
                    </ul>
                </div>
            </div>
            <div id="events" class="tab-pane">
                <div class="well row">
                    <h4>
                        Parties
                        @if (User.Identity != null && User.Identity.Name == Model.Dancer.UserName)
                        {
                            <a style="font-size: small; vertical-align: bottom;" href="@Url.Action("Create", "Event", new { role = "Dancer", eventType = "Party" }, null)">Add a Party</a>
                        }
                    </h4>
                    @Html.Partial("~/Views/Shared/_EventListPartial.cshtml", Model.Dancer.Parties)
                </div>
            </div>
            <div id="videos" class="tab-pane">
                <div class="well row">
                    <ul class="list-inline">
                        @foreach (var v in Model.YouTubeVideos)
                        {
                            <li style="padding: 10px; margin: 10px;">
                                <div id="youTubeContainer">
                                    <a target="_blank" href="https://www.youtube.com/watch?v=@v.Id&feature=player_embedded">
                                        <img id="youTubeImage" src="https://img.youtube.com/vi/@Html.DisplayFor(s => v.Id)/mqdefault.jpg" />
                                        <div id="youTubePlay"></div>
                                    </a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div><!-- /.tab-content -->
    </div><!-- /.tabbable -->
</div>

<p>
    @Html.ActionLink("Back to List", "List")
</p>
