@model EDR.Models.ViewModels.DancerViewViewModel
@using EDR.Models
@using EDR.Utilities

@{
    ViewBag.Title = "Dancer - " + Model.Dancer.FirstName;
}

<style>
    #map-canvas {
        width: 100%;
        height: 100px;
    }
    #classMap-canvas {
        width: 100%;
        height: 400px;
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
    var classmap;
    var markers = [];

    function initialize() {
        var classMapOptions = {
            zoom: 14,
            zoomControl: false,
            center: new google.maps.LatLng('@Model.Address.Latitude', '@Model.Address.Longitude')
        };

        classmap = new google.maps.Map(document.getElementById('classMap-canvas'),
            classMapOptions);

        @{
            int idx = 1;

            foreach(var c in Model.Classes.OrderBy(x => x.NextDate))
            {
                <text>
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng('@c.Place.Latitude', '@c.Place.Longitude'),
                        map: classmap,
                        title: '@c.Name',
                        icon: "http://maps.google.com/mapfiles/kml/paddle/" + @idx + "-lv.png"
                    });

                    attachSecretMessage(marker, '@c.Id', '@c.Place.Name', '@c.Place.Address <br/> @c.Place.City , @c.Place.State  @c.Place.Zip', '<a href="@Url.Action("Details", "Event", new { id = c.Id, eventType = "Class" } )">' + marker.title + '</a>', '@(c.Users != null ? c.Users.Count : 0)', 4, 5);
                    markers.push(marker);

        </text>
                idx += 1;
            }
        }

        clearMarkers();
    }

    function clearMarkers() {
        setAllMap(null);
    }

    function setAllMap(map) {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
        }
    }

    // The five markers show a secret message when clicked
    // but that message is not within the marker's instance data
    function attachSecretMessage(marker, num, placeName, address, link, students, videos, pictures) {
        var message = marker.title;
        var infowindow = new google.maps.InfoWindow({
            disableAutoPan: true,
            content: '<div id="content" style="width: 250px;">' +
            '<div id="siteNotice">'+
            '</div>'+
            '<h4 id="firstHeading" class="firstHeading">' + link + '</h4>'+
            '<div id="bodyContent">'+
            '<p>' +
            '<b>@@' + placeName + '</b><br/>' +
            address + '<br/>' +
            '</p>' +
            '<label title="Students"><span class="badge">' + students + '</span> Students</label>' +
            ' <label title="Videos"><span class="badge">4</span> Videos</label>' +
            ' <label title="Pictures"><span class="badge">3</span> Pictures</label>' +
            '</div>' +
            '</div>'
            });

        infowindow.open(classmap, marker);

        google.maps.event.addListener(marker, 'click', function () {
            infowindow.open(classmap, marker);
        });
    }

    function openEvent(id, lati, long) {
        var latLng = new google.maps.LatLng(lati, long); //Makes a latlng
        classmap.panTo(latLng); //Make map global
        classmap.setZoom(14);
        clearMarkers();
        markers[id].setMap(classmap);
        return false;
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div class="container" style="padding: 10px;">
    <div class="row">
        <h1 class="page-header">
            @Model.Dancer.FirstName
            @if (User.Identity != null && User.Identity.Name == Model.Dancer.UserName)
            {
                @*<a style="font-size: medium;" href="@Url.Action("Edit", "Dancer")">Edit Profile</a>*@
                <a title="Edit Profile" href="@Url.Action("Edit", "Dancer")">
                    <i class="glyphicon glyphicon glyphicon-pencil btn-sm btn-info"></i>
                    <span class="sr-only">Edit Profile</span>
                </a>
            }
        </h1>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-2 col-sm-3 col-xs-4" style="text-align: center;">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 img-thumbnail">
                @if (Model.Dancer.UserPictures.Where(x => x.ProfilePicture).FirstOrDefault() != null)
                {
                    <img src="@Url.Content(Model.Dancer.UserPictures.Where(x => x.ProfilePicture).FirstOrDefault().ThumbnailFilename)" />
                }
                else
                {
                    <img src="~/Content/images/NoProfilePic.gif" />
                }
            </div>
            @if (User.Identity != null && User.Identity.Name == Model.Dancer.UserName)
            {
                <p>
                    <a style="font-size: small;" href="@Url.Action("ChangePicture", "Dancer")">Change Picture</a>
                    @*<a title="Change Picture" href="@Url.Action("ChangePicture", "Dancer")">
                            <i class="glyphicon glyphicon glyphicon-edit btn btn-primary"></i>
                            <span class="sr-only">Change Picture</span>
                        </a>*@
                </p>
            }
            <div class="row" style="text-align: left;">
                <div class="col-md-12 col-lg-12 col-sm-8 col-xs-8">
                    @Model.Dancer.Experience Year(s)
                </div>
            </div>
            <div class="row" style="text-align: left;">
                <div class="col-md-12 col-lg-12 col-sm-8 col-xs-8">
                    @Model.Address.City, @Model.Address.State
                </div>
            </div>
            <div class="row col-md-12 col-lg-12 col-sm-12 col-xs-12" style="text-align: left;">
                <ul class="nav nav-pills nav-stacked" role="tablist">
                    <li class="active"><a href="#mylearn" role="tab" data-toggle="tab">Where I Learn</a></li>
                    <li><a href="#mydance" role="tab" data-toggle="tab">Where I Dance</a></li>
                    <li><a href="#friends" role="tab" data-toggle="tab">Friends</a></li>
                    <li><a href="#myperformance" role="tab" data-toggle="tab">Where I Perform</a></li>
                </ul>
            </div>
        </div>
        <div class="tabbable">
            <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="panel panel-info tab-pane panel-default active" id="mylearn">
                        <div class="panel-heading">
                            <h4 class="panel-title" style="font-size: 18pt;"><span class="">Where I Learn...</span></h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <h4 class="page-header">My Classes/Workshops</h4>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6" style="height: 400px; overflow-x: auto;">
                                        @if (Model.Classes.Count() > 0)
                                        {
                                            @Html.Partial("~/Views/Shared/_CompactEventListPartial.cshtml", Model.Classes.OrderBy(x => x.NextDate))
                                        }
                                        else
                                        {
                                            @:You have no Classes
                                        }
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                                        <div class="container" id="classMap-canvas"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                    <h4 class="page-header">
                                        My Teachers
                                    </h4>
                                    <div style="height: 400px; overflow-x: auto;">
                                        @Html.Partial("~/Views/Shared/_TeacherListPartial.cshtml", Model.Teachers)
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <h4 class="page-header">Suggested Classes</h4>
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12" style="height: 400px; overflow-x: auto;">
                                    @if (Model.SuggestedEvents.Count() > 0)
                                    {
                                        @Html.Partial("~/Views/Shared/_CompactEventListPartial.cshtml", Model.SuggestedEvents.OrderBy(x => x.NextDate))
                                    }
                                    else
                                    {
                                        @:No Suggested Classes/Workshops
                            }
                                </div>
                            </div>
                            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                @if (User.Identity != null && User.Identity.Name == Model.Dancer.UserName)
                                {
                                    <a title="Find More Classes" class="pull-right" href="@Url.Action("Learn", "Home")">
                                        <i class="glyphicon glyphicon-search"></i>
                                        <span class="sr-only">Find More Classes</span>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info tab-pane panel-default" id="mydance">
                        <div class="panel-heading">
                            <h4 class="panel-title" style="font-size: 18pt;"><span class="">Where I Dance...</span></h4>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h1 class="panel-title">
                                            My Socials
                                            @if (User.Identity != null && User.Identity.Name == Model.Dancer.UserName)
                                            {
                                                <a title="Find More Socials" class="pull-right" href="@Url.Action("Explore", "Home")">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                    <span class="sr-only">Find Socials</span>
                                                </a>
                                            }
                                        </h1>
                                    </div>
                                    <div class="panel-body" style="height: 200px; overflow-x: auto;">
                                        @if (Model.Dancer.Events.OfType<Social>().Count() > 0)
                                        {
                                            @Html.Partial("~/Views/Shared/_CompactEventListPartial.cshtml", Model.Socials)
                                        }
                                        else
                                        {
                                            @:You have no Socials
                                }
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h1 class="panel-title">
                                            My Concerts
                                            @if (User.Identity != null && User.Identity.Name == Model.Dancer.UserName)
                                            {
                                                <a title="Find More Concerts" class="pull-right" href="@Url.Action("Explore", "Home")">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                    <span class="sr-only">Find Concerts</span>
                                                </a>
                                            }
                                        </h1>
                                    </div>
                                    <div class="panel-body" style="height: 200px; overflow-x: auto;">
                                        @if (Model.Dancer.Events.OfType<Concert>().Count() > 0)
                                        {
                                            @Html.Partial("~/Views/Shared/_CompactEventListPartial.cshtml", Model.Concerts)
                                        }
                                        else
                                        {
                                            @:You have no Concerts
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h1 class="panel-title">
                                            My Conferences
                                            @if (User.Identity != null && User.Identity.Name == Model.Dancer.UserName)
                                            {
                                                <a title="Find More Conferences" class="pull-right" href="@Url.Action("Explore", "Home")">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                    <span class="sr-only">Find Conferences</span>
                                                </a>
                                            }
                                        </h1>
                                    </div>
                                    <div class="panel-body" style="height: 200px; overflow-x: auto;">
                                        @if (Model.Dancer.Events.OfType<Conference>().Count() > 0)
                                        {
                                            @Html.Partial("~/Views/Shared/_CompactEventListPartial.cshtml", Model.Conferences)
                                        }
                                        else
                                        {
                                            @:You have no Conferences
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h1 class="panel-title">
                                            My Open Houses
                                            @if (User.Identity != null && User.Identity.Name == Model.Dancer.UserName)
                                            {
                                                <a title="Find More Open Houses" class="pull-right" href="@Url.Action("Explore", "Home")">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                    <span class="sr-only">Find Open Houses</span>
                                                </a>
                                            }
                                        </h1>
                                    </div>
                                    <div class="panel-body" style="height: 200px; overflow-x: auto;">
                                        @if (Model.Dancer.Events.OfType<OpenHouse>().Count() > 0)
                                        {
                                            @Html.Partial("~/Views/Shared/_CompactEventListPartial.cshtml", Model.OpenHouses)
                                        }
                                        else
                                        {
                                            @:You have no Open Houses
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h1 class="panel-title">
                                            My Parties
                                            @if (User.Identity != null && User.Identity.Name == Model.Dancer.UserName)
                                            {
                                                <a title="Find More Parties" class="pull-right" href="@Url.Action("Explore", "Home")">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                    <span class="sr-only">Find Parties</span>
                                                </a>
                                            }
                                        </h1>
                                    </div>
                                    <div class="panel-body" style="height: 200px; overflow-x: auto;">
                                        @if (Model.Dancer.Events.OfType<Party>().Count() > 0)
                                        {
                                            @Html.Partial("~/Views/Shared/_CompactEventListPartial.cshtml", Model.Parties)
                                        }
                                        else
                                        {
                                            @:You have no Parties
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info tab-pane panel-default" id="friends">
                        <div class="panel-heading">
                            <h4 class="panel-title" style="font-size: 18pt;"><span class="">My Friends</span></h4>
                        </div>
                        <div class="panel-body">
                            @if (Model.FriendList != null && Model.FriendList.Count() > 0)
                            {
                                foreach (var myFriend in @Model.FriendList)
                                {
                                    <div style="margin: 5px;">
                                        @if (myFriend.User != null)
                                        {
                                            <a href="@Url.Action("View", "Dancer", new { username = myFriend.User.UserName })">
                                                <div class="img-thumbnail">
                                                    <img src="@Url.Content(myFriend.User.UserPictures.First().ThumbnailFilename)" />
                                                    @myFriend.User.FirstName
                                                </div>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@myFriend.Link" target="_blank">
                                                <div class="img-thumbnail">
                                                    @if (myFriend.ImageURL != null)
                                                    {
                                                        <img src="@Url.Content(myFriend.ImageURL)" />
                                                    }
                                                    @myFriend.Name
                                                </div>
                                            </a>
                                        }
                                    </div>
                                }
                            }
                            else
                            {
                                @:No friends found.
                            }
                        </div>
                    </div>
                    <div class="panel panel-info tab-pane panel-default" id="myperformance">
                        <div class="panel-heading">
                            <h4 class="panel-title" style="font-size: 18pt;"><span class="">My Performances</span></h4>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h1 class="panel-title">
                                            My Performances
                                        </h1>
                                    </div>
                                    <div class="panel-body" style="height: 400px; overflow-x: auto;">
                                    </div>
                                </div>

                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h1 class="panel-title">Teams</h1>
                                    </div>
                                    <div class="panel-body">
                                        Panel content
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel tab-pane panel-default" style="height: 200px; padding: 10px;" id="mystyles">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-8 col-xs-8">
                                <ul class="list-inline">
                                    @foreach (var item in Model.Dancer.DanceStyles)
                                {
                                <li>@Html.ActionLink(item.Name, "Details", "DanceStyle", new { id = item.Id }, null)</li>
                                }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="tabbable">
        <div class="col-xs-8 col-sm-4 col-md-2">
            <ul class="nav nav-pills nav-stacked" role="tablist">
                <li><a href="#videos" data-toggle="tab">YouTube Videos</a></li>
            </ul>
        </div>
        <div class="tab-content col-xs-32 col-sm-16 col-md-8">
            <div id="videos" class="tab-pane">
                <div class="well row">
                    <ul class="list-inline">
                        @foreach (var v in Model.YouTubeVideos)
                        {
                            <li style="padding: 10px; margin: 10px;">
                                <div id="youTubeContainer">
                                    <a target="_blank" href="https://www.youtube.com/watch?v=@v.Id&feature=player_embedded">
                                        <img id="youTubeImage" src="https://img.youtube.com/vi/@Html.DisplayFor(s => v.Id)/mqdefault.jpg" />
                                        <div id="youTubePlay"></div>
                                    </a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div><!-- /.tab-content -->
    </div><!-- /.tabbable -->
</div>

<p>
    @Html.ActionLink("Back to List", "List")
</p>
