@model EDR.Models.ViewModels.OwnerViewViewModel

@{
    ViewBag.Title = "Owner Page for " + Model.Owner.ApplicationUser.FullName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{string ctrName = ViewContext.RouteData.Values["action"].ToString();}

<div class="container" style="padding: 10px;">
    <div class="row">
        <h1 class="page-header">
            @Model.Owner.ApplicationUser.FullName
            @if (User.Identity != null && User.Identity.Name == Model.Owner.ApplicationUser.UserName)
            {
                <a class="btn btn-info" title="Edit Profile" href="@Url.Action("Edit", "Owner", new { username = Model.Owner.ApplicationUser.UserName })">
                    <i class="glyphicon glyphicon-pencil" style="vertical-align: middle;"></i>
                    Edit
                </a>
            }
            <span class="pull-right">
                <small>Owner</small>
                    @*<span class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                            Switch to...
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Home", "Dancer", new { username = Model.Owner.ApplicationUser.UserName })">Dancer Page</a></li>
                            @if (Model.Roles.Contains(EDR.Enums.RoleName.Promoter))
                            {
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Home", "Promoter", new { username = Model.Owner.ApplicationUser.UserName })">Promoter Page</a></li>
                            }
                            @if (Model.Roles.Contains(EDR.Enums.RoleName.Teacher))
                            {
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Home", "Teacher", new { username = Model.Owner.ApplicationUser.UserName })">Teacher Page</a></li>
                            }
                        </ul>
                    </span>*@
            </span>
        </h1>
    </div>
    <div class="well col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                @Html.Partial("~/Views/Shared/_ProfilePicturePartial.cshtml", new EDR.Models.ViewModels.ProfilePicture() { User = Model.Owner.ApplicationUser, ReturnUrl = Url.Action("Home", "Owner", new { username = Model.Owner.ApplicationUser.UserName } )})
            </div>
            <div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>
                        <img src="https://maps.googleapis.com/maps/api/staticmap?center=@Model.Address.Latitude,@Model.Address.Longitude&zoom=4&size=250x100&maptype=roadmap&markers=color:red%7Clabel:A%7C @Model.Address.Latitude, @Model.Address.Longitude">
                    </p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    @if (Model.Owner.Facebook != null)
                    {
                        <a class="img-thumbnail" href='@Model.Owner.Facebook' target="_blank" title="Visit Me On Facebook"><img src="@Url.Content("~/Content/images/facebookSmall.png")" /></a>
                    }
                    @if (Model.Owner.Website != null)
                    {
                        <a class="img-thumbnail" href='@Model.Owner.Website' target="_blank" title="Visit Me On the Web"><img src="@Url.Content("~/Content/images/web.png")" /></a>
                    }
                    @if (Model.Owner.ContactEmail != null)
                    {
                        <a class="img-thumbnail" href='mailto:@Model.Owner.ContactEmail' title="Email Me"><img src="@Url.Content("~/Content/images/email.png")" /></a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li @if (ctrName == "Home") { <text> class="active" </text>      }><a href="@Url.Action("Home", "Owner", new { username = Model.Owner.ApplicationUser.UserName })"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                    <li @if (ctrName == "MyPlaces") { <text> class="active" </text>     }><a href="@Url.Action("MyPlaces", "Owner", new { username = Model.Owner.ApplicationUser.UserName })"><i class="glyphicon glyphicon-globe"></i> My Places</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "List")
</p>
