@model EDR.Models.ViewModels.OwnerViewViewModel
@using EDR.Models
@using EDR.Utilities
@using EDR.Enums

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Owner/_OwnerLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function (e) {
        //  locate each partial section
        //  if it has a URL set, load the contents into the area.

        $(".partialContents").each(function (index, item) {
            var url = $(item).data("url");
            if (url && url.length > 0) {
                $(item).load(url);
            }
        });
    });
</script>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <h4>Recent Activity</h4>
    <div class="partialContents" data-url="/Owner/@Model.Owner.ApplicationUser.UserName/GetUpdates">
        <img src="~/Content/images/indicator.white.gif" />Loading...
    </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="panel panel-info">
        <h4 class="col-lg-6 col-md-6 col-sm-6 col-xs-6">My Schools</h4>
        @if (Model.Owner.ApplicationUser.UserName == User.Identity.Name)
        {
            @Html.ActionLink("Add School", "Create", "School", null, new { @class = "btn btn-text" })
        }
        <div class="panel-body">
            <div class="row">
            </div>
            @if (Model.Owner.Schools != null && Model.Owner.Schools.Count() > 0)
            {
                foreach (var sch in Model.Owner.Schools.OrderBy(s => s.Name))
                {
                    <div class="row" style="padding: 2px;">
                        @Html.ActionLink(sch.Name, "View", "School", new { id = sch.Id }, new { @class = "btn btn-link" })
                    </div>
                }
            }
            else
            {
                @: No Facebook Events to Import
            }
            @*<a class="btn btn-primary" href="@Url.Action("ImportClassFromFacebook", "Event")">
                    <h4>More Events...</h4>
                </a>*@
        </div>
    </div>

    <div class="panel panel-success">
        <h4 class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Latest Classes/Workshops...</h4>
        <div class="panel-body">
            @if (Model.NewClasses.Count() > 0)
            {
                @Html.Partial("~/Views/Shared/_EventsPartial.cshtml", Model.NewClasses)
            }
            else
            {
                @: No New Classes/Workshops
            }
            <a class="btn btn-link pull-right" href="@Url.Action("MyPlaces", "Owner", new { username = User.Identity.Name })" title="Find More Classes/Workshops">
                <h4>More...</h4>
            </a>
        </div>
    </div>
    <div class="panel panel-success">
        <h4 class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Latest Socials...</h4>
        <div class="panel-body">
            @if (Model.NewSocials.Count() > 0)
            {
                @Html.Partial("~/Views/Shared/_EventsPartial.cshtml", Model.NewSocials)
            }
            else
            {
                @: No New Socials
            }
            <a class="btn btn-link pull-right" href="@Url.Action("MyPlaces", "Owner")" title="Find More Socials">
                <h4>More...</h4>
            </a>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            Teachers
        </div>
        <div class="panel-body">
            @Html.Partial("~/Views/Shared/_TeacherListPartial.cshtml", Model.Teachers)
        </div>
    </div>
    <div class="panel panel-danger">
        <div class="panel-heading">
            Students/Dancers
        </div>
        <div class="panel-body">
            @Html.Partial("~/Views/Shared/Events/_UserListPartial.cshtml", Model.Dancers)
        </div>
    </div>
</div>
