@model EDR.Models.ViewModels.OwnerViewViewModel
@using EDR.Models
@using EDR.Utilities
@using EDR.Enums

@{
    ViewBag.Title = Model.Owner.ApplicationUser.FullName + " - Owner";
    ViewBag.Keywords = "Social Dance Owner " + String.Join(" ", Model.Owner.Socials.SelectMany(s => s.DanceStyles).Select(d => d.Name).Distinct().ToArray()) + " " + String.Join(" ", Model.Owner.Classes.SelectMany(s => s.DanceStyles).Select(d => d.Name).ToArray()) + " " + Model.Owner.ApplicationUser.City + " " + Model.Owner.ApplicationUser.State;
    ViewBag.Description = "Home page for " + Model.Owner.ApplicationUser.FullName + ". " + String.Join(" ", Model.Owner.Socials.SelectMany(s => s.DanceStyles).Distinct().Select(d => d.Name).ToArray()) + " " + String.Join(" ", Model.Owner.Classes.SelectMany(s => s.DanceStyles).Select(d => d.Name).ToArray()) + " owner.";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("All Owners", "List", "Owner")</li>
    <li class="active">Owner Profile</li>
</ol>

<div class="container-fluid">
    <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body bg-info buttoncontainer">
                    @if (User.Identity.Name == Model.Owner.ApplicationUser.UserName)
                    {
                        @Html.ActionLink("Edit", "Manage", "Owner", null, new { @class = "btn btn-warning actionbutton" })
                    }
                    <div class="row">
                        <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4">
                            <img style="max-width: 100%; max-height: 100%;" src="@Url.Content(Model.Owner.ApplicationUser.PhotoUrl ?? "~/Content/images/NoProfilePic.gif")" />
                        </div>
                        <div class="col-lg-8 col-xs-8 col-sm-8 col-md-8">
                            <h1 class="nospace">@Model.Owner.ApplicationUser.FullName</h1>
                            <p>
                                @Model.Owner.ApplicationUser.Location
                            </p>
                            <div>
                                @if (Model.Owner.Facebook != null)
                                {
                                    <a rel="nofollow" class="img-thumbnail" href='@Model.Owner.Facebook' target="_blank" title="Visit Me On Facebook">
                                        <img class="img-rounded" src="@Url.Content("~/Content/images/facebookSmall.png")" style="height: 30px;" />
                                    </a>
                                }
                                @if (Model.Owner.Website != null)
                                {
                                    <a rel="nofollow" class="img-thumbnail" href='@Model.Owner.Website' target="_blank" title="Visit Me On the Web"><img src="@Url.Content("~/Content/images/web.png")" /></a>
                                }
                                @if (Model.Owner.ContactEmail != null)
                                {
                                    <a rel="nofollow" class="img-thumbnail" href='mailto:@Model.Owner.ContactEmail' title="Email Me"><img src="@Url.Content("~/Content/images/email.png")" /></a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body buttoncontainer">
                    <h3>My Schools</h3>
                    @if (Model.Owner.ApplicationUser.UserName == User.Identity.Name)
                    {
                        @Html.ActionLink("Add School", "Create", "School", null, new { @class = "btn btn-warning actionbutton" })
                    }
                    @if (Model.Owner.Schools != null && Model.Owner.Schools.Count() > 0)
                    {
                        foreach (var sch in Model.Owner.Schools.OrderBy(s => s.Name))
                        {
                            @Html.DisplayFor(m => sch, "School")
                            <hr />
                        }
                    }
                    else
                    {
                        @: No Schools
                }
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    @if (Model.Owner.ApplicationUser.SpotifyUri != null)
                    {
                        <iframe class="spotifyplayer" src="https://embed.spotify.com/?uri=@Model.Owner.ApplicationUser.SpotifyUri" width="500" height="280" frameborder="0" allowtransparency="true"></iframe>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryUI")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/Content/jquery.rateyo.css" />
    <script src="~/Scripts/jquery.rateyo.js"></script>
    <script src="~/Scripts/jquery-simple-pagination-plugin.js"></script>
    @*<link href="~/Content/Simple-Pagination.css" rel="stylesheet" />*@

    <script>
    $(document).ready(function () {
        //  LoadClasses(); //Loads events partial view
        //  LoadSocials(); //Loads events partial view
        //  BuildRatingStars();
    });

    function BuildRatingStars() {
        $(".rateYo").rateYo({
            starWidth: "18px",
            ratedFill: "#FFD700",
            normalFill: "#ccc",
            onInit: function (rating, rateYoInstance) {
                var t = $(this);
                $(this).rateYo("option", "rating", t.parent('div').find('.ratingval').prop('value'));
                $(this).rateYo("option", "readOnly", true);
            }
        });
    }
    </script>
}