@model EDR.Models.ViewModels.OwnerViewViewModel

@{
    ViewBag.Title = "Owner - " + Model.Owner.ApplicationUser.FirstName;
}

@if (Model.Owner.ApplicationUser.FacebookUsername != null)
{
    <img src="http://graph.facebook.com/@Model.Owner.ApplicationUser.FacebookUsername/picture?type=normal" />
}
<h1 class="page-header">@Model.Owner.ApplicationUser.FullName</h1>

<div class="well">
    <dl class="dl-horizontal">
        <dt>
            Contact
        </dt>

        <dd>
            @Model.Owner.ContactEmail
        </dd>

        <dt>
            Website
        </dt>

        <dd>
            @Model.Owner.Website
        </dd>

        <dt>
            Facebook
        </dt>

        <dd>
            @Model.Owner.Facebook
        </dd>

        <dt>
            Location
        </dt>

        <dd>
            Location
        </dd>

        <dt>
            Places
        </dt>

        <dd>
            <ul class="list-inline">
                @foreach (var item in Model.Owner.Places)
                {
                    <li>@Html.ActionLink(item.Name, "Details", "Place", new { id = item.Id }, null)</li>
                }
            </ul>
        </dd>
    </dl>
@if (User.Identity != null && User.Identity.Name == Model.Owner.ApplicationUser.UserName)
{
    <a href="@Url.Action("Create", "Event", new { role = "Owner", eventType = "Class" }, null)" class="btn btn-primary">Post a new Class</a>
}
    @if (User.Identity != null && User.Identity.Name == Model.Owner.ApplicationUser.UserName)
    {
        <a class="btn btn-primary" href="@Url.Action("Edit", "Owner")">Edit Profile</a>
    }
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>