@model EDR.Models.DanceStyle
@using EDR.Models

@{
    ViewBag.Title = "Details";
}

<h2>Dance Style Details</h2>

<script type="text/javascript">
    $('#submit').click(function () {
        //check whether browser fully supports all File API
        if (window.File && window.FileReader && window.FileList && window.Blob) {
            //get the file size and file type from file input field
            var fsize = $('#file')[0].files[0].size;

            if (fsize > 1048576) //do something if file size more than 1 mb (1048576)
            {
                alert("File is too big.  Please try another.");
                return false;
            } else {
                return true;
            }
        } else {
            alert("Please upgrade your browser, because your current browser lacks some new features we need!");
        }
    });
</script>

<script type="text/javascript">
    $(document).ready(function (e) {
        //  locate each partial section
        //  if it has a URL set, load the contents into the area.

        $(".partialContents").each(function (index, item) {
            var url = $(item).data("url");
            if (url && url.length > 0) {
                $(item).load(url);
            }
        });
    });
</script>

<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.PhotoUrl, htmlAttributes: new { @class = "control-label col-lg-3 col-md-3" })
        <div class="col-md-9 col-lg-9">
            <div class="col-lg-12 col-md-12">
                @if (Model.PhotoUrl != null)
                {
                    <img style="max-width: 200px;" src="@Url.Content(Model.PhotoUrl)" />
                }
                else
                {
                    <img style="max-width: 200px;" src="~/Content/images/NoImage.png" />
                }
            </div>
            <div class="col-lg-12 col-md-12">
                @using (Html.BeginForm("UploadPicture",
                                    "DanceStyle",
                                    new { id = @Model.Id },
                                    FormMethod.Post,
                                    new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group form-inline" style="margin-top: 5px;">
                        <input type="file" name="file" id="file" class="form-control" size="20" style="display: inline-block;" />
                        <input id="submit" type="submit" class="btn btn-success" value="Upload New Picture" style="display: inline-block;" />
                    </div>
                    <p>
                        @ViewBag.Message
                    </p>

                    <script type="text/javascript">
                        $('#submit').click(function () {
                            //check whether browser fully supports all File API
                            if (window.File && window.FileReader && window.FileList && window.Blob) {
                                //get the file size and file type from file input field
                                var fsize = $('#file')[0].files[0].size;

                                if (fsize > 1048576) //do something if file size more than 1 mb (1048576)
                                {
                                    alert("File is too big.  Please try another.");
                                    return false;
                                } else {
                                    return true;
                                }
                            } else {
                                alert("Please upgrade your browser, because your current browser lacks some new features we need!");
                            }
                        });
                    </script>
                }
            </div>
        </div>
    </div>
    @using (Html.BeginForm("Details", "DanceStyle", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-lg-3 col-md-3" })
            <div class="col-md-9 col-lg-9">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-lg-3 col-md-3" })
            <div class="col-md-9 col-lg-9">
                @Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "form-control", @style = "width: 100%; max-width: 100%;", @rows = "10" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SpotifyPlaylist, htmlAttributes: new { @class = "control-label col-lg-3 col-md-3" })
            <div class="col-md-9 col-lg-9">
                <div style="display: inline-block;">
                    @Html.EditorFor(model => model.SpotifyPlaylist, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SpotifyPlaylist, "", new { @class = "text-danger" })
                </div>
                <div style="display: inline-block;">
                    <a class="btn btn-link" href="~/Content/images/SpotifyHelp.png" target="_blank">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    <div class="form-group">
        <div class="col-lg-3 col-md-3">
        </div>
        <div class="col-md-9 col-lg-9">
            <input id="submit" type="submit" class="btn btn-primary" value="Save Dance Style" />
            @Html.ActionLink("Cancel", "Index", "DanceStyle", null, new { @class = "btn btn-warning" } )
        </div>
    </div>
    }

    <h4 class="page-header">Videos</h4>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            @foreach (var video in Model.Videos)
            {
                <div class="col-lg-4 col-md-4 thumbnail" style="height: 150px;">
                    <a class="btn btn-link pull-right" href="@Url.Action("DeleteVideo", new { id = Model.Id, videoId = video.Id })" title="Delete Video">
                        <span class="glyphicon glyphicon-remove-circle text-danger" aria-hidden="true"></span>
                    </a>
                    <div style="height: 100px;">
                        @Html.Partial("~/Views/Shared/_VideoPlayerPartial.cshtml", new Video() { PhotoUrl = video.PhotoUrl, VideoUrl = video.VideoUrl, Title = video.Title, PublishDate = video.PublishDate })
                    </div>
                </div>
            }
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="tabbable panel panel-info">
                <div class="panel-heading">
                    <ul class="nav nav-tabs nav-justified" role="tablist">
                        <li class="active"><a href="#youtubevideos" data-toggle="tab">From <img class="img-circle" style="width: 30px;" src="@Url.Content("~/Content/images/youtube.png")" /></a></li>
                        <li><a href="#facebookvideos" data-toggle="tab">From <img class="img-circle" style="width: 30px;" src="@Url.Content("~/Content/images/facebookSmall.png")" /></a></li>
                    </ul>
                </div>
                <div class="tab-content panel-body">
                    <div id="youtubevideos" class="tab-pane active">
                        @using (Html.BeginForm("ImportYouTubeVideoUrl",
                                            "DanceStyle",
                                            new { id = Model.Id },
                                            FormMethod.Post,
                                            new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group form-inline" style="padding: 10px;">
                                <p>
                                    <label for="videoUrl">Video Url:</label>
                                    <input type="text" name="videoUrl" id="videoUrl" class="form-control" size="200" />
                                </p>
                                <p>
                                    <input id="submit" type="submit" class="btn btn-success" value="Import Video" />
                                </p>
                            </div>
                        }
                    </div>
                    <div id="facebookvideos" class="tab-pane">
                        <div class="partialContents" data-url="/Admin/DanceStyle/GetFacebookVideos/@Model.Id">
                            <img src="~/Content/images/indicator.white.gif" />Loading...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
