@model IEnumerable<EDR.Models.Place>
@using EDR.Utilities
@using EDR.Models

@if (Model.Count() != 0)
{
    int rowNo = 0;
    foreach (var item in Model)
    {
        <a class="btn btn-default" style="width: 100%; text-align: left;" onclick="openPlace(@rowNo, @item.Latitude, @item.Longitude); return false;" href="#">
            <div style="width: 100%;">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 thumbnail text-center">
                    @if (item.ThumbnailFilename != null)
                    {
                        <img src="@Url.Content(item.ThumbnailFilename)" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/Content/images/MissingImageThumbnail.jpg")" />
                    }
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <strong>@(rowNo += 1). @item.Name</strong><br />
                    <span class="text-info">@item.PlaceType</span>
                </div>
            </div>
        </a>
    }
}