@model IEnumerable<EDR.Models.Event>
@using EDR.Models
@using EDR.Enums

@foreach (var evt in Model.OrderBy(c => c.NextDate))
{
    <div class="col-lg-12 col-md-12 row" style="margin-top: 5px; ">
        <div class="col-lg-4 col-md-4" style="height: 75px;">
            @if (evt.VideoUrl != null)
            {
                @Html.Partial("~/Views/Shared/_VideoPlayerPartial.cshtml", new Video() { PhotoUrl = evt.PhotoUrl, VideoUrl = evt.VideoUrl })
            }
            else
            {
                if (evt.PhotoUrl != null)
                {
                    <a target="_blank" href="@Url.Content(evt.PhotoUrl)">
                        <div class="croppedpic" style="display: block; max-height: 100%; max-width: 100%;">
                            <img src="@Url.Content(evt.PhotoUrl)" />
                        </div>
                    </a>
                }
                else
                {
                    <div class="croppedpic" style="display: block; max-height: 100%; max-width: 100%;">
                        <img src="~/Content/images/class.jpg" />
                    </div>
                }
            }
        </div>
        <div class="col-lg-8 col-md-8">
            <a class="btn btn-info" href="@Url.Action("View", "Event", new { id = evt.Id, eventType = evt is Class ? EventType.Class : EventType.Social })" title="@evt.Name" style="text-align: left; width: 100%;">
                @evt.Name.PadRight(20, ' ').Substring(0, 20)<br />
                @evt.Place.City<br />
                @evt.NextDate.ToString("ddd, MMM dd, yyyy")
            </a>
        </div>
    </div>
}
