@model EDR.Models.ViewModels.FacebookEventsViewModel

@if (Model.FacebookEvents != null && Model.FacebookEvents.Count() > 0)
{
    <div class="panel panel-success">
        <div class="panel-body">
            @foreach (var evt in Model.FacebookEvents.OrderBy(e => e.StartTime))
            {
            <div class="row" style="padding: 2px;">
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                    <span class="text-primary">
                        <a rel="nofollow" href="@Url.Content(evt.EventLink)" title="@evt.Name" style="text-align: left;" target="_blank">
                            <b>@evt.StartTime.ToString("ddd, M/d")</b> -
                            @evt.Name
                        </a>
                    </span>
                </div>
                @if (Model.Type == EDR.Enums.EventType.Class)
                {
                    <a class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-sm btn-primary" href="@Url.Action("Create", "Event", new { eventType = Model.Type, schoolId = Model.SchoolId, role = Model.Role, fbId = evt.Id })" title="@evt.Name">
                        Import
                    </a>
                }
                else
                {
                    <a class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-sm btn-primary" href="@Url.Action("Create", "Event", new { eventType = Model.Type, promotergroupid = Model.PromoterGroupId, role = Model.Role, fbId = evt.Id })" title="@evt.Name">
                        Import
                    </a>
                }
            </div>
            }
        </div>
    </div>
}

