<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Eat. Dance. Repeat.</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="fb-root"></div>
    <script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=304042686436920&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>
window.twttr = (function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {}; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); t._e = []; t.ready = function (f) { t._e.push(f); }; return t; }(document, "script", "twitter-wjs"));
</script>
<style>
.mainnav.dropdown-menu > li {
    display: inline-block;
    float:left;
}
.mainnav.open > ul {
    display: inline-flex !important;
}
/*.navbar-default{
    font-weight: 600;
    background-color: #00889f;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ACDDE4;
}*/
</style>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <img src="~/Content/images/eatdancerepeat.png" style="height: 100%;" />
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav text-uppercase">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Explore", "Explore", "Home")</li>
                        <li>@Html.ActionLink("Learn", "Learn", "Home")</li>
                        <li>@Html.ActionLink("Dance", "Social", "Home")</li>
                        @*<li class="mainnav dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Learn<span class="caret"></span></a>
                            <ul class="mainnav dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Classes", "Learn", "Home")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Schools", "List", "School")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Studios", "List", "Place", new { TypeParam = EDR.Enums.PlaceType.Studio }, null)</li>
                            </ul>
                        </li>*@
                        @*<li class="mainnav dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dance<span class="caret"></span></a>
                            <ul class="mainnav dropdown-menu">
                                <li>@Html.ActionLink("Socials", "Social", "Home")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Dance Venues", "List", "Place")</li>
                            </ul>
                        </li>*@
                        @*<li class="mainnav dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">People<span class="caret"></span></a>
                            <ul class="mainnav dropdown-menu">
                                <li>@Html.ActionLink("Teachers", "List", "Teacher")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Owners", "List", "Owner")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Promoters", "List", "Promoter")</li>
                            </ul>
                        </li>*@
                        <li>@Html.ActionLink("Performance", "Index", "Team")</li>
                        @*<li class="mainnav dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Performance<span class="caret"></span></a>
                            <ul class="mainnav dropdown-menu">
                                <li>@Html.ActionLink("Dance Teams", "Index", "Team")</li>
                                <li><a href="#">Performances</a></li>
                            </ul>
                        </li>*@
                    }
                    else
                    {
                        <li>@Html.ActionLink("Explore", "Explore", "Home")</li>
                        <li>@Html.ActionLink("Learn", "Learn", "Home")</li>
                        <li>@Html.ActionLink("Dance", "Social", "Home")</li>
                    }
                </ul>
                <div style="margin-right: 50px;">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </nav>
    @*<div>
        <div class="pull-right" style="display: inline-block; vertical-align: bottom !important; margin: 1px;">
            <a class="twitter-share-button"
               data-count="none"
               href="https://twitter.com/share"
               data-url="http://www.eatdancerepeat.com"
               data-text="Check out Eat. Dance. Repeat.">
                Tweet
            </a>
        </div>
        <div class="pull-right" style="display: inline-block; margin: 1px;">
            <div class="fb-share-button" data-href="http://www.eatdancerepeat.com" data-layout="button" style="margin-bottom: 5px !important;"></div>
        </div>
    </div>*@

    @RenderSection("jumbotron", required: false)


    <div class="container-fluid">
        <div class="col-lg-12 nospace">
            <div>
                @RenderBody()
            </div>
            <hr />
            <footer>
                <div style="text-align: center;">
                    <a href="@Url.Action("PrivacyPolicy", "Home")" class="btn btn-link">
                        Privacy Policy
                    </a>
                    <a href="@Url.Action("TermsofService", "Home")" class="btn btn-link">
                        Terms of Service
                    </a>
                </div>
                <p>&copy; @DateTime.Now.Year - Eat. Dance. Repeat.</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/jqueryval")*@
    @Scripts.Render("~/bundles/bootstrap")
    @*<script src="~/Scripts/jquery.validate.js"></script>*@
    @RenderSection("Scripts", required: false)
</body>
</html>
