@using Microsoft.AspNet.Identity
@using EDR.Enums

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @if (Session["MyRole"] != null)
            {
                if (Session["MyRole"].ToString() == RoleName.Owner.ToString())
                {
                    <a href="@Url.Action("Home", "Owner", new { username = User.Identity.Name })"><i class="glyphicon glyphicon-user"></i> @User.Identity.Name</a>
                }
                else if (Session["MyRole"].ToString() == RoleName.Teacher.ToString())
                {
                    <a href="@Url.Action("Home", "Teacher", new { username = User.Identity.Name })"><i class="glyphicon glyphicon-user"></i> @User.Identity.Name</a>
                }
                else if (Session["MyRole"].ToString() == RoleName.Promoter.ToString())
                {
                    <a href="@Url.Action("Home", "Promoter", new { username = User.Identity.Name })"><i class="glyphicon glyphicon-user"></i> @User.Identity.Name</a>
                }
                else
                {
                    <a href="@Url.Action("Home", "Dancer", new { username = User.Identity.Name })"><i class="glyphicon glyphicon-user"></i> @User.Identity.Name</a>
                }
            }
            else
            {
                <a href="@Url.Action("Home", "Dancer", new { username = User.Identity.Name })"><i class="glyphicon glyphicon-user"></i> @User.Identity.Name</a>
            }
        </li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                Switch to <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                </li>

                @if (Session["MyRole"] != null)
                {
                    <li>
                        @Html.ActionLink("Dancer Profile", "Home", "Dancer", routeValues: new { username = User.Identity.Name }, htmlAttributes: new { title = "Manage" })
                    </li>
                }
                @if (User.IsInRole("Teacher"))
                {
                    if (Session["MyRole"] != null)
                    {
                        if (Session["MyRole"].ToString() != RoleName.Teacher.ToString())
                        {
                            <li>
                                @Html.ActionLink("Teacher Profile", "Home", "Teacher", routeValues: new { username = User.Identity.Name }, htmlAttributes: new { title = "Manage" })
                            </li>
                        }
                    }
                    else
                    {
                        <li>
                            @Html.ActionLink("Teacher Profile", "Home", "Teacher", routeValues: new { username = User.Identity.Name }, htmlAttributes: new { title = "Manage" })
                        </li>
                    }
                }
                @if (User.IsInRole("Owner"))
                {
                    if (Session["MyRole"] != null)
                    {
                        if (Session["MyRole"].ToString() != RoleName.Owner.ToString())
                        {
                            <li>
                                @Html.ActionLink("Owner Profile", "Home", "Owner", routeValues: new { username = User.Identity.Name }, htmlAttributes: new { title = "Manage" })
                            </li>
                        }
                    }
                    else
                    {
                        <li>
                            @Html.ActionLink("Owner Profile", "Home", "Owner", routeValues: new { username = User.Identity.Name }, htmlAttributes: new { title = "Manage" })
                        </li>
                    }
                }
                @if (User.IsInRole("Promoter"))
                {
                    if (Session["MyRole"] != null)
                    {
                        if (Session["MyRole"].ToString() != RoleName.Promoter.ToString())
                        {
                            <li>
                                @Html.ActionLink("Promoter Profile", "Home", "Promoter", routeValues: new { username = User.Identity.Name }, htmlAttributes: new { title = "Manage" })
                            </li>
                        }
                    }
                    else
                    {
                        <li>
                            @Html.ActionLink("Promoter Profile", "Home", "Promoter", routeValues: new { username = User.Identity.Name }, htmlAttributes: new { title = "Manage" })
                        </li>
                    }
                }
            </ul>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
