@using Microsoft.AspNet.Identity
@using EDR.Enums
@using EDR.Models
@using EDR.Data
@using System.Data.Entity

@if (Request.IsAuthenticated)
{
    var context = new ApplicationDbContext();
    var userid = User.Identity.GetUserId();
    //var user = new ApplicationUser();
    //user = context.Users.Where(u => u.Id == userid).Include("CurrentRole").FirstOrDefault();
    var roles = context.Roles.Where(r => r.Users.Any(u => u.UserId == userid));

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-user"></i> @User.Identity.Name<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Manage", "Dancer")"><i class="glyphicon glyphicon-user"></i> <b>@User.Identity.Name</b></a></li>
                    <li role="separator" class="divider"></li>
                    <li id="teachernav">@Html.ActionLink("My Teacher Profile", "Manage", "Teacher", null, new { @style = "font-weight: bold;" })</li>
                    <li id="schoolsnav" style="padding-left: 2px; display: none"><a><i>Schools</i></a></li>
                    <li id="teamsnav" style="padding-left: 2px; display: none"><a><i>Teams</i></a></li>
                    @*<li style="padding-left: 5px;" class="small">@Html.ActionLink("School 1", "Manage", "Teacher")</li>
        <li style="padding-left: 5px;"  class="small">@Html.ActionLink("School 2", "Manage", "Teacher")</li>
        <li style="padding-left: 5px;"  class="small">@Html.ActionLink("School 3", "Manage", "Teacher")</li>*@
                    <li role="separator" class="divider"></li>
                    <li id="promoternav">@Html.ActionLink("My Promoter Profile", "Manage", "Promoter", null, new { @style = "font-weight: bold;" })</li>
                    <li id="socialsnav" style="padding-left: 2px; display: none;"><a><i>Socials</i></a></li>
                    <li role="separator" class="divider"></li>
                    <li>@Html.ActionLink("My Owner Profile", "Manage", "Owner", null, new { @style = "font-weight: bold;" })</li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
            </li>
        </ul>

    @*<ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Home", Session["CurrentRole"] != null ? Session["CurrentRole"].ToString() : "Dancer", new { username = User.Identity.Name })"><i class="glyphicon glyphicon-user"></i> @User.Identity.Name</a>
        </li>
        @if (User.IsInRole("Teacher") || User.IsInRole("Owner") || User.IsInRole("Promoter"))
        {
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                    Switch to <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                    </li>
                    <li>
                        @Html.ActionLink("Dancer Profile", "SwitchRole", "Account", routeValues: new { id = "" }, htmlAttributes: new { title = "Swith to Dancer Profile" })
                    </li>
                    @foreach(var role in roles)
                    {
                        <li>
                            @Html.ActionLink(role.Name + " Profile", "SwitchRole", "Account", routeValues: new { id = role.Name }, htmlAttributes: new { title = "Swith to " + role.Name + " Profile" })
                        </li>
                    }
                </ul>
            </li>
        }
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>*@
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
<script src="~/Scripts/jquery-2.1.1.js"></script>
<script>
    $.ajax({
        url: '@Url.Action("GetSchools", "Teacher")',
        dataType: 'json',
        type: 'GET',
        success: function (data) {
            var row = ""
            if (data.length > 0) {
                $.each(data, function (index, item) {
                    row +=
                        '<li class="small item-short" style="max-width: 150px !important; padding-left: 4px;"><a href="../../School/Manage/' + item.Id + '">' + item.Name + '</a></li>';
                });
                $("#schoolsnav").after(row);
                $("#schoolsnav").show();
                //  $("#schoolsnav").after(row + '<li role="separator" class="divider"></li>');
            }
        }
    })

    $.ajax({
        url: '@Url.Action("GetTeams", "Teacher")',
        dataType: 'json',
        type: 'GET',
        success: function (data) {
            var row = ""
            if (data.length > 0)
            {
                $.each(data, function (index, item) {
                    row +=
                        '<li class="small item-short" style="max-width: 150px !important; padding-left: 4px;"><a href="../../Team/Manage/' + item.Id + '">' + item.Name + '</a></li>';
                });
                $("#teamsnav").after(row);
                $("#teamsnav").show();
            }
        }
    })

    $.ajax({
        url: '@Url.Action("GetSocials", "Promoter")',
        dataType: 'json',
        type: 'GET',
        success: function (data) {
            var row = ""
            if (data.length > 0)
            {
                $.each(data, function (index, item) {
                    row +=
                        '<li class="small item-short" style="max-width: 150px !important; padding-left: 4px;"><a href="../../Social/View/' + item.Id + '">' + item.Name + '</a></li>';
                });
                $("#socialsnav").after(row);
                $("#socialsnav").show();
            }
        }
    })
</script>
