@model EDR.Models.ViewModels.OwnerViewViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{string ctrName = ViewContext.RouteData.Values["action"].ToString();}

<div class="container" style="padding: 10px;">
    <div class="row">
        <h1 class="page-header">
            @Model.Owner.ApplicationUser.FullName
            @if (User.Identity != null && User.Identity.Name == Model.Owner.ApplicationUser.UserName)
            {
                <a title="Edit Profile" href="@Url.Action("Edit", "Owner", new { username = Model.Owner.ApplicationUser.UserName })">
                    <i class="glyphicon glyphicon glyphicon-pencil btn-sm btn-info" style="vertical-align: middle;"></i>
                    <span class="sr-only">Edit Profile</span>
                </a>
            }
        </h1>
    </div>

    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
        <div class="row well well-sm" style="text-align: center;">
            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-0">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 img-thumbnail">
                    @if (Model.Owner.ApplicationUser.UserPictures.Where(x => x.ProfilePicture).FirstOrDefault() != null)
                    {
                        <img src="@Url.Content(Model.Owner.ApplicationUser.UserPictures.Where(x => x.ProfilePicture).FirstOrDefault().ThumbnailFilename)" />
                    }
                    else
                    {
                        <img src="~/Content/images/NoPic.png" />
                    }
                </div>
                @if (User.Identity != null && User.Identity.Name == Model.Owner.ApplicationUser.UserName)
                {
                    <p>
                        <a style="font-size: small;" href="@Url.Action("ChangePicture", "Dancer")">Change Picture</a>
                        @*<a title="Change Picture" href="@Url.Action("ChangePicture", "Dancer")">
                    <i class="glyphicon glyphicon glyphicon-edit btn btn-primary"></i>
                    <span class="sr-only">Change Picture</span>
                </a>*@
                    </p>
                }
            </div>
            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" style="text-align: center;">
                <div class="row">
                    @Model.Address.City, @Model.Address.State
                </div>
                @if (Model.Owner.Facebook != null)
                {
                    <a class="img-thumbnail" href='@Model.Owner.Facebook' target="_blank" title="Visit Me On Facebook"><img src="@Url.Content("~/Content/images/facebookSmall.png")" /></a>
                }
                @if (Model.Owner.Website != null)
                {
                    <a class="img-thumbnail" href='@Model.Owner.Website' target="_blank" title="Visit Me On the Web"><img src="@Url.Content("~/Content/images/web.png")" /></a>
                }
                @if (Model.Owner.ContactEmail != null)
                {
                    <a class="img-thumbnail" href='mailto:@Model.Owner.ContactEmail' title="Email Me"><img src="@Url.Content("~/Content/images/email.png")" /></a>
                }
            </div>
        </div>
        <div class="row">
            <div class="row col-md-12 col-lg-12 col-sm-12 col-xs-12" style="text-align: left;">
                <ul class="nav nav-pills nav-stacked" role="tablist">
                    <li @if (ctrName == "MyPlaces") { <text> class="active" </text>    }><a href="@Url.Action("MyPlaces", "Owner", new { username = Model.Owner.ApplicationUser.UserName })">My Places</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tabbable">
        <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="panel panel-info tab-pane panel-default active" id="mylearn">
                    <div class="panel-heading">
                        <h4 class="panel-title" style="font-size: 18pt;"><span class="">@RenderSection("section")</span></h4>
                    </div>
                    <div class="panel-body">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "List")
</p>
