@model EDR.Areas.Admin.Models.ViewModels.AddUserViewModel

@{
    ViewBag.Title = "AddUser";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("All Users", "Index")</li>
    <li class="active">Add Role User</li>
</ol>

<h2>Add User</h2>
@if (ViewBag.Message != null)
{
    @ViewBag.Message
}

        @using (Html.BeginForm("AddUser"))
        {
            <div class="row col-lg-12 col-md-12">
                <div class="col-lg-12 col-md-12" style="margin-bottom: 5px;">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-10 col-lg-10 input-group">
                                <input type="text" id="newuser" placeholder="Type in User Name" required class="form-control" style="display: inline-block;" />
                                @Html.HiddenFor(x => x.UserId)
                                <input type="submit" value="Search" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-lg-12 col-md-12" style="margin: 5px;">
            </div>
        }

        <div class="row">
            @if (Model != null && Model.SearchUsers != null && Model.SearchUsers.Count() != 0)
            {
                <table class="table table-striped">
                    <tr>
                        <th>
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Role
                        </th>
                    </tr>
                    @foreach (var u in Model.SearchUsers)
                    {
                        <tr>
                            <td>
                                <div class="captionpic" style="display: inline-block;">
                                    <img id="profilepic" src="@Url.Content(u.PhotoUrl ?? "~/Content/images/NoProfilePic.gif")" />
                                </div>
                            </td>
                            <td>
                                <div style="display: inline-block; vertical-align: top;">
                                    <span class="text-primary" style="vertical-align: top;">@u.FullName</span>
                                </div>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary">Add to...</button>
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="@Url.Action("PostRoleUser", new { role = "Teacher", id = u.Id })">Teacher Role</a></li>
                                        <li><a href="@Url.Action("PostRoleUser", new { role = "Promoter", id = u.Id })">Promoter Role</a></li>
                                        <li><a href="@Url.Action("PostRoleUser", new { role = "Owner", id = u.Id })">Owner Role</a></li>
                                        <li><a href="@Url.Action("PostRoleUser", new { role = "Admin", id = u.Id })">Admin Role</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-warning" })


@section Scripts
{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/foolproof")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/GeoComplete")

    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
    <script src="~/Scripts/searchhelper.js"></script>
    <script src="~/Scripts/changepicture.js"></script>
    <script src="~/Scripts/readmore.js"></script>

    <script>
        $('#newuser').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("Search", "Dancer", new { Area = "" })',
                    data: { searchString: request.term },
                    dataType: 'json',
                    type: 'GET',
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Name,
                                value: item.Id
                            }
                        }));
                    }
                })
            },
            select: function (event, ui) {
                $('#newuser').val(ui.item.label);
                $('#UserId').val(ui.item.value);
                return false;
            },
            minLength: 1
        });
    </script>
}
