@model EDR.Areas.Admin.Models.ViewModels.RolesViewModel
@{
    ViewBag.Title = "Roles";
}
<ol class="breadcrumb">
    <li>All Users</li>
</ol>

<h2>All Roles <a class="btn btn-primary" href="@Url.Action("AddUser")">Add a User</a> </h2>
@if (ViewBag.Message != null)
{
    <h4 class="text-danger">@ViewBag.Message</h4>
}
<div class="container">
    @using (Html.BeginForm("Index"))
    {
        <div class="row">
            <div class="form-inline">
                <div class="form-group">
                    @Html.DropDownListFor(m => m.Role.Id, new SelectList(Model.Roles, "Id", "Name", Model.Role.Id), "-- Select a Role --", new { @class = "form-control", @onchange = "this.form.submit();" })
                    <input type="text" id="newuser" placeholder="Type in User Name" class="form-control" style="display: inline-block;" />
                    @Html.HiddenFor(x => x.UserId)
                    <input type="submit" value="Search" class="btn btn-warning" />
                </div>
            </div>
        </div>
        <div class="row">
        </div>
        <div class="row">
            <div class="form-group">
            </div>
        </div>
    }

    @if (Model.Users != null && Model.Users.Count() != 0)
    {
        <table class="table table-striped">
            <tr>
                <th>
                    User
                </th>
                <th>
                    Location
                </th>
                <th>
                </th>
            </tr>
            @foreach (var u in Model.Users)
            {
                <tr>
                    <td>
                        <div class="captionpic" style="display: inline-block;">
                            <img id="profilepic" src="@Url.Content(u.PhotoUrl ?? "~/Content/images/NoProfilePic.gif")" />
                        </div>
                        <span class="text-primary" style="vertical-align: top;">@u.FullName</span>
                    </td>
                    <td>
                        @u.Address @u.City, @u.State @u.ZipCode
                    </td>
                    <td>
                        <a class="btn btn-primary" href="@Url.Action("RemoveRoleUser", new { id = u.Id, role = Model.Roles.Where(r => r.Id == Model.Role.Id).FirstOrDefault().Name })">Remove User</a>
                    </td>
                </tr>
            }
        </table>
    }
</div>

@section Scripts
{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryUI")

    <script>
        $('#newuser').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("Search", "Dancer", new { Area = "" })',
                    data: { searchString: request.term },
                    dataType: 'json',
                    type: 'GET',
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Name,
                                value: item.Id
                            }
                        }));
                    }
                })
            },
            select: function (event, ui) {
                $('#newuser').val(ui.item.label);
                $('#UserId').val(ui.item.value);
                return false;
            },
            minLength: 1
        });
    </script>
}
