@model EDR.Areas.Admin.Models.ViewModels.RolesViewModel
@{
    ViewBag.Title = "Roles";
}

<h2>All Roles <a class="btn btn-primary" href="@Url.Action("AddUser")">Add a User</a> </h2>
<div class="container">
    @using (Html.BeginForm("Index"))
    {
        <div class="row">
            <div class="form-group">
                @Html.Label("Role", htmlAttributes: new { @class = "control-label input-lg col-lg-2 col-md-2 col-sm-2 col-xs-2" })
                @Html.DropDownListFor(m => m.Role.Id, new SelectList(Model.Roles, "Id", "Name", Model.Role.Id), "-- Select a Role --", new { @class = "form-control", @onchange = "this.form.submit();" })
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, htmlAttributes: new { @class = "control-label col-md-2 col-lg-2" })
                @Html.TextBoxFor(m => m.FirstName, null, new { @class = "form-control", @placeholder = "Joe" })
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(m => m.LastName, htmlAttributes: new { @class = "control-label col-md-2 col-lg-2" })
                @Html.TextBoxFor(m => m.LastName, null, new { @class = "form-control", @placeholder = "Smith" })
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-warning" />
            </div>
        </div>
    }

    @if (Model.Users != null && Model.Users.Count() != 0)
    {
        <h4>Current Users</h4>
        foreach (var u in Model.Users)
        {
            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" title="@u.Id">
                <div class="col-lg-6 col-md-6">
                    <div class="captionpic" style="display: inline-block;">
                        @if (u.UserPictures != null && u.UserPictures.Count > 0)
                        {
                            <img class="pull-left" src="@Url.Content(u.UserPictures.First().ThumbnailFilename)" />
                        }
                        else
                        {
                            <img class="pull-left" style="width: 40px;" src="@Url.Content("~/Content/images/NoPic.png")" />
                        }
                    </div>
                    <div style="display: inline-block; vertical-align: top;">
                        <span class="text-primary" style="vertical-align: top;">@u.FullName</span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <a class="btn btn-primary" href="@Url.Action("RemoveRoleUser", new { id = u.Id, role = Model.Roles.Where(r => r.Id == Model.Role.Id).FirstOrDefault().Name })">Remove User</a>
                </div>
            </div>
        }
    }
</div>

