@model EDR.Models.OrganizationMember

<tr>
    @Html.HiddenFor(model => model.Id)
    <td>
        @Html.DisplayFor(model => model.User.FullName)
    </td>
    <td>
        @Html.EditorFor(model => model.Admin)
    </td>
    <td>
        @if (Model.User.UserName != User.Identity.Name)
        {
            if (Model.Organization is EDR.Models.Team)
            {
                <a class="text-danger" title="Delete" href="@Url.Action("RemoveMember", "Team", new { id = Model.OrganizationId, memberid = Model.UserId })">
                    <i class="glyphicon glyphicon-remove-circle"></i>
                </a>
            }
            else if (Model.Organization is EDR.Models.School)
            {
                <a class="text-danger" title="Delete" href="@Url.Action("RemoveMember", "School", new { id = Model.OrganizationId, memberid = Model.UserId })">
                    <i class="glyphicon glyphicon-remove-circle"></i>
                </a>
            }
        }
    </td>
</tr>

